Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - commonmark==0.9.1
  - pyyaml==6.0.1
  - beautifulsoup4==4.9.3

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - commonmark==0.9.1
  - pyyaml==6.0.1
  - beautifulsoup4==4.9.3

chore: gitignore .pyd files (#4798)
  .gitignore
Due: none

doc: Add note to changelog to use PR numbers (#4801)
  CHANGES.md
  scripts/release.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

resolved comments
  CHANGES.md
  src/black/comments.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add changelog entry for PR #4610
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Move changelog entry to Output section
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove unused import
  src/black/__init__.py
Due: none

Write unchanged content to stdout when excluding formating from stdin (#4610)
  CHANGES.md
  src/black/__init__.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

feat: add --nocache option to prevent cache during formatting
  src/black/__init__.py
  src/black/concurrency.py
  tests/test_black.py
Due: none

fix: improve formatting help text and adjust indentation in concurrency module
  src/black/__init__.py
  src/black/concurrency.py
Due: none

chore: rename nocache option to no-cache for consistency
  src/black/__init__.py
  src/black/concurrency.py
Due: none

feat: add change log for no-cache and rename the option in test
  CHANGES.md
  src/test.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

change --nocache option arg option to --no-cache
  src/test.py
  tests/test_black.py
Due: none

feat: add documentation and tests for --no-cache flag functionality
  docs/usage_and_configuration/file_collection_and_discovery.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
  tests/test_black.py
Due: check-version-in-the-basics-example

fix indentation in --no-cache flag
  src/black/__init__.py
Due: none

fix: correct indentation in help text for --no-cache flag
  src/black/__init__.py
Due: none

run black formatting on repo
  tests/test_black.py
Due: none

regenerate schema
  src/black/resources/black.schema.json
Due: none

Add inital CI for 3.14
  .github/workflows/test.yml
  pyproject.toml
  tox.ini
Due: none

Add CHANGES.md entries
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add inital CI for 3.14 (#4804)
  .github/workflows/test.yml
  CHANGES.md
  pyproject.toml
  tox.ini
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

[WIP] t-string support
  pyproject.toml
  src/black/lines.py
  src/black/nodes.py
  src/blib2to3/Grammar.txt
  src/blib2to3/pgen2/driver.py
  src/blib2to3/pgen2/token.py
  src/blib2to3/pgen2/tokenize.py
  tests/data/cases/pep_750.py
Due: none

Docs: Add module docstrings to __init__.py files for preview-style features
  src/black/__init__.py
  src/blackd/__init__.py
Due: none

Made slight changes for readability
  action.yml
Due: none

Add fuzz tests to run in 3.14
  .github/workflows/fuzz.yml
Due: none

Add async edge case: default parameters and tuple unpacking
  tests/data/cases/async_stmts.py
Due: none

fix failing test case on 3.14
  src/black/linegen.py
  src/black/nodes.py
  src/black/strings.py
Due: none

oh yeah we do string normalization now
  tests/data/cases/pep_750.py
Due: none

Add changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix mypy
  src/blib2to3/pygram.py
Due: none

use py314 branch of pytokens in pre-commit
  .pre-commit-config.yaml
Due: none

Fix #1245: Preserve comment formatting in fmt:off/on blocks
  CHANGES.md
  src/black/comments.py
  src/black/linegen.py
  tests/data/cases/fmtonoff.py
  tests/data/cases/fmtskip7.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Formatting
  CHANGES.md
  src/black/comments.py
  src/black/linegen.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Clarify GitLab and GitHub support for blame ignore
  docs/guides/introducing_black_to_your_project.md
Due: none

Add fuzz tests to run in 3.14 (#4809)
  .github/workflows/fuzz.yml
Due: none

feat: add --no-cache option to prevent cache during formatting (#4803)
  CHANGES.md
  docs/usage_and_configuration/file_collection_and_discovery.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
  src/black/concurrency.py
  src/black/resources/black.schema.json
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Clarify GitLab support for blame ignore (#4812)
  docs/guides/introducing_black_to_your_project.md
Due: none

Run Black
  src/black/comments.py
Due: none

Small refactors, I realized it's cleaner this way
  src/black/comments.py
Due: none

fix_fmt_skip_in_one_liners (#4800)
  CHANGES.md
  src/black/comments.py
  tests/data/cases/fmtskip10.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

add arm64 windows to Tests
  .github/workflows/test.yml
Due: none

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(profiling/|tests/data/)
