Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - commonmark==0.9.1
  - pyyaml==6.0.1
  - beautifulsoup4==4.9.3

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - commonmark==0.9.1
  - pyyaml==6.0.1
  - beautifulsoup4==4.9.3

Make changelog entry less opinionated
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

More exhaustive test cases
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets.py
Due: none

Add test cases
  tests/data/cases/preview_allow_empty_first_line_in_special_cases.py
Due: none

Allow empty first line in special cases
  src/black/lines.py
  src/black/mode.py
  src/black/nodes.py
Due: none

Add changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update PR number
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Allow empty line after block open before a comment or compound statement (#3967)
  CHANGES.md
  src/black/lines.py
  src/black/mode.py
  src/black/nodes.py
  tests/data/cases/preview_allow_empty_first_line_in_special_cases.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Move Docker image to hatch + compile (#3965)
  CHANGES.md
  Dockerfile
  docs/usage_and_configuration/black_docker_image.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add `summary` parameter change
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add summary parameter to action (#3958)
  CHANGES.md
  action.yml
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: specifies the use of the .git-blame-ignore-revs file (#3961)
  docs/guides/introducing_black_to_your_project.md
Due: none

Fix CI failing (#3957)
  CHANGES.md
  action.yml
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prepare release 23.10.1
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update docs/usage_and_configuration/the_basics.md
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Prepare release 23.10.1 (#3969)
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Put feature behind Preview toggle
  src/black/__init__.py
  src/black/comments.py
  src/black/mode.py
Due: none

Add preview flag to tests
  tests/data/cases/fmtskip9.py
Due: none

Rename test file
  tests/data/cases/preview_single_line_format_skip_with_multiple_comments.py
Due: none

Add Unreleased template to CHANGES.md - Did this via tool working on in another branch
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add Unreleased template to CHANGES.md (#3973)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add release tool
  .github/workflows/release_tests.yml
  docs/contributing/release_process.md
  release.py
  release_tests.py
Due: none

Add test cases
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets.py
Due: none

More robust block detection
  src/black/linegen.py
Due: none

Add testcase for `include` with absolute path
  tests/test_black.py
Due: none

Fix path normalization for `include` with absolute path
  src/black/files.py
Due: none

Fix lints + add git to release CI
  .github/workflows/release_tests.yml
  release.py
  release_tests.py
Due: none

Add testcase for `exclude` with absolute path
  tests/test_black.py
Due: none

Only run CI on linux/ubuntu for now
  .github/workflows/release_tests.yml
Due: none

Add change to CHANGES
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix pull request number in CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix formatting
  tests/test_black.py
Due: none

Move changelog line to correct place
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add lots of debug printing + directly run unitests (not via coverage)
  .github/workflows/release_tests.yml
  release.py
  release_tests.py
Due: none

Overloading __str__ is bad on a TestCase
  release_tests.py
Due: none

Add more logging around git tag
  release.py
Due: none

Print where git is in a step
  .github/workflows/release_tests.yml
Due: none

Rollback creating a fake black repo as we were not using it - I did plan to but I can't get it working on GitHub actions
  .github/workflows/release_tests.yml
  release.py
  release_tests.py
Due: none

[925] Improve multiline dictionary and list indentation for sole function parameter (#3964)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets.py
  tests/data/cases/preview_long_strings__regression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

remove unrelated change
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(profiling/|tests/data/)
