Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          - beautifulsoup4>=4.14.2
          - commonmark==0.9.1
          - pyyaml==6.0.1

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies:
          - beautifulsoup4>=4.14.2
          - commonmark==0.9.1

  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==24.2.6
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        exclude: ^docs/conf.py$
        args: []
        additional_dependencies:
          # Click is intentionally out-of-sync with pyproject.toml
          # v8.2 has breaking changes. We work around them at runtime, but we need the newer stubs.
          - click>=8.2.0
          - packaging>=22.0
          - platformdirs>=2
          - pytokens>=0.3.0
          - tomli>=1.1.0,<2.0.0

          # blackd
          - aiohttp>=3.10

          # tests
          - pytest>=7

          # fuzz
          - hypothesis
          - hypothesmith
          - types-atheris

          # diff-shades
          - urllib3

          # version check
          - beautifulsoup4>=4.14.2
          - types-commonmark
          - types-pyyaml

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: weekly

Add return annotation splitting edge cases
  src/black/trans.py
  tests/data/cases/preview_return_annotation_brackets_string.py
Due: none

Remove redundant parentheses around lists (#608)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/nodes.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_redundant_list_parentheses.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update CHANGES.md with PR number (#5431)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix unclosed file handles in Converter.parse_graminit_h/_c
  src/blib2to3/pgen2/conv.py
Due: none

Simplify nested stringify_node recursion
  src/black/comments.py
Due: none

Return HTTP 400 for an empty `X-Python-Variant` entry in blackd (#5428)
  CHANGES.md
  src/blackd/__init__.py
  tests/test_blackd.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove unnecessary parentheses in unpacking targets (#3080) (#5416)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_unpacking_parens.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Gate issue 3925 fix behind preview
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/issue_3925.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Avoid overlong commented RHS splits
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/issue_3925.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Gate commented RHS formatting as a preview feature
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
Due: none

Fix crash on `# fmt: skip` in a decorated function group in stubs
  CHANGES.md
  src/black/lines.py
  tests/data/cases/pyi_overload_groups_fmt_skip.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix a crash when `# type: ignore` is lost during formatting (#5329)
  CHANGES.md
  src/black/trans.py
  tests/data/cases/preview_comments7.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix unclosed file handles in Converter.parse_graminit_h/_c (#5432)
  src/blib2to3/pgen2/conv.py
Due: none

Fix crash on `# fmt: skip` in a decorated function group in stubs (#5430)
  CHANGES.md
  src/black/lines.py
  tests/data/cases/pyi_overload_groups_fmt_skip.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Clarify commented RHS preview feature
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/issue_3925.py
Due: none

Fix splitting stringified return annotations with parameters (#5427)
  CHANGES.md
  src/black/linegen.py
  src/black/trans.py
  tests/data/cases/preview_return_annotation_brackets_string.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Format
  src/black/comments.py
Due: none

Preserve type ignores in attribute chains (#5297)
  CHANGES.md
  src/black/linegen.py
  src/black/lines.py
  tests/data/cases/type_ignore_attribute_chain.py
  tests/data/cases/type_ignore_attribute_chain_unstable.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix git checkout command for Vundle in editor docs (#2781) (#5398)
  CHANGES.md
  docs/integrations/editors.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Keep paired fmt: skip comments on compound headers (#5401)
  CHANGES.md
  src/black/comments.py
  tests/data/cases/fmtskip_paired_header.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fall back to the default configuration when sources share no project root (#5386)
  CHANGES.md
  src/black/__init__.py
  src/black/files.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Don't wrap part of an unmerged implicit string concatenation in parens
  CHANGES.md
  src/black/trans.py
  tests/data/cases/preview_long_strings__regression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Test that a first string that fits is split without parens
  tests/data/cases/preview_long_strings__regression.py
Due: none

Wrap the whole unmerged implicit concatenation in parens
  CHANGES.md
  src/black/linegen.py
  src/black/trans.py
  tests/data/cases/preview_long_strings__regression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add --cache-dir CLI option
  CHANGES.md
  docs/usage_and_configuration/file_collection_and_discovery.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
  src/black/cache.py
  src/black/concurrency.py
  src/black/nodes.py
  src/black/resources/black.schema.json
  src/blib2to3/pgen2/driver.py
  src/blib2to3/pygram.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Pass strict=False to the prefix zip in the fmt: skip walk
  src/black/comments.py
Due: none

Generalize commented RHS wrapping guard
  src/black/linegen.py
  tests/data/cases/issue_3925.py
Due: none

Keep dictionary keys with operators together in preview (#3442)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_keep_dict_keys_with_operators.py
  tests/data/cases/preview_long_strings.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update changelog entry with PR number (#5435)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix line-range mapping for repeated unchanged lines
  README.md
  docs/usage_and_configuration/the_basics.md
  src/black/ranges.py
  tests/data/cases/line_ranges_diff_edge_case.py
  tests/test_black.py
  tests/test_ranges.py
Due: check-version-in-the-basics-example

Document line-range fix in changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Retain line-range warning for remaining ambiguous cases
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Anchor exclusions to an explicit ancestor config
  README.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
  tests/test_black.py
Due: check-version-in-the-basics-example

Document nested config root fix
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Place config guidance beside README documentation links
  README.md
Due: none

Put nested config fix in configuration changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Preserve disjoint ranges across identical middle lines
  src/black/ranges.py
  tests/test_black.py
  tests/test_ranges.py
Due: none

Keep the CRLF ending of the line skipped by --skip-source-first-line
  CHANGES.md
  src/black/__init__.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix preview blank lines after a stub method
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  src/black/mode.py
  tests/data/cases/blank_line_after_stub_method.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: keep load-bearing parens on a tuple used as a with item
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/tuple_as_only_contextmanager.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example
