Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==6.0.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        exclude: ^(docs/conf.py|scripts/generate_schema.py)$
        args: []
        additional_dependencies: &mypy_deps
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - click >= 8.1.0, != 8.1.4, != 8.1.5
          - packaging >= 22.0
          - platformdirs >= 2.1.0
          - pytest
          - hypothesis
          - aiohttp >= 3.7.4
          - types-commonmark
          - urllib3
          - hypothesmith
      - id: mypy
        name: mypy (Python 3.10)
        files: scripts/generate_schema.py
        args: ["--python-version=3.10"]
        additional_dependencies: *mypy_deps

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: quarterly

Add caution to the playground mention (#4352)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

docker: Install the compiled wheel then install extras dependencies
  Dockerfile
Due: none

Update changes
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docker: Install the compiled wheel then install extras dependencies (#4357)
  CHANGES.md
  Dockerfile
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Make sure Black doesn't crash when `fmt:off` is used before a closing paren.
  src/black/comments.py
  tests/data/cases/fmtonoff6.py
Due: none

Simplify the implementation to make the linter happy.
  src/black/comments.py
Due: none

Update changelog.
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Make sure Black doesn't crash when `fmt:off` is used before a closing paren (#4363)
  CHANGES.md
  src/black/comments.py
  tests/data/cases/fmtonoff6.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix formatting of backslash escaped quote inside f-string
  src/black/linegen.py
Due: none

Added FSTRING_PARSING to context_manager_features in LineGenerator. This will determine the removal of escaped quotes.
  src/black/__init__.py
  src/black/linegen.py
Due: none

Implementation few f-string problems on 3.12 python version
  CHANGES.md
  src/black/linegen.py
  src/black/strings.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

"Update linegen.py, strings.py, and pep_701.py with minor changes to token handling, string normalization, and f-string quotes."
  src/black/linegen.py
  src/black/strings.py
  tests/data/cases/pep_701.py
Due: none

tokenizer: skip lines that are just slash and whitespace (#4343)
  AUTHORS.md
  CHANGES.md
  src/blib2to3/pgen2/tokenize.py
  tests/data/cases/backslash_before_indent.py
  tests/data/cases/comment_after_escaped_newline.py
  tests/data/cases/form_feeds.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix(preview): Don't remove parenthesis around long dictionary values
  src/black/lines.py
  src/black/trans.py
  tests/data/cases/preview_long_dict_values_2.py
Due: none

update lib2to3_parse error message with version and grammar information
  src/black/parsing.py
Due: none

update tests
  tests/test_black.py
  tests/test_format.py
Due: none

update changes.md and documentation
  CHANGES.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

added PR number
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Split into multiple features
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_remove_lone_list_item_parens.py
  tests/data/cases/preview_remove_sole_list_item_parens.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

regen schema
  src/black/resources/black.schema.json
Due: none

Update `actions/checkout`
  docs/integrations/github_actions.md
Due: none

fix: Use node type instead of leaf type
  src/black/lines.py
Due: none

`npx prettier . --write`
  docs/contributing/release_process.md
  docs/usage_and_configuration/black_docker_image.md
Due: none

Fix the fmt: skip issues. Changed a test case also
  CHANGES.md
  src/black/comments.py
  tests/data/cases/single_line_format_skip_with_multiple_comments.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

undo docs reformatting
  docs/contributing/release_process.md
  docs/usage_and_configuration/black_docker_image.md
Due: none

Fix use of deprecated ast.Str
  src/black/handle_ipynb_magics.py
Due: none

Fix use of deprecated ast.Str (#4393)
  src/black/handle_ipynb_magics.py
Due: none

Fix wheel build
  pyproject.toml
Due: none

Fix wheel build by using newer manylinux image (#4394)
  pyproject.toml
Due: none

Bump cibuildwheel to 2.19.2
  .github/workflows/pypi_upload.yml
Due: none

Bump cibuildwheel to 2.19.2 (#4395)
  .github/workflows/pypi_upload.yml
Due: none

remove spurious changes
  docs/contributing/release_process.md
  docs/usage_and_configuration/black_docker_image.md
Due: none

Update `actions/checkout` to v4 to stop node deprecation warnings (#4379)
  docs/integrations/github_actions.md
Due: none

fix: don't try to format internal f-strings
  src/black/linegen.py
  tests/data/cases/pep_701.py
Due: none

format
  src/black/linegen.py
Due: none

Add changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: avoid formatting backslash strings inside f-strings (#4401)
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/pep_701.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix Type hint
  tests/data/cases/composition.py
Due: none

docs: fix the installation command of extra for blackd
  docs/contributing/the_basics.md
Due: check-version-in-the-basics-example

docs: fix the installation command of extra for blackd (#4413)
  docs/contributing/the_basics.md
Due: check-version-in-the-basics-example
