Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==6.0.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        exclude: ^(docs/conf.py|scripts/generate_schema.py)$
        args: []
        additional_dependencies: &mypy_deps
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - click >= 8.1.0, != 8.1.4, != 8.1.5
          - packaging >= 22.0
          - platformdirs >= 2.1.0
          - pytest
          - hypothesis
          - aiohttp >= 3.7.4
          - types-commonmark
          - urllib3
          - hypothesmith
      - id: mypy
        name: mypy (Python 3.10)
        files: scripts/generate_schema.py
        args: ["--python-version=3.10"]
        additional_dependencies: *mypy_deps

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: quarterly

Fix crashes with comments in parentheses (#4453)
  CHANGES.md
  src/black/linegen.py
  src/black/nodes.py
  src/black/trans.py
  tests/data/cases/funcdef_return_type_trailing_comma.py
  tests/data/cases/function_trailing_comma.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Use builtin generics
  src/black/__init__.py
  src/black/_width_table.py
  src/black/brackets.py
  src/black/cache.py
  src/black/comments.py
  src/black/concurrency.py
  src/black/debug.py
  src/black/files.py
  src/black/handle_ipynb_magics.py
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  src/black/nodes.py
  src/black/output.py
  src/black/parsing.py
  src/black/ranges.py
  src/black/strings.py
  src/black/trans.py
  src/blackd/__init__.py
  src/blib2to3/pgen2/driver.py
  src/blib2to3/pgen2/grammar.py
  src/blib2to3/pgen2/literals.py
  src/blib2to3/pgen2/parse.py
  src/blib2to3/pgen2/pgen.py
  src/blib2to3/pgen2/token.py
  src/blib2to3/pgen2/tokenize.py
  src/blib2to3/pytree.py
Due: none

Use builtin generics (#4458)
  src/black/__init__.py
  src/black/_width_table.py
  src/black/brackets.py
  src/black/cache.py
  src/black/comments.py
  src/black/concurrency.py
  src/black/debug.py
  src/black/files.py
  src/black/handle_ipynb_magics.py
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  src/black/nodes.py
  src/black/output.py
  src/black/parsing.py
  src/black/ranges.py
  src/black/strings.py
  src/black/trans.py
  src/blackd/__init__.py
  src/blib2to3/pgen2/driver.py
  src/blib2to3/pgen2/grammar.py
  src/blib2to3/pgen2/literals.py
  src/blib2to3/pgen2/parse.py
  src/blib2to3/pgen2/pgen.py
  src/blib2to3/pgen2/token.py
  src/blib2to3/pgen2/tokenize.py
  src/blib2to3/pytree.py
Due: none

Use venv for uv to fix 'failed to create directory'
  .github/workflows/doc.yml
Due: none

Fix docs CI: use venv for uv to fix 'failed to create directory' (#4460)
  .github/workflows/doc.yml
Due: none

Fix skipping Jupyter cells with unknown %% magic
  src/black/__init__.py
  src/black/handle_ipynb_magics.py
  tests/test_ipynb.py
Due: none

Updated CHANGES.md with PR number
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove unused import from __init__ module
  src/black/__init__.py
Due: none

Fix skipping Jupyter cells with unknown %% magic (#4462)
  CHANGES.md
  src/black/__init__.py
  src/black/handle_ipynb_magics.py
  tests/test_ipynb.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Rename plugin/black.vim to ftplugin/python.vim
  ftplugin/python.vim
Due: none

Include --unstable in cache key
  CHANGES.md
  src/black/mode.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

try this
  tests/test_blackd.py
Due: none

comment
  tests/test_blackd.py
Due: none

Include --unstable in cache key (#4466)
  CHANGES.md
  src/black/mode.py
  tests/test_black.py
  tests/test_blackd.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

is_type_comment now checks for extra or zero spaces (#2097)
  src/black/nodes.py
  tests/test_nodes.py
Due: none

Standardize type comments to always have one space (#2698)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/comments.py
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  src/black/nodes.py
  src/black/resources/black.schema.json
  tests/data/cases/type_comment_syntax.py
  tests/data/cases/type_comment_syntax_error.py
  tests/data/cases/type_comment_syntax_preview.py
  tests/test_nodes.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

squashed changes
  .github/workflows/pypi_upload.yml
  pyproject.toml
Due: none

Update future_style.md
  docs/the_black_code_style/future_style.md
Due: none

Remove from unstable style
  src/black/mode.py
Due: none

update changelog
  CHANGES.md
  pyproject.toml
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add mypyc 3.13 wheel build (#4449)
  .github/workflows/pypi_upload.yml
  CHANGES.md
  pyproject.toml
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prepare release 24.10.0
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prepare release 24.10.0 (#4471)
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Clean up Python 3.8 remnants
  README.md
  autoload/black.vim
  docs/faq.md
  docs/getting_started.md
  docs/integrations/editors.md
  docs/usage_and_configuration/the_basics.md
  plugin/black.vim
  tests/data/cases/context_managers_38.py
  tests/data/cases/context_managers_39.py
  tests/data/cases/context_managers_autodetect_39.py
  tests/data/cases/pep_570.py
  tests/data/cases/pep_572.py
  tests/data/cases/pep_572_py39.py
  tests/data/cases/pep_572_remove_parens.py
  tests/data/cases/python37.py
  tests/data/cases/python38.py
  tests/data/cases/python39.py
  tests/data/cases/remove_with_brackets.py
  tox.ini
Due: check-version-in-the-basics-example

Clean up Python 3.8 remnants (#4473)
  README.md
  autoload/black.vim
  docs/faq.md
  docs/getting_started.md
  docs/integrations/editors.md
  docs/usage_and_configuration/the_basics.md
  plugin/black.vim
  tests/data/cases/context_managers_38.py
  tests/data/cases/context_managers_39.py
  tests/data/cases/context_managers_autodetect_39.py
  tests/data/cases/pep_570.py
  tests/data/cases/pep_572.py
  tests/data/cases/pep_572_py39.py
  tests/data/cases/pep_572_remove_parens.py
  tests/data/cases/python37.py
  tests/data/cases/python38.py
  tests/data/cases/python39.py
  tests/data/cases/remove_with_brackets.py
  tox.ini
Due: check-version-in-the-basics-example

improve code
  src/black/numerics.py
Due: none

commiting to remove function redefinition
  tests/data/miscellaneous/force_py36.py
Due: none

Store license identifier inside the License-Expression metadata field
  CHANGES.md
  pyproject.toml
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix documentation tests
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

New changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Store license identifier inside the License-Expression metadata field (#4479)
  CHANGES.md
  pyproject.toml
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Combine multiple f-strings into one when appropriate
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/combine-fstring.py
  tests/data/cases/combine-multi-line-fstring.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

add PR number
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

run black on self
  src/black/linegen.py
Due: none

Fix formatting cells with magic methods and starting or trailing empty lines
  src/black/handle_ipynb_magics.py
  tests/test_ipynb.py
Due: none

Add #4484 fix to CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update CHANGES.md according to code review
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix formatting cells with magic methods and starting or trailing empty lines (#4484)
  CHANGES.md
  src/black/handle_ipynb_magics.py
  tests/test_ipynb.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Replace remaining aliases to built-in types
  gallery/gallery.py
  scripts/make_width_table.py
  tests/optional.py
  tests/test_black.py
  tests/test_docs.py
  tests/test_ranges.py
  tests/test_tokenize.py
  tests/test_trans.py
  tests/util.py
Due: none
