Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(src/blib2to3/|profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==5.4.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
      - id: mypy
        exclude: ^docs/conf.py
        additional_dependencies:
          - types-dataclasses >= 0.1.3
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - types-typed-ast >= 1.4.1
          - click >= 8.1.0
          - platformdirs >= 2.1.0
          - pytest
          - hypothesis

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

docs: Update CLI argument help text
  src/black/__init__.py
Due: none

fix: Fix mypy error
  src/black/files.py
Due: none

Merge some small functions
  src/black/files.py
Due: none

test: Add tests for inferred target version
  tests/data/project_metadata/both_pyproject.toml
  tests/data/project_metadata/neither_pyproject.toml
  tests/data/project_metadata/only_black_pyproject.toml
  tests/data/project_metadata/only_metadata_pyproject.toml
  tests/test_black.py
Due: none

Wrap multiple context managers in parentheses when targeting Python 3.9+ (#3489)
  CHANGES.md
  src/black/__init__.py
  src/black/linegen.py
  src/black/mode.py
  tests/data/preview_context_managers/auto_detect/features_3_10.py
  tests/data/preview_context_managers/auto_detect/features_3_11.py
  tests/data/preview_context_managers/auto_detect/features_3_8.py
  tests/data/preview_context_managers/auto_detect/features_3_9.py
  tests/data/preview_context_managers/targeting_py38.py
  tests/data/preview_context_managers/targeting_py39.py
  tests/test_format.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Specify python binary path with minor version (#3507)
  CHANGES.md
  autoload/black.vim
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix an invalid quote escaping bug in f-string expressions.
  CHANGES.md
  src/black/trans.py
  tests/data/preview/long_strings__regression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Clarify the code comment.
  src/black/trans.py
Due: none

Oops, format our selves. (why didn't my pre-commit fail?)
  src/black/trans.py
Due: none

Update changelog based on the diff-shades results.
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Reenable macOS mypyc wheel build
  .github/workflows/pypi_upload.yml
Due: none

Reenable macOS mypyc wheel build (#3511)
  .github/workflows/pypi_upload.yml
Due: none

Use dashes for pycodestyle max line length config
  docs/guides/using_black_with_other_tools.md
Due: none

Add sorted() for PYTHON_CELL_MAGICS set printed in help
  src/black/__init__.py
Due: none

Use dashes for pycodestyle max line length config (#3513)
  docs/guides/using_black_with_other_tools.md
Due: none

Update CHANGES.md for #3516
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Format hex code in unicode escape sequences in string literals (#2916)
  CHANGES.md
  src/black/linegen.py
  src/black/mode.py
  src/black/strings.py
  tests/data/preview/format_unicode_escape_seq.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix an invalid quote escaping bug in f-string expressions (#3509)
  CHANGES.md
  src/black/trans.py
  tests/data/preview/long_strings__regression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update document now that paren wrapping CMs on Python 3.9+ is implemented.
  docs/the_black_code_style/future_style.md
Due: none

Mention preview mode.
  docs/the_black_code_style/future_style.md
Due: none

Update document now that paren wrapping CMs on Python 3.9+ is implemented (#3520)
  docs/the_black_code_style/future_style.md
Due: none

Fix `black --help` output for `--python-cell-magics` option to be reproducible (#3516)
  CHANGES.md
  src/black/__init__.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fork into Tan
  .github/dependabot.yml
  .pre-commit-hooks.yaml
  docs/conf.py
  docs/usage_and_configuration/black_as_a_server.md
  docs/usage_and_configuration/the_basics.md
  pyproject.toml
  src/black/cache.py
  tox.ini
Due: check-version-in-the-basics-example

Add a --use-tabs argument to use tabs instead of spaces
  src/black/__init__.py
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  src/black/strings.py
  tests/data/tabs/docstring_tabs.py
  tests/data/tabs/line_length_tabs.py
  tests/data/tabs/long_first_line.py
  tests/test_format.py
Due: none

Add a --use-tabs argument to use tabs instead of spaces
  pyproject.toml
  src/black/__init__.py
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  src/black/strings.py
  tests/data/tabs/docstring_tabs.py
  tests/data/tabs/line_length_tabs.py
  tests/data/tabs/long_first_line.py
  tests/test_format.py
Due: none

Fix infinite recursion
  src/black/linegen.py
Due: none

Update Python version in the_basics.md
  docs/contributing/the_basics.md
Due: check-version-in-the-basics-example

Update docs/contributing/the_basics.md
  docs/contributing/the_basics.md
Due: check-version-in-the-basics-example

pass prettier
  docs/contributing/the_basics.md
Due: check-version-in-the-basics-example

Remove Python version in the_basics.md (#3528)
  docs/contributing/the_basics.md
Due: check-version-in-the-basics-example

fix up merge
  src/black/__init__.py
  src/black/mode.py
Due: none

now we do remove them
  tests/data/py_38/pep_572_remove_parens.py
Due: none

Fix unsafe cast in linegen.py
  CHANGES.md
  src/black/linegen.py
  tests/data/preview/remove_await_parens.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Upgrade isort
  .pre-commit-config.yaml
Due: none

Upgrade isort (#3534)
  .pre-commit-config.yaml
Due: none

Fix unsafe cast in linegen.py w/ await yield handling (#3533)
  CHANGES.md
  src/black/linegen.py
  tests/data/preview/remove_await_parens.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Try 3.10 grammar more often + remove redundant out()
  src/black/__init__.py
  src/black/parsing.py
Due: none

Update style docs
  docs/the_black_code_style/current_style.md
  docs/the_black_code_style/future_style.md
Due: none
