Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==6.0.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        exclude: ^docs/conf.py
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies:
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - click >= 8.1.0, != 8.1.4, != 8.1.5
          - packaging >= 22.0
          - platformdirs >= 2.1.0
          - pytest
          - hypothesis
          - aiohttp >= 3.7.4
          - types-commonmark
          - urllib3
          - hypothesmith

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: quarterly

modify minimum version for new unit tests
  tests/data/cases/pattern_matching_long.py
  tests/data/cases/pattern_matching_trailing_comma.py
Due: none

Add changes.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Adding a fix for "case case:" scenario, modified unit tests
  src/black/linegen.py
  tests/data/cases/pattern_matching_extras.py
  tests/data/cases/pattern_matching_generic.py
  tests/data/cases/pattern_matching_long.py
Due: none

trigger for another GitHub Action run
  src/black/linegen.py
Due: none

Another try on CI
  src/black/linegen.py
Due: none

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix arm wheels on macOS (#4017)
  .github/workflows/pypi_upload.yml
  CHANGES.md
  pyproject.toml
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

channel modifications to preview mode, unit test also modified
  src/black/linegen.py
  src/black/mode.py
  tests/data/cases/pattern_matching_extras.py
  tests/data/cases/preview_pattern_matching_long.py
  tests/data/cases/preview_pattern_matching_trailing_comma.py
Due: none

Keep requiring two empty lines between module-level docstring and first function or class definition.
  CHANGES.md
  src/black/lines.py
  tests/data/cases/module_docstring_followed_by_class.py
  tests/data/cases/module_docstring_followed_by_function.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Preview: Keep requiring two empty lines between module-level docstring and first function or class definition (#4028)
  CHANGES.md
  src/black/lines.py
  tests/data/cases/module_docstring_followed_by_class.py
  tests/data/cases/module_docstring_followed_by_function.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix crash with f-string docstrings (#4019)
  CHANGES.md
  src/black/nodes.py
  tests/data/cases/docstring_preview.py
  tests/data/cases/f_docstring.py
  tests/data/cases/preview_docstring_no_string_normalization.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update docs/usage_and_configuration/the_basics.md
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Update src/black/ranges.py
  src/black/ranges.py
Due: none

Update tests/test_ranges.py
  tests/test_ranges.py
Due: none

Use keywords args to create _LinesMapping.
  src/black/ranges.py
Due: none

Support formatting specified lines (#4020)
  CHANGES.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
  src/black/nodes.py
  src/black/ranges.py
  tests/data/cases/line_ranges_basic.py
  tests/data/cases/line_ranges_fmt_off.py
  tests/data/cases/line_ranges_fmt_off_decorator.py
  tests/data/cases/line_ranges_fmt_off_overlap.py
  tests/data/cases/line_ranges_imports.py
  tests/data/cases/line_ranges_indentation.py
  tests/data/cases/line_ranges_two_passes.py
  tests/data/cases/line_ranges_unwrapping.py
  tests/data/invalid_line_ranges.toml
  tests/data/line_ranges_formatted/basic.py
  tests/data/line_ranges_formatted/pattern_matching.py
  tests/test_black.py
  tests/test_format.py
  tests/test_ranges.py
  tests/util.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Do not hug if the argument fits in a single line.
  src/black/cache.py
  src/black/linegen.py
  src/black/lines.py
  src/blackd/middlewares.py
  src/blib2to3/pgen2/tokenize.py
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets.py
Due: none

Wrap access to internals in a function
  src/black/brackets.py
  src/black/lines.py
Due: none

Add test cases involving :=
  tests/data/cases/preview_long_strings.py
Due: none

Fix long case blocks not split into multiple lines (#4024)
  CHANGES.md
  src/black/linegen.py
  src/black/mode.py
  tests/data/cases/pattern_matching_extras.py
  tests/data/cases/preview_pattern_matching_long.py
  tests/data/cases/preview_pattern_matching_trailing_comma.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Use magic_trailing_comma instead of should_split_rhs for the shortcut.
  src/black/linegen.py
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets.py
Due: none

Fix crash.
  src/black/linegen.py
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets.py
Due: none

[563] Fix standalone comments inside complex blocks crashing Black (#4016)
  CHANGES.md
  src/black/brackets.py
  src/black/linegen.py
  src/black/lines.py
  tests/data/cases/comments_in_blocks.py
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Apply force exclude logic before symlink resolution (#4015)
  CHANGES.md
  src/black/__init__.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: fix minor typo
  docs/the_black_code_style/current_style.md
Due: none

simplify further
  src/black/comments.py
  src/black/linegen.py
  src/black/lines.py
  src/black/nodes.py
Due: none

Preserve visible quote types for f-string debug expressions (#4005)
  CHANGES.md
  src/black/trans.py
  tests/data/cases/preview_long_strings.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove redundant condition from `has_magic_trailing_comma` (#4023)
  src/black/lines.py
Due: none

Prepare release 23.11.0
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prepare release 23.11.0 (#4032)
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix function reference
  docs/contributing/reference/reference_functions.rst
Due: none
