Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

mypy:
  name: mypy
  language: system
  entry: mypy

assert equivalence on 3.8
  tests/test_black.py
Due: black, flake8, mypy

Support PEP-570 (positional only arguments) (#946)
  black.py
  blib2to3/Grammar.txt
  tests/data/pep_570.py
  tests/test_black.py
Due: black, flake8, mypy

add change log entry
  README.md
Due: none

skip tests touching aiohttp when known exception occurs
  .travis.yml
  tests/test_black.py
Due: black, flake8, mypy

appease flake8...
  tests/test_black.py
Due: black, flake8, mypy

Fix unstable format involving beginning backslash + whitespace, add test
  black.py
  tests/data/beginning_backslash.py
  tests/test_black.py
Due: black, flake8, mypy

Add newline to end of test data file
  tests/data/beginning_backslash.py
Due: none

Add test case for #SBATCH and #PBS directives.
  tests/data/comments3.py
Due: none

Ignore #SBATCH and #PBS comment formatting.
  black.py
Due: black, flake8, mypy

Fix for unstable formatting involving unwrapping multiple parentheses
  black.py
  tests/data/remove_parens.py
Due: black, flake8, mypy

More tests
  tests/data/remove_parens.py
Due: none

Add another test
  tests/data/remove_parens.py
Due: none

Move logic into EmptyLineTracker
  black.py
Due: black, flake8, mypy

Remove unnecessary if-statement in maybe_make_parens_invisible_in_atom
  black.py
Due: black, flake8, mypy

Remove unnecessary if-statement in maybe_make_parens_invisible_in_atom (#964)
  black.py
Due: black, flake8, mypy

Fix unstable format involving backslash + whitespace at beginning of file (#948)
  black.py
  tests/data/beginning_backslash.py
  tests/test_black.py
Due: black, flake8, mypy

Add .svn to default exclusion list
  black.py
Due: black, flake8, mypy

Consolidate dedupe_invisible_atom_parens and maybe_make_parens_invisible_in_atom
  black.py
Due: black, flake8, mypy

Add some more parens remove tests
  tests/data/remove_parens.py
Due: none

Add newline to end of test file
  tests/data/remove_parens.py
Due: none

Fix async blackd tests which won't fail currently
  tests/test_black.py
Due: black, flake8, mypy

Fix async blackd tests which won't fail currently (#966)
  tests/test_black.py
Due: black, flake8, mypy

Reraise exception in `skip_if_exception` decorator
  tests/test_black.py
Due: black, flake8, mypy

Add diff support to blackd
  blackd.py
  tests/data/blackd_diff.diff
  tests/data/blackd_diff.py
  tests/test_black.py
Due: black, flake8, mypy

Add NPM node_modules to DEFAULT_EXCLUDES
  black.py
Due: black, flake8, mypy

[blackd] Support `py36`-style values in X-Python-Variant header
  blackd.py
  tests/test_black.py
Due: black, flake8, mypy

[blackd] Support `py36`-style values in X-Python-Variant header (#979)
  blackd.py
  tests/test_black.py
Due: black, flake8, mypy

use versioneer to manage __version__
  .gitattributes
  MANIFEST.in
  _version.py
  black.py
  setup.cfg
  setup.py
  versioneer.py
Due: black, flake8, mypy

add _version to built modules
  setup.py
Due: black, flake8, mypy

fix CI
  _version.py
  mypy.ini
  setup.py
  versioneer.py
Due: black, flake8, mypy

newline
  setup.cfg
Due: none

omit _version from coverage
  .coveragerc
Due: none

example for skip-string-normalization in pyproject
  README.md
Due: none

restore cursor to same line of code, not same line of buffer
  plugin/black.vim
Due: none

use versioneer to manage __version__ (#981)
  .coveragerc
  .gitattributes
  MANIFEST.in
  _version.py
  black.py
  mypy.ini
  setup.cfg
  setup.py
  versioneer.py
Due: black, flake8, mypy

fix doc generation
  docs/conf.py
Due: black, flake8

Fix unstable formatting involving unwrapping multiple parentheses (#836) (#961)
  black.py
  tests/data/remove_parens.py
Due: black, flake8, mypy

Issue:886: Misleading message when black checks only empty directories
  .gitignore
  black.py
Due: black, flake8, mypy

Change variable in README according to the PEP8
  README.md
Due: none

Change variable in tests according to the PEP8
  tests/test_black.py
Due: black, flake8, mypy

Path conditions:
  black: any of: \.py$, but not: ^(blib2to3/|profiling/|tests/data/)
  flake8: any of: \.py$, but not: ^(blib2to3/|profiling/|tests/data/)
  mypy: any of: \.py$ and not (^docs/conf.py) and not (^(blib2to3/|profiling/|tests/data/))
