Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==6.0.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==24.2.6
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        exclude: ^(docs/conf.py|scripts/generate_schema.py)$
        args: []
        additional_dependencies: &mypy_deps
          - types-PyYAML
          - types-atheris
          - tomli >= 0.2.6, < 2.0.0
          - click >= 8.1.0, != 8.1.4, != 8.1.5
          - packaging >= 22.0
          - platformdirs >= 2.1.0
          - pytokens >= 0.1.10
          - pytest
          - hypothesis
          - aiohttp >= 3.7.4
          - types-commonmark
          - urllib3
          - hypothesmith
      - id: mypy
        name: mypy (Python 3.10)
        files: scripts/generate_schema.py
        args: ["--python-version=3.10"]
        additional_dependencies: *mypy_deps

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [css, javascript, html, json, yaml]
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: quarterly

Pin actions/checkout@v5.0.0
  .github/workflows/docker.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/upload_binary.yml
  docs/integrations/github_actions.md
Due: none

Pin actions/checkout@v5.0.0 (#4895)
  .github/workflows/docker.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/upload_binary.yml
  docs/integrations/github_actions.md
Due: none

docs: update pre-commit exclude and force-exclude explanation
  docs/integrations/source_version_control.md
Due: check-pre-commit-rev-in-example

Fix #3955: Parenthesize implicit string literal concatenation in atoms
  src/black/linegen.py
Due: none

Fix formatting for Issue #3955
  src/black/linegen.py
Due: none

Pin all GitHub Actions references
  .github/workflows/changelog.yml
  .github/workflows/diff_shades.yml
  .github/workflows/diff_shades_comment.yml
  .github/workflows/doc.yml
  .github/workflows/docker.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/release_tests.yml
  .github/workflows/test.yml
  .github/workflows/upload_binary.yml
Due: none

Pin all GitHub Actions references (#4901)
  .github/workflows/changelog.yml
  .github/workflows/diff_shades.yml
  .github/workflows/diff_shades_comment.yml
  .github/workflows/doc.yml
  .github/workflows/docker.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/release_tests.yml
  .github/workflows/test.yml
  .github/workflows/upload_binary.yml
Due: none

Improve fmt:skip handling in nested expressions with defensive checks
  CHANGES.md
  src/black/comments.py
  src/black/lines.py
  tests/data/cases/fmtskip_nested_expression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Refine parens logic: only preserve when type: ignore and other comments would merge on same line
  src/black/lines.py
Due: none

Add CHANGES template post 25.12.0
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Drop CI permissions, eliminate persisted credentials
  .github/workflows/changelog.yml
  .github/workflows/diff_shades.yml
  .github/workflows/diff_shades_comment.yml
  .github/workflows/doc.yml
  .github/workflows/docker.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/release_tests.yml
  .github/workflows/test.yml
  .github/workflows/upload_binary.yml
Due: none

fix YAML formatting
  .github/workflows/test.yml
Due: none

Drop CI permissions, eliminate persisted credentials (#4905)
  .github/workflows/changelog.yml
  .github/workflows/diff_shades.yml
  .github/workflows/diff_shades_comment.yml
  .github/workflows/doc.yml
  .github/workflows/docker.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/release_tests.yml
  .github/workflows/test.yml
  .github/workflows/upload_binary.yml
Due: none

Add CHANGES template post 25.12.0 (#4904)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Upgrade PyPI upload workflow to use Trusted Publishing (#4589) (#4611)
  .github/workflows/pypi_upload.yml
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Lingering CI/CD pins, add cooldowns, remove template injections
  .github/dependabot.yml
  .github/workflows/docker.yml
  .github/workflows/pypi_upload.yml
  action.yml
Due: none

Lingering CI/CD pins, add cooldowns, remove template injections (#4906)
  .github/dependabot.yml
  .github/workflows/docker.yml
  .github/workflows/pypi_upload.yml
  action.yml
Due: none

Docs: Mentioned doctest formatting (Closes #3083)
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Docs: Document --force-exclude with pre-commit (Closes #3015)
  docs/integrations/source_version_control.md
Due: check-pre-commit-rev-in-example

Respect inline '# fmt: skip' in all comment representations (fixes #3603)
  src/black/linegen.py
Due: none

CI: add a zizmor workflow
  .github/workflows/zizmor.yml
Due: none

CI: add a zizmor workflow (#4911)
  .github/workflows/zizmor.yml
Due: none

Fix #3955: parenthesize adjacent implicit strings in preview mode
  src/black/linegen.py
Due: none

Respect inline fmt: skip using canonical directive detection
  changelog/fmt-skip-inline.md
  src/black/linegen.py
Due: none

Fix: Apply prettier formatting changes
  docs/integrations/source_version_control.md
Due: check-pre-commit-rev-in-example

Fix: Apply prettier formatting changes to documentation
  changelog/3083.doc
Due: none

Changelog: Add snippet for --force-exclude documentation (Closes #3015)
  changelog/3015.doc
Due: none

Create Robot
  Robot
Due: none

Add plain text changelog for #3015
  changelog/3015.doc
Due: none

Add plain text changelog for #3083
  changelog/3083.doc
Due: none

update changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove preview guard from adjacent string handling
  src/black/linegen.py
Due: none

Add test and changelog entry for adjacent implicit strings
  CHANGES.md
  tests/data/cases/adjacent_implicit_strings.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Added documentation for doctest formatting tools and updated the integrations index to match (#4914)
  CHANGES.md
  docs/integrations/doctest_formatting.md
  docs/integrations/index.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix string_processing crash for unassigned string tuple with trailing comma
  src/black/trans.py
  tests/data/preview/string_processing_trailing_comma.py
  tests/data/preview/trailing_comma_unassigned.py
  tests/data/string_processing_trailing_comma_error.py
Due: none

Fixed PR number in changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example
