Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==6.0.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==24.2.6
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        exclude: ^(docs/conf.py|scripts/generate_schema.py)$
        args: []
        additional_dependencies: &mypy_deps
          - types-PyYAML
          - types-atheris
          - tomli >= 0.2.6, < 2.0.0
          - click >= 8.1.0, != 8.1.4, != 8.1.5
          - packaging >= 22.0
          - platformdirs >= 2.1.0
          - pytokens >= 0.1.10
          - pytest
          - hypothesis
          - aiohttp >= 3.7.4
          - types-commonmark
          - urllib3
          - hypothesmith
      - id: mypy
        name: mypy (Python 3.10)
        files: scripts/generate_schema.py
        args: ["--python-version=3.10"]
        additional_dependencies: *mypy_deps

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [css, javascript, html, json, yaml]
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: quarterly

Update CHANGES.md 2
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

build: restrict to pytest 9.0 due to breakage in custom pytest_configure
  pyproject.toml
  test_requirements.txt
Due: none

build: restrict to pytest 9.0 due to breakage in custom pytest_configure (#4827)
  pyproject.toml
  test_requirements.txt
Due: none

Update cibuildwheel
  .github/workflows/pypi_upload.yml
Due: none

Update cibuildwheel (#4828)
  .github/workflows/pypi_upload.yml
Due: none

Skip free threaded builds in cibuildwheel
  pyproject.toml
Due: none

fix windows wheels see https://github.com/pypa/cibuildwheel/discussions/1749
  .github/workflows/pypi_upload.yml
Due: none

Use build[uv] as cibuildwheel frontend
  pyproject.toml
Due: none

Skip free threaded builds in cibuildwheel (#4829)
  pyproject.toml
Due: none

Use build[uv] as cibuildwheel frontend (#4831)
  pyproject.toml
Due: none

fix windows wheels (#4830)
  .github/workflows/pypi_upload.yml
Due: none

Include Windows and Python 3.14 in PR wheel build matrix
  .github/workflows/pypi_upload.yml
Due: none

undo uv
  pyproject.toml
Due: none

Revert "Use build[uv] as cibuildwheel frontend (#4831)"
  pyproject.toml
Due: none

try variant
  .github/workflows/pypi_upload.yml
Due: none

ci: add label for running all builds on a pull request
  .github/workflows/pypi_upload.yml
Due: none

ci: add label for running all builds on a pull request (#4833)
  .github/workflows/pypi_upload.yml
Due: none

Include Windows and Python 3.14 in PR wheel build matrix, fix Windows build (#4832)
  .github/workflows/pypi_upload.yml
  pyproject.toml
Due: none

Fix tests on pytest 9
  .github/workflows/pypi_upload.yml
  pyproject.toml
  tests/optional.py
Due: none

another spot
  test_requirements.txt
Due: none

fix pytest-xdist
  tests/test_black.py
Due: none

also drop pytest 7 support
  test_requirements.txt
  tests/optional.py
Due: none

code review
  pyproject.toml
Due: none

Fix tests on pytest 9 (#4835)
  .github/workflows/pypi_upload.yml
  pyproject.toml
  test_requirements.txt
  tests/optional.py
  tests/test_black.py
Due: none

Prepare for 25.11.0 release (#4825)
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add new changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add new changelog (#4836)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove `--no-cache` docs example
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Remove `--no-cache` docs example (#4840)
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Add arm64 windows builds and tests (#4814)
  .github/workflows/pypi_upload.yml
  .github/workflows/release_tests.yml
  .github/workflows/test.yml
  .github/workflows/upload_binary.yml
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

pyupgrade --py310 except not profiling/ or tests/data/
  action/main.py
  gallery/gallery.py
  scripts/check_pre_commit_rev_in_example.py
  src/black/__init__.py
  src/black/brackets.py
  src/black/comments.py
  src/black/concurrency.py
  src/black/debug.py
  src/black/files.py
  src/black/handle_ipynb_magics.py
  src/black/linegen.py
  src/black/lines.py
  src/black/nodes.py
  src/black/output.py
  src/black/ranges.py
  src/black/trans.py
  src/blackd/client.py
  src/blib2to3/pgen2/driver.py
  src/blib2to3/pgen2/parse.py
  src/blib2to3/pgen2/pgen.py
  src/blib2to3/pgen2/tokenize.py
  src/blib2to3/pytree.py
  tests/test_black.py
  tests/test_docs.py
  tests/util.py
Due: none

Drop support for EOL Python 3.9
  .flake8
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/fuzz.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/test.yml
  CHANGES.md
  README.md
  autoload/black.vim
  docs/contributing/the_basics.md
  docs/getting_started.md
  docs/integrations/editors.md
  plugin/black.vim
  pyproject.toml
  scripts/migrate-black.py
  src/black/__init__.py
  src/black/handle_ipynb_magics.py
  src/black/nodes.py
  src/black/strings.py
  tests/test_schema.py
  tests/test_trans.py
  tox.ini
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Apply suggestions from code review
  scripts/migrate-black.py
  src/blib2to3/pgen2/driver.py
  src/blib2to3/pgen2/parse.py
Due: none

Fix comments being removed before fmt:off/on blocks
  CHANGES.md
  src/black/comments.py
  src/black/linegen.py
  tests/data/cases/jupytext_markdown_fmt.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix flake8 linting issues
  src/black/comments.py
  src/black/linegen.py
Due: none

Fix merge conflicts and syntax errors
  src/black/comments.py
  src/black/linegen.py
Due: none

Fix optional.py typing so we can merge
  tests/optional.py
Due: none

Address review feedback
  CHANGES.md
  src/black/linegen.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: clarify behavior of label and commit requirement
  CONTRIBUTING.md
Due: none
