Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1
  - pyyaml==6.0.1

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1

Fix case guard splitting at small line lengths
  src/black/linegen.py
  tests/data/cases/pattern_matching_case_case_small_line_length.py
Due: none

Add changelog entry for case guard split fix
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add multi-cell fixture format to the test loader
  docs/contributing/the_basics.md
  tests/test_format.py
  tests/util.py
Due: check-version-in-the-basics-example

Fix docstring tab indentation
  CHANGES.md
  src/black/strings.py
  tests/data/cases/docstring.py
  tests/data/cases/docstring_tabs.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix case guard splitting at small line lengths (#5147)
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/pattern_matching_case_case_small_line_length.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix docstring indentation with leading tabs (#5148)
  CHANGES.md
  src/black/strings.py
  tests/data/cases/docstring.py
  tests/data/cases/docstring_tabs.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add unit tests for the multi-cell fixture loader
  tests/test_data_loader.py
Due: none

Add changelog entry for multi-cell fixture format (#5147)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Migrate preview_long_strings__regression to multi-cell format
  tests/data/cases/preview_long_strings__regression.py
Due: none

Update PR number in changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Migrate preview_long_strings to multi-cell format
  tests/data/cases/preview_long_strings.py
Due: none

Allow a top-level `# flags:` in multi-cell fixtures
  docs/contributing/the_basics.md
  tests/data/cases/preview_long_strings.py
  tests/data/cases/preview_long_strings__regression.py
  tests/test_data_loader.py
  tests/util.py
Due: check-version-in-the-basics-example

Apply self-format
  tests/test_data_loader.py
  tests/util.py
Due: none

fix: apply Gray Memory patch for gray-memory/partial-fix-issue-4180-0f06ad8f
  src/black/trans.py
  tests/test_strings.py
  tests/test_trans.py
Due: none

fix: apply Gray Memory patch for gray-memory/fix-issue-496-8467c85c-a2
  tests/test_black.py
Due: none

Fix crash on standalone comments in comprehensions and lambdas (#5144)
  CHANGES.md
  src/black/brackets.py
  src/black/linegen.py
  tests/data/cases/comments_in_comprehensions.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add pyi blank lines after docstring-only functions
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/pyi_docstring_blank_lines.py
  tests/data/cases/pyi_docstring_blank_lines_no_preview.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Apply suggestion from @AlexWaygood
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Bump Python version in CI
  .github/workflows/diff_shades.yml
  .github/workflows/diff_shades_comment.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/post_release.yml
  .github/workflows/publish_binaries.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/test.yml
Due: none

missed one
  .github/workflows/publish_binaries.yml
Due: none

Try to fix force_36 volataility & add log for stdin_empty
  tests/test_black.py
  tests/util.py
Due: none

does downgrading pypy change anything?
  .github/workflows/test.yml
Due: none

fix windows 11 exclusion
  .github/workflows/test.yml
  tests/test_black.py
Due: none

Bump Python version in CI (#5159)
  .github/workflows/diff_shades.yml
  .github/workflows/diff_shades_comment.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/post_release.yml
  .github/workflows/publish_binaries.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/test.yml
  tests/test_black.py
  tests/util.py
Due: none

fix: resolve CWD before lru_cache key in find_project_root
  CHANGES.md
  src/black/files.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: resolve CWD before lru_cache key in find_project_root (#5152)
  CHANGES.md
  src/black/files.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Document standalone release executables
  README.md
  docs/getting_started.md
Due: none

fix quadratic backtracking in unicode escape normalization
  src/black/strings.py
Due: none

Add changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix quadratic backtracking in unicode escape normalization (#5163)
  CHANGES.md
  src/black/strings.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix quadratic backtracking in debug f-string quote detection
  CHANGES.md
  src/black/trans.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Bump base python and pip versions
  .github/workflows/diff_shades.yml
  .github/workflows/diff_shades_comment.yml
  .github/workflows/docs.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/post_release.yml
  .github/workflows/publish_binaries.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/release_tests.yml
  .github/workflows/test.yml
  .github/workflows/zizmor.yml
  .readthedocs.yaml
  Dockerfile
  docs/integrations/github_actions.md
Due: none

bump all the way to 3.15
  .github/workflows/diff_shades.yml
  .github/workflows/diff_shades_comment.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/post_release.yml
  .github/workflows/publish_binaries.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/test.yml
  .readthedocs.yaml
  Dockerfile
  docs/integrations/github_actions.md
Due: none

fix quadratic backtracking in debug f-string quote detection (#5165)
  CHANGES.md
  src/black/trans.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: no spurious target-version warning when runtime version is included
  CHANGES.md
  src/black/__init__.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix false positive target version warning when current Python is included
  src/black/__init__.py
Due: none

fix quadratic fmt: skip/off handling in normalize_fmt_off
  CHANGES.md
  src/black/comments.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix quadratic fmt: skip/off handling in normalize_fmt_off (#5169)
  CHANGES.md
  src/black/comments.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Apply suggestions from code review
  CHANGES.md
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(profiling/|tests/data/)
