Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - commonmark==0.9.1
  - pyyaml==6.0.1
  - beautifulsoup4==4.9.3

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - commonmark==0.9.1
  - pyyaml==6.0.1
  - beautifulsoup4==4.9.3

Move string_processing trailing comma tests to cases and add changelog
  CHANGES.md
  src/black/trans.py
  tests/data/cases/string_processing_trailing_comma.py
  tests/data/preview/string_processing_trailing_comma.py
  tests/data/preview/trailing_comma_unassigned.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add regression test for adjacent implicit string crash (#3955)
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/adjacent_implicit_strings.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Simplify power operator hugging implementation
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/nodes.py
  src/black/resources/black.schema.json
  src/black/trans.py
  tests/data/cases/preview_simplify_power_operator_hugging.py
  tests/data/cases/preview_simplify_power_operator_hugging_long.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Parenthesize complex expressions passed as keyword arguments or parameter defaults
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/nodes.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_arg_parens.py
  tests/data/cases/preview_long_strings__regression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Format Black itself
  scripts/fuzz.py
  src/black/__init__.py
  src/black/brackets.py
  src/black/comments.py
  src/black/files.py
  src/black/handle_ipynb_magics.py
  src/black/linegen.py
  src/black/nodes.py
  src/black/ranges.py
  src/black/trans.py
  src/blackd/__init__.py
  tests/test_black.py
  tests/test_blackd.py
  tests/util.py
Due: none

Fix string_processing crashing on unassigned long string literals with trailing commas
  CHANGES.md
  src/black/trans.py
  tests/data/cases/preview_long_strings.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix PyInstaller shutdown errors on macOS (#4930)
  CHANGES.md
  src/black/concurrency.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Updated changelog to resolve conflict
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Gating change to preview style, fixed merge conflict
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/preview_fmtpass_imports.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

removed extra entries
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

added test case
  tests/data/cases/if_guard_inside_case.py
Due: none

Fixed preview style and unintentional formatting changes
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/if_guard_inside_case.py
  tests/data/cases/preview_fmtpass_imports.py
Due: none

removed extra line in mode.py
  src/black/mode.py
Due: none

added unstable change
  docs/the_black_code_style/future_style.md
Due: none

fixed the multi-line code split using backslash issue
  src/blib2to3/pgen2/tokenize.py
  tests/test_tokenize.py
Due: none

fixed build issues
  tests/test_tokenize.py
Due: none

Shutdown multiprocessing Manager in schedule_formatting
  src/black/concurrency.py
  tests/test_concurrency_manager_shutdown.py
Due: none

Fix mypy annotations in concurrency manager shutdown test
  tests/test_concurrency_manager_shutdown.py
Due: none

Fix manager resource leak in concurrent processing
  src/black/concurrency.py
  tests/test_manager_cleanup.py
Due: none

Fix linting errors in test_manager_cleanup.py
  tests/test_manager_cleanup.py
Due: none

Fix tests to properly verify manager cleanup
  tests/test_manager_cleanup.py
Due: none

Update changelog for #4952
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: merge pre-commit exclude explanation into last section
  docs/integrations/source_version_control.md
Due: check-pre-commit-rev-in-example

docs: document --force-exclude for pre-commit workflows
  docs/integrations/source_version_control.md
Due: check-pre-commit-rev-in-example

fix: correct force-exclude documentation
  docs/integrations/source_version_control.md
Due: check-pre-commit-rev-in-example

Handle pathspec v1 changes Fixes #4944
  CHANGES.md
  pyproject.toml
  src/black/__init__.py
  src/black/files.py
  tests/data/include_exclude_tests/b/exclude/still_exclude/a.pie
  tests/data/include_exclude_tests/b/exclude/still_exclude/a.py
  tests/data/include_exclude_tests/b/exclude/still_exclude/a.pyi
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update other tests
  pyproject.toml
  tests/test_black.py
Due: none

Test force include
  tests/data/include_exclude_tests/b/exclude/include_this/a.pie
  tests/data/include_exclude_tests/b/exclude/include_this/a.py
  tests/data/include_exclude_tests/b/exclude/include_this/a.pyi
  tests/test_black.py
Due: none

Correct the reinclude docs and tests
  CHANGES.md
  tests/data/include_exclude_tests/b/exclude/include_this/a.pie
  tests/data/include_exclude_tests/b/exclude/include_this/a.py
  tests/data/include_exclude_tests/b/exclude/include_this/a.pyi
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Correct the reinclude docs and tests again
  CHANGES.md
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Handle pathspec v1 changes (#4958)
  CHANGES.md
  pyproject.toml
  src/black/__init__.py
  src/black/files.py
  tests/data/include_exclude_tests/b/exclude/still_exclude/a.pie
  tests/data/include_exclude_tests/b/exclude/still_exclude/a.py
  tests/data/include_exclude_tests/b/exclude/still_exclude/a.pyi
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Modfiy codeblock languages - Standardize `/py(thon)?(3)?/` to `python` - Only use `console` when output is shown, because it's very lacking compared to `sh` - Add a few other missing languages
  docs/contributing/the_basics.md
  docs/guides/using_black_with_other_tools.md
  docs/integrations/editors.md
  docs/the_black_code_style/current_style.md
Due: check-version-in-the-basics-example

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(profiling/|tests/data/)
