Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(src/blib2to3/|profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==5.4.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
      - id: mypy
        exclude: ^docs/conf.py
        additional_dependencies:
          - types-dataclasses >= 0.1.3
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - types-typed-ast >= 1.4.1
          - click >= 8.1.0
          - platformdirs >= 2.1.0
          - pytest
          - hypothesis

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

[debug] ban hatch-mypyc 0.14.1
  pyproject.toml
Due: none

Fail lint CI if the PR doesn't target main
  .github/workflows/lint.yml
Due: none

I hate CI.
  .github/workflows/lint.yml
Due: none

Fail lint CI if the PR doesn't target main (#3477)
  .github/workflows/lint.yml
Due: none

Add email for Richard Si
  AUTHORS.md
Due: none

Add email for Richard Si (#3478)
  AUTHORS.md
Due: none

Clarify that the backslash & paren-wrapping formatting for multiple context managers aren't yet implemented.
  docs/the_black_code_style/future_style.md
Due: none

Initial implementation of wrapping multiple context managers.
  src/black/linegen.py
  src/black/mode.py
  tests/data/preview_38/multiple_context_managers.py
  tests/data/preview_39/wrap_multiple_context_managers.py
  tests/test_format.py
Due: none

Fix the version detection logic.
  src/black/__init__.py
  src/black/linegen.py
  tests/data/preview_context_managers/auto_detect/features_3_10.py
  tests/data/preview_context_managers/auto_detect/features_3_11.py
  tests/data/preview_context_managers/auto_detect/features_3_8.py
  tests/data/preview_context_managers/auto_detect/features_3_9.py
  tests/data/preview_context_managers/targeting_py38.py
  tests/data/preview_context_managers/targeting_py39.py
  tests/test_format.py
Due: none

Add docs/comments, and more test cases.
  src/black/linegen.py
  tests/data/preview_context_managers/targeting_py39.py
  tests/test_format.py
Due: none

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Test that something like with (a): pass doesn't get autodetected as 3.9+
  tests/data/preview_context_managers/auto_detect/features_3_8.py
Due: none

Remove misleading phrase in Usage and Configuration
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Fix linting
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Remove misleading phrase in Usage and Configuration (#3492)
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Documentation: clarify the state of multiple context managers (#3488)
  docs/the_black_code_style/future_style.md
Due: none

Please prettier
  docs/integrations/editors.md
Due: none

Offer advice on which one to choose
  docs/integrations/editors.md
Due: none

Add IntelliJ docs on external tools and file watcher (#3365)
  docs/integrations/editors.md
Due: none

Fix two docstring crashes (#3451)
  CHANGES.md
  src/black/linegen.py
  tests/data/miscellaneous/linelength6.py
  tests/data/simple_cases/docstring.py
  tests/test_format.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Use dashes for pycodestyle max line length config
  docs/guides/using_black_with_other_tools.md
Due: none

Add --emoji/--no-emoji option
  CHANGES.md
  src/black/__init__.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add flake8-bugbear B028 to ignore list
  .flake8
Due: none

Add flake8-bugbear B907 to ignore list (#3503)
  .flake8
Due: none

Fix crash with walrus + await + with (#3473)
  CHANGES.md
  src/black/linegen.py
  src/black/nodes.py
  tests/data/fast/pep_572_do_not_remove_parens.py
  tests/data/py_38/pep_572_remove_parens.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix false symlink detection claims in verbose output (#3385)
  CHANGES.md
  src/black/__init__.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Handle invalid specifiers
  src/black/files.py
  tests/test_black.py
Due: none

Add test case
  tests/test_black.py
Due: none

Require packaging >=22.0
  .pre-commit-config.yaml
  CHANGES.md
  pyproject.toml
  src/black/files.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: Clarify docstring for parsing functions
  src/black/files.py
Due: none

feat: Set target version based on project metadata
  src/black/files.py
Due: none

build: Add packaging as a requirement
  pyproject.toml
Due: none

docs: Add CHANGES entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Return list of all target versions
  src/black/files.py
  tests/test_black.py
Due: none

test: Add test case for star specifier
  tests/test_black.py
Due: none

Fix help text
  src/black/__init__.py
Due: none

Add verbose output for target version
  src/black/__init__.py
Due: none

fix: Handle Python version 2.x
  src/black/files.py
  tests/test_black.py
Due: none

feat: Add further specifier parsing logic
  src/black/files.py
  tests/test_black.py
Due: none

Minor formatting changes as requested in review
  CHANGES.md
  src/black/files.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example
