Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1
  - pyyaml==6.0.1

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1

Implement test for empty cache file
  tests/test_black.py
Due: none

Add validation for include and force_exclude config keys
  src/black/__init__.py
Due: none

Update test_black.py
  tests/test_black.py
Due: none

avoid full children-list and sibling-map rebuild in Node.replace
  CHANGES.md
  src/blib2to3/pytree.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

minor string handling tweak
  src/black/strings.py
Due: none

avoid quadratic child-list rescan when wrapping nodes in parens (#5184)
  CHANGES.md
  src/black/linegen.py
  src/black/nodes.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Discard changes to tests/data/cases/pep_750.py
  tests/data/cases/pep_750.py
Due: none

avoid quadratic named-escape scan when splitting long strings (#5183)
  CHANGES.md
  src/black/trans.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix fmt off block before with statement (#5189)
  CHANGES.md
  src/black/comments.py
  src/black/linegen.py
  tests/data/cases/fmtonoff_comment_only_with.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

avoid quadratic token-lookahead scan in the parser's TokenProxy (#5186)
  CHANGES.md
  src/blib2to3/pgen2/driver.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

avoid quadratic multiline-string context scan in is_line_short_enough (#5188)
  CHANGES.md
  src/black/lines.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

avoid full children-list and sibling-map rebuild in Node.replace (#5194)
  CHANGES.md
  src/blib2to3/pytree.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

avoid quadratic suite scan per fmt: skip in compound-statement check (#5190)
  CHANGES.md
  src/black/comments.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add changelog entry for empty cache files
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add changelog entry for config type validation
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Move cache changelog entry under configuration
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

avoid quadratic child rescan in append_leaves
  CHANGES.md
  src/black/lines.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Test config regex type validation through CLI
  tests/test_black.py
Due: none

Keep nested parens around lambda/ternary comprehension iterables (preview)
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/preview_wrap_comprehension_in.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add --cache-dir command-line option
  CHANGES.md
  docs/usage_and_configuration/file_collection_and_discovery.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
  src/black/cache.py
  src/black/resources/black.schema.json
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Stream cache file hashing
  src/black/cache.py
  tests/test_black.py
Due: none

avoid quadratic child rescan in append_leaves (#5199)
  CHANGES.md
  src/black/lines.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Write formatted files atomically to avoid corruption on write failure
  CHANGES.md
  src/black/__init__.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix symlink test on Windows
  tests/test_black.py
Due: none

Validate BLACK_NUM_WORKERS values
  src/black/concurrency.py
  tests/test_black.py
Due: none

Fix contributing docs ReadTheDocs link
  CONTRIBUTING.md
Due: none

batch --line-ranges node conversion to avoid quadratic removal
  CHANGES.md
  src/black/ranges.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Initialize Leaf bracket depth
  CHANGES.md
  src/blib2to3/pytree.py
  tests/test_pytree.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix typo and macOS capitalization in the basics documentation
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Fix preview split for commented method chains
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_method_chain_comment.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: rename unused loop variable in conv.py
  src/blib2to3/pgen2/conv.py
Due: none

Validate include and force-exclude config types (#5193)
  CHANGES.md
  src/black/__init__.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Standardize other RTD links
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  docs/conf.py
  docs/faq.md
  docs/guides/using_black_with_other_tools.md
  docs/index.md
  docs/integrations/doctest_formatting.md
  docs/integrations/editors.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
Due: check-version-in-the-basics-example

Fix typo and macOS capitalization in the basics documentation (#5217)
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Standardize ReadTheDocs links (#5212)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  docs/conf.py
  docs/faq.md
  docs/guides/using_black_with_other_tools.md
  docs/index.md
  docs/integrations/doctest_formatting.md
  docs/integrations/editors.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
Due: check-version-in-the-basics-example

Handle empty cache files (#5192)
  CHANGES.md
  src/black/cache.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add changelog entry for BLACK_NUM_WORKERS validation
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix decorator handling in batched --line-ranges conversion
  src/black/ranges.py
Due: none

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(profiling/|tests/data/)
