Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(src/blib2to3/|profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==5.4.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
      - id: mypy
        exclude: ^docs/conf.py
        additional_dependencies:
          - types-dataclasses >= 0.1.3
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - types-typed-ast >= 1.4.1
          - click >= 8.1.0
          - platformdirs >= 2.1.0
          - pytest
          - hypothesis

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

Test expected behavior on whitespace-only input
  tests/data/simple_cases/whitespace.py
  tests/test_black.py
Due: none

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Enforce empty lines before classes/functions with sticky leading comments. (#3302)
  CHANGES.md
  docs/contributing/reference/reference_classes.rst
  docs/the_black_code_style/future_style.md
  src/black/__init__.py
  src/black/lines.py
  src/black/mode.py
  tests/data/preview/comments9.py
  tests/data/preview/remove_await_parens.py
  tests/data/simple_cases/comments5.py
  tests/data/simple_cases/docstring_no_extra_empty_line_before_eof.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Exclude pytest-xdist 3.0.2
  test_requirements.txt
Due: none

Exclude pytest-xdist 3.0.2 (#3356)
  test_requirements.txt
Due: none

Update README.md (#3284)
  README.md
Due: none

move logic under preview
  CHANGES.md
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  tests/data/simple_cases/composition.py
  tests/data/simple_cases/composition_no_trailing_comma.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

undo random newline removal
  tests/test_black.py
Due: none

fix/add a few comments
  src/black/lines.py
Due: none

Update docstring & comment, also remove the unnecessary matching_nodes check.
  src/black/trans.py
Due: none

Format outself.
  src/black/trans.py
Due: none

Wrap concatenated strings used as function args in parens (#3307)
  CHANGES.md
  src/black/__init__.py
  src/black/mode.py
  src/black/parsing.py
  src/black/trans.py
  tests/data/preview/cantfit.py
  tests/data/preview/long_strings.py
  tests/data/preview/long_strings__regression.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove extra blank line
  src/black/lines.py
Due: none

Put LinesBlock docstring quotes on their own line
  src/black/lines.py
Due: none

Add comma split before delimiter split
  src/black/linegen.py
  tests/data/simple_cases/type_hint_after_comment.py
Due: none

docs(readme): add Archer Aviation to organizations
  README.md
Due: none

Add Archer Aviation to organizations in readme (#3361)
  README.md
Due: none

make python version more precise
  docs/usage_and_configuration/the_basics.md
  src/black/parsing.py
  tests/test_format.py
Due: check-version-in-the-basics-example

Vim plugin: allow using system black rather than virtualenv (#3309)
  CHANGES.md
  autoload/black.vim
  docs/integrations/editors.md
  plugin/black.vim
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Refactor comma_split() and delimiter_split()
  src/black/linegen.py
Due: none

Add to CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add IntelliJ docs on external tools and file watcher
  docs/integrations/editors.md
Due: none

Add comma_split() to developer reference
  docs/contributing/reference/reference_functions.rst
Due: none

Reformat linegen.py
  src/black/linegen.py
Due: none

Handle other cases of comments in brackets
  src/black/linegen.py
  tests/data/simple_cases/wrapping_with_comments_in_brackets.py
Due: none

Revert "Add comma_split() to developer reference"
  docs/contributing/reference/reference_functions.rst
Due: none

Revert "Add to CHANGES.md"
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Revert "Refactor comma_split() and delimiter_split()"
  src/black/linegen.py
Due: none

Revert "Add comma split before delimiter split"
  src/black/linegen.py
Due: none

fix self lint
  src/black/linegen.py
Due: none

Prefer splitting right hand side of assignment statements.
  CHANGES.md
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  tests/data/preview/long_strings__regression.py
  tests/data/preview/prefer_rhs_split.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add pycodestyle to using_black_with_other_tools.md
  docs/guides/using_black_with_other_tools.md
Due: none

Initial implementation to handle trailing commas in leading parts.
  src/black/brackets.py
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  src/black/trans.py
  tests/data/preview/trailing_commas_in_leading_parts.py
Due: none

Add changelogs, and format ourselves.
  CHANGES.md
  src/black/brackets.py
  src/black/linegen.py
  src/black/lines.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Make sure skip magic trailing comma still works for things on the left hand side or leading non-nested parens.
  tests/data/preview/skip_magic_trailing_comma.py
Due: none

Move changes to preview
  src/black/linegen.py
  src/black/mode.py
  tests/data/preview/wrapping_with_comments_in_brackets.py
Due: none
