Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - commonmark==0.9.1
  - pyyaml==6.0.1
  - beautifulsoup4==4.9.3

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - commonmark==0.9.1
  - pyyaml==6.0.1
  - beautifulsoup4==4.9.3

Allow empty lines at beginnings of more blocks
  src/black/lines.py
  tests/data/cases/class_blank_parentheses.py
  tests/data/cases/preview_allow_empty_first_line.py
  tests/data/cases/preview_form_feeds.py
Due: none

changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

restore trailing whitespace
  tests/data/cases/preview_allow_empty_first_line.py
  tests/data/cases/preview_form_feeds.py
Due: none

Clean up dead code in magic trailing comma logic
  src/black/lines.py
Due: none

Remove empty lines before docstrings in async functions
  src/black/lines.py
  src/black/nodes.py
  tests/data/cases/preview_allow_empty_first_line.py
Due: none

changes
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove is_function_or_class helper footgun
  src/black/linegen.py
  src/black/nodes.py
  tests/data/cases/preview_dummy_implementations.py
Due: none

use a property
  src/black/lines.py
Due: none

Fix comment handling when parenthesising conditional expressions
  src/black/linegen.py
  tests/data/cases/conditional_expression.py
Due: none

.
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix unnecessary nesting when wrapping long dict
  src/black/linegen.py
  tests/data/cases/preview_long_dict_values.py
Due: none

.
  tests/data/cases/conditional_expression.py
Due: none

Revert "confine pre-commit to stages (#3940)"
  .pre-commit-hooks.yaml
Due: none

Allow empty lines at beginnings of more blocks (#4130)
  CHANGES.md
  src/black/lines.py
  tests/data/cases/class_blank_parentheses.py
  tests/data/cases/preview_allow_empty_first_line.py
  tests/data/cases/preview_form_feeds.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Revert "confine pre-commit to stages (#3940)" (#4137)
  .pre-commit-hooks.yaml
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove empty lines before docstrings in async functions (#4132)
  CHANGES.md
  src/black/lines.py
  src/black/nodes.py
  tests/data/cases/preview_allow_empty_first_line.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Clean up dead code in magic trailing comma logic (#4131)
  src/black/lines.py
Due: none

Remove is_function_or_class helper footgun (#4133)
  src/black/linegen.py
  src/black/nodes.py
  tests/data/cases/preview_dummy_implementations.py
Due: none

Fix comment handling when parenthesising conditional expressions (#4134)
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/conditional_expression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Make `blank_line_after_nested_stub_class` work for methods
  src/black/lines.py
  tests/data/cases/nested_stub.py
Due: none

Make `blank_line_after_nested_stub_class` work for methods (#4141)
  CHANGES.md
  src/black/lines.py
  tests/data/cases/nested_stub.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix up
  src/black/lines.py
  src/black/nodes.py
  tests/data/cases/no_blank_line_before_docstring.py
  tests/data/cases/pep_572_remove_parens.py
Due: none

fix merge
  src/black/linegen.py
  src/black/nodes.py
Due: none

Update src/black/strings.py
  src/black/strings.py
Due: none

Add note on `--exclude` about possibly verbose regex
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

fix: Don't normalize whitespace before fmt:skip comments
  CHANGES.md
  src/black/comments.py
  tests/data/cases/fmtskip9.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: Correct PR number in CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update docs/usage_and_configuration/the_basics.md
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Link to python docs about verbose regex
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Docs: Add note on `--exclude` about possibly verbose regex (#4145)
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Fixed the empty spaces of '# type:'
  src/black/nodes.py
Due: none

Improve call chain
  src/black/brackets.py
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  tests/data/cases/preview_call_chain.py
  tests/data/cases/preview_context_managers_39.py
Due: none

Fix ci
  src/black/comments.py
  src/black/lines.py
Due: none

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix ci
  src/black/linegen.py
  src/black/lines.py
Due: none

fix: Move to preview style
  src/black/comments.py
  src/black/mode.py
  tests/data/cases/fmtskip9.py
Due: none

fix: Don't allow unparenthesizing walruses
  src/black/linegen.py
  tests/data/cases/walrus_in_dict.py
Due: none

docs: Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(profiling/|tests/data/)
