Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(src/blib2to3/|profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [python, pyi]

      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==5.4.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
      - id: mypy
        exclude: ^docs/conf.py
        additional_dependencies:
          - types-dataclasses >= 0.1.3
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - types-typed-ast >= 1.4.1
          - click >= 8.0.0
          - platformdirs >= 2.1.0

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

move the test file
  tests/data/py_311/pep_646.py
Due: none

Update docs/usage_and_configuration/the_basics.md
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Add more examples to exclude files in addition to the defaults (#3070)
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Update docs/the_black_code_style/future_style.md
  docs/the_black_code_style/future_style.md
Due: none

Fix linting issue
  docs/the_black_code_style/future_style.md
Due: none

Add new preview feature test for `match`-`case` blocks
  tests/data/preview_310/remove_newline_after match.py
  tests/test_format.py
Due: none

Fix failing test
  tests/data/preview_310/remove_newline_after match.py
Due: none

Implement support for PEP 646 (#3071)
  CHANGES.md
  src/black/__init__.py
  src/black/mode.py
  src/black/nodes.py
  src/blib2to3/Grammar.txt
  src/blib2to3/pygram.py
  tests/data/py_311/pep_646.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add `case` and `match` to code blocks list
  docs/the_black_code_style/future_style.md
Due: none

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add script to ease migration to black
  CHANGES.md
  scripts/migrate-black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add script to ease migration to black (#3038)
  CHANGES.md
  scripts/migrate-black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix minor typo
  scripts/migrate-black.py
Due: none

stop messing with my imports
  src/black/lines.py
Due: none

stop messing with inline definitions, too
  src/black/lines.py
Due: none

Fix minor typo (#3096)
  scripts/migrate-black.py
Due: none

Document pre-commit with --force-exclude
  docs/integrations/source_version_control.md
Due: check-pre-commit-rev-in-example

Add run_self environment in tox
  tox.ini
Due: none

Add run_self task as part of the lint CI flow
  .github/workflows/lint.yml
Due: none

Remove hard coded sources list
  tests/test_format.py
Due: none

Fix tests
  tests/data/miscellaneous/docstring_no_string_normalization_preview.py
  tests/data/preview/docstring_preview.py
  tests/data/preview/docstring_preview_2.py
  tests/test_format.py
Due: none

Fix bad single-line docstring indentation
  src/black/strings.py
Due: none

Update documentation dependencies
  docs/conf.py
  docs/requirements.txt
Due: none

Remove newline after code block open (#3035)
  AUTHORS.md
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  src/black/mode.py
  tests/data/preview/remove_newline_after_code_block_open.py
  tests/data/preview_310/remove_newline_after match.py
  tests/test_black.py
  tests/test_format.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove merge conflict residue
  docs/the_black_code_style/future_style.md
Due: none

Update documentation dependencies (#3118)
  docs/conf.py
  docs/requirements.txt
Due: none

Use is_number_token instead of assertion (#3069)
  src/black/__init__.py
  src/black/nodes.py
Due: none

Fix bug in parsing.py
  src/black/parsing.py
Due: none

f-string normalizer remove trailing spaces in f-expressions
  src/black/strings.py
  src/black/trans.py
Due: none

Add new ability unit test
  tests/data/preview_36/remove_f_string_trailing_spaces.py
  tests/test_format.py
Due: none

Add f-string normalizer transformer
  src/black/linegen.py
  src/black/trans.py
  tests/data/preview/docstring_preview.py
  tests/data/preview/long_strings.py
  tests/data/preview/long_strings__regression.py
Due: none

Move iterate f-string method to strings.py
  src/black/strings.py
  src/black/trans.py
  tests/test_trans.py
Due: none

Move normalize f-string method to strings.py
  src/black/strings.py
  src/black/trans.py
Due: none

Add change to CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix bug in parsing.py in Python 3.6
  src/black/parsing.py
Due: none

Fix bug in parsing.py in Python 3.6, again
  src/black/parsing.py
Due: none

Add new ability to future_style.md
  docs/the_black_code_style/future_style.md
Due: none

actions/setup-python@v4 requires a Python version
  .github/workflows/diff_shades.yml
  .github/workflows/diff_shades_comment.yml
  .github/workflows/doc.yml
  .github/workflows/lint.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/uvloop_test.yml
Due: none

Add more formatting abilities to f-strings
  src/black/strings.py
  tests/data/preview/long_strings__regression.py
  tests/data/preview_36/remove_f_string_trailing_spaces.py
Due: none

Move test to fitting version
  tests/data/preview_36/remove_f_string_trailing_spaces.py
  tests/data/preview_38/remove_self_documenting_f_string_trailing_spaces.py
  tests/test_format.py
Due: none
