Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(src/blib2to3/|profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [python, pyi]

      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==5.4.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
      - id: mypy
        exclude: ^docs/conf.py
        additional_dependencies:
          - types-dataclasses >= 0.1.3
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - types-typed-ast >= 1.4.1
          - click >= 8.0.0
          - platformdirs >= 2.1.0

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

Instead of include all children, return early when encountering a Leaf node with `# fmt: on`.
  src/black/comments.py
  tests/data/simple_cases/fmtonoff5.py
Due: none

Fix the link to the regression test's issue number.
  tests/data/simple_cases/fmtonoff5.py
Due: none

Apply italic to Black name
  docs/integrations/editors.md
Due: none

Recommend using BlackConnect in IntelliJ IDEs
  docs/integrations/editors.md
Due: none

Add changelog for recommending BlackConnect
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

IntelliJ IDEs integration docs: improve formatting
  docs/integrations/editors.md
Due: none

Apply suggestions from code review
  docs/integrations/editors.md
Due: none

Fix indentation
  docs/integrations/editors.md
Due: none

Move CHANGELOG entry to Unreleased section
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

IntelliJ IDEs integration docs: bring back a point with formatting a file
  docs/integrations/editors.md
Due: none

IntelliJ IDEs integration docs: fix extra whitespace and linebreak
  docs/integrations/editors.md
Due: none

Recommend using BlackConnect in IntelliJ IDEs (#3150)
  CHANGES.md
  docs/integrations/editors.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Move to explicitly creating a new loop
  src/black/__init__.py
Due: none

Add to CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix a cooper typo yet again
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Set default asyncio loop to our explicitly created one + unset on exit
  src/black/__init__.py
Due: none

Don't (ever) put a single-char closing docstring quote on a new line
  CHANGES.md
  src/black/linegen.py
  tests/data/preview/docstring_preview.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update changelog entry PR number
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Copy over comments when hugging power ops (#2874)
  CHANGES.md
  src/black/parsing.py
  src/black/trans.py
  src/blib2to3/pytree.py
  tests/data/simple_cases/power_op_spacing.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Don't (ever) put a single-char closing docstring quote on a new line (#3166)
  CHANGES.md
  src/black/linegen.py
  tests/data/preview/docstring_preview.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

update on warning message
  docs/usage_and_configuration/black_as_a_server.md
Due: none

refactor: Order preview features alphabetically
  src/black/mode.py
Due: none

Actually disable docstring prefix normalization with -S + fix instability
  CHANGES.md
  src/black/linegen.py
  src/black/mode.py
  tests/data/miscellaneous/docstring_preview_no_string_normalization.py
  tests/data/simple_cases/docstring.py
  tests/test_format.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update docs/usage_and_configuration/black_as_a_server.md
  docs/usage_and_configuration/black_as_a_server.md
Due: none

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add warning to not run blackd publicly in docs (#3167)
  docs/usage_and_configuration/black_as_a_server.md
Due: none

Fix typo in black docs for --extend-exclude
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Move to explicitly creating a new loop (#3164)
  CHANGES.md
  src/black/__init__.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update src/black/linegen.py
  src/black/linegen.py
Due: none

Wrap comment that's too long
  src/black/linegen.py
Due: none

Actually disable docstring prefix normalization with -S + fix instability (#3168)
  CHANGES.md
  src/black/linegen.py
  src/black/mode.py
  tests/data/miscellaneous/docstring_preview_no_string_normalization.py
  tests/data/simple_cases/docstring.py
  tests/test_format.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix typo in config docs for --extend-exclude (#3170)
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

configure strict pytest
  pyproject.toml
Due: none

ignore current warnings
  pyproject.toml
Due: none

add pypy-3.8 to test matrix
  .github/workflows/test.yml
Due: none

configure strict pytest and filterwarnings=['error', ... (#3173)
  pyproject.toml
Due: none

document filtered warnings that cannot be removed easily
  pyproject.toml
Due: none

move invalid escape sequence DeprecationWarning to those tests that need it
  pyproject.toml
  tests/test_format.py
Due: none

Add pypy-3.8 to test matrix (#3174)
  .github/workflows/test.yml
Due: none
