Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          - beautifulsoup4>=4.14.2
          - commonmark==0.9.1
          - pyyaml==6.0.1

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies:
          - beautifulsoup4>=4.14.2
          - commonmark==0.9.1

  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==24.2.6
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        exclude: ^docs/conf.py$
        args: []
        additional_dependencies:
          # Click is intentionally out-of-sync with pyproject.toml
          # v8.2 has breaking changes. We work around them at runtime, but we need the newer stubs.
          - click>=8.2.0
          - packaging>=22.0
          - platformdirs>=2
          - pytokens>=0.3.0
          - tomli>=1.1.0,<2.0.0

          # blackd
          - aiohttp>=3.10

          # tests
          - pytest>=7

          # fuzz
          - hypothesis
          - hypothesmith
          - types-atheris

          # diff-shades
          - urllib3

          # version check
          - beautifulsoup4>=4.14.2
          - types-commonmark
          - types-pyyaml

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: weekly

Only skip cells whose first line of code is indented
  CHANGES.md
  src/black/handle_ipynb_magics.py
  tests/test_ipynb.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add failing test for duplicated comments in string_processing
  tests/data/cases/preview_long_strings__duplicate_comments.py
Due: none

Fix duplicated comments when string_processing rewrites a line (#3665)
  CHANGES.md
  src/black/trans.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: include .py in the default --include list
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Handle unusable cache directories
  src/black/__init__.py
  tests/test_black.py
Due: none

Add --cache-dir CLI option
  CHANGES.md
  docs/usage_and_configuration/file_collection_and_discovery.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
  src/black/cache.py
  src/black/concurrency.py
  src/black/nodes.py
  src/black/resources/black.schema.json
  src/blib2to3/pgen2/driver.py
  src/blib2to3/pygram.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Address cache review feedback
  docs/usage_and_configuration/file_collection_and_discovery.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
  src/black/cache.py
  src/black/resources/black.schema.json
  tests/test_black.py
Due: check-version-in-the-basics-example

Gate issue 3925 fix behind preview
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/issue_3925.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Avoid overlong commented RHS splits
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/issue_3925.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Gate commented RHS formatting as a preview feature
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
Due: none

Generalize commented RHS wrapping guard
  src/black/linegen.py
  tests/data/cases/issue_3925.py
Due: none

Clarify commented RHS preview feature
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/issue_3925.py
Due: none

Preserve leaf line numbers in append_leaves to prevent pragma line collapse
  CHANGES.md
  src/black/lines.py
  tests/data/cases/preview_long_strings__regression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Extract the width-without-comments measurement into _fits_without_comments
  src/black/linegen.py
Due: none

Keep trailing type-checker ignore pragmas on the first line of a split under --preview
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/nodes.py
  tests/data/cases/preview_trailing_ignore_pragma.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix --force-exclude for paths containing ..
  CHANGES.md
  src/black/files.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix(config): preserve compatible-release target bounds
  CHANGES.md
  src/black/files.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add PR number to changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix new tests on Windows and mypy
  tests/test_black.py
Due: none

docs: expand guidance for adopting Black
  docs/guides/introducing_black_to_your_project.md
Due: none

docs: add changelog entry for adoption guide
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Avoid unnecessary parens for unbreakable RHS in assignments (#3954)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  scripts/diff_shades_gha_helper.py
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_avoid_parens_for_unbreakable_rhs_in_assignments.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Don't cache files formatted with --line-ranges
  CHANGES.md
  src/black/__init__.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Avoid quadratic runtime in right_hand_split_with_omits on long lines (#5270)
  CHANGES.md
  src/black/linegen.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix `--line-ranges` crash on `# fmt: skip` before a closing bracket
  CHANGES.md
  src/black/ranges.py
  tests/data/cases/line_ranges_fmt_skip_in_brackets.py
  tests/data/line_ranges_formatted/fmt_skip_in_brackets.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add the PR number to the changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: include .py in the default --include list (#5465)
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Don't wrap part of an unmerged implicit string concatenation in parens (#5434)
  CHANGES.md
  src/black/linegen.py
  src/black/trans.py
  tests/data/cases/preview_long_strings__regression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix preview blank lines after a stub method (#5439)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/blank_line_after_stub_method.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix duplicated comments when string_processing rewrites a line (#5449)
  CHANGES.md
  src/black/trans.py
  tests/data/cases/preview_long_strings__duplicate_comments.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix --force-exclude for paths containing .. (#5471)
  CHANGES.md
  src/black/files.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs(contributing): fix two grammar typos in issue_triage.md (#5426)
  docs/contributing/issue_triage.md
Due: none

Apply suggestion from @cobaltt7
  docs/integrations/github_actions.md
Due: none

Add is_formatted output to GitHub Action (#3526) (#5408)
  CHANGES.md
  action.yml
  docs/integrations/github_actions.md
  src/black/__init__.py
  src/black/report.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Preserve leaf line numbers in append_leaves to prevent pragma line collapse (#5466)
  CHANGES.md
  src/black/lines.py
  tests/data/cases/preview_long_strings__regression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Refactor release process to be more automated and use immutable releases (#5296)
  .github/workflows/cut_release.yml
  .github/workflows/docs.yml
  .github/workflows/post_release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/publish_binaries.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/release_tests.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CHANGES.md
  docs/contributing/release_process.md
  pyproject.toml
  scripts/check_pre_commit_rev_in_example.py
  scripts/check_version_in_basics_example.py
  scripts/release.py
  scripts/release_tests.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prepare release 26.10.0
  CHANGES.md
  docs/guides/using_black_with_jupyter_notebooks.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix superlinear runtime growth with the number of input files (#5450)
  CHANGES.md
  src/black/concurrency.py
  tests/test_schedule_formatting.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example
