Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          - beautifulsoup4>=4.14.2
          - commonmark==0.9.1
          - pyyaml==6.0.1

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies:
          - beautifulsoup4>=4.14.2
          - commonmark==0.9.1

  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==24.2.6
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        exclude: ^docs/conf.py$
        args: []
        additional_dependencies:
          # Click is intentionally out-of-sync with pyproject.toml
          # v8.2 has breaking changes. We work around them at runtime, but we need the newer stubs.
          - click>=8.2.0
          - packaging>=22.0
          - platformdirs>=2
          - pytokens>=0.3.0
          - tomli>=1.1.0,<2.0.0

          # blackd
          - aiohttp>=3.10

          # tests
          - pytest>=7

          # fuzz
          - hypothesis
          - hypothesmith
          - types-atheris

          # diff-shades
          - urllib3

          # version check
          - beautifulsoup4>=4.14.2
          - types-commonmark
          - types-pyyaml

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: weekly

Fix `- [wbolster/emacs-python-black](https://github.com/wbolster/emacs-python-black)`
  docs/integrations/editors.md
Due: none

Fix Windows path syntax in documentation. Fix assorted typos in codebase. (#5059)
  CHANGES.md
  docs/contributing/issue_triage.md
  docs/faq.md
  docs/integrations/editors.md
  docs/usage_and_configuration/file_collection_and_discovery.md
  docs/usage_and_configuration/the_basics.md
  scripts/fuzz.py
  scripts/release.py
  src/black/__init__.py
  src/black/lines.py
  src/black/trans.py
  src/blib2to3/pgen2/parse.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add support for PEP 798 and 810 (#5048)
  CHANGES.md
  src/black/__init__.py
  src/black/mode.py
  src/black/nodes.py
  src/black/resources/black.schema.json
  src/blib2to3/Grammar.txt
  src/blib2to3/pgen2/token.py
  src/blib2to3/pgen2/tokenize.py
  src/blib2to3/pygram.py
  tests/data/cases/python315.py
  tests/test_black.py
  tests/util.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: add Neovim integration guide and fix http link
  docs/index.md
  docs/integrations/editors.md
Due: none

Use "Version X.Y.Z" headings in changelog for stable permalink anchors
  CHANGES.md
  scripts/check_pre_commit_rev_in_example.py
  scripts/check_version_in_basics_example.py
  scripts/release.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: add Neovim configuration guide
  docs/integrations/editors.md
Due: none

tests_black: always use the BlackRunner
  tests/test_black.py
Due: none

tests_black: always use the BlackRunner (#5066)
  tests/test_black.py
Due: none

docs: fix double colon in mailto hyperlink
  AUTHORS.md
Due: none

Improve parse error readability
  src/black/parsing.py
Due: none

Fix flake8 and mypy issues in parse error formatting
  src/black/parsing.py
Due: none

docs: fix double colon in mailto hyperlink (#5067)
  AUTHORS.md
Due: none

Code Cleanup: removed dead code identified by Skylos (#5052)
  src/blib2to3/pgen2/pgen.py
  src/blib2to3/pgen2/token.py
  src/blib2to3/pytree.py
Due: none

Improve ParseError and TokenError messages
  src/black/parsing.py
Due: none

Add changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Format parsing.py with Black
  src/black/parsing.py
Due: none

Add changelog entry for PR #5063
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add changelog entry and fix Lua highlighting in packer.nvim example
  CHANGES.md
  docs/integrations/editors.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Use "Version X.Y.Z" headings in changelog for stable permalink anchors (#5063)
  CHANGES.md
  scripts/check_pre_commit_rev_in_example.py
  scripts/check_version_in_basics_example.py
  scripts/release.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: add changelog entry for Neovim integration guide
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update docs and tests for new error message format
  docs/usage_and_configuration/the_basics.md
  tests/test_black.py
  tests/test_format.py
Due: check-version-in-the-basics-example

Add tests for #3350 Closes #3350 Closes #3362
  tests/data/cases/pep604_union_types_line_breaks.py
Due: none

Add tests for #3350 (#5069)
  tests/data/cases/pep604_union_types_line_breaks.py
Due: none

Upgrade mypy
  .pre-commit-config.yaml
  pyproject.toml
Due: none

docs: fix macOS spelling in config path docs
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Fix blackd returning 500 for invalid f-strings
  src/blackd/__init__.py
Due: none

docs: capitalize GitHub in diff-shades helper
  scripts/diff_shades_gha_helper.py
Due: none

docs: fix formatting wording in split comments
  src/black/lines.py
Due: none

Refine blackd error handling: split SourceASTParseError from ASTSafetyError
  src/black/__init__.py
  src/black/parsing.py
  src/blackd/__init__.py
Due: none

Split SourceASTParseError from ASTSafetyError for blackd error handling
  src/black/__init__.py
  src/black/parsing.py
  src/blackd/__init__.py
Due: none

docs: update SublimeText section to note sublack is archived
  docs/integrations/editors.md
Due: none

Improve formatting of `@overload`-decorated function groups in stub files, especially those with docstrings (#5021)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/pyi_overload_groups.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: fix formatting wording in split heuristic docstring
  src/black/lines.py
Due: none

docs: fix article in EPUB identifier comment
  docs/conf.py
Due: none

Fix #5083: Handle large file lists on Python 3.14
  src/black/concurrency.py
Due: none

In stub files, enforce a blank line between a function and a decorated class
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/pyi_decorated_class_blank_line.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Apply suggestion from @AlexWaygood
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

use diff code blocks
  docs/the_black_code_style/future_style.md
Due: none

Fix crash when formatting `case case if ...:` with short line lengths
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/pattern_matching_case_guard_crash.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove extra indentation in docs example
  docs/the_black_code_style/future_style.md
Due: none
