Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          - beautifulsoup4>=4.14.2
          - commonmark==0.9.1
          - pyyaml==6.0.1

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies:
          - beautifulsoup4>=4.14.2
          - commonmark==0.9.1

  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==24.2.6
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        exclude: ^docs/conf.py$
        args: []
        additional_dependencies:
          # Click is intentionally out-of-sync with pyproject.toml
          # v8.2 has breaking changes. We work around them at runtime, but we need the newer stubs.
          - click>=8.2.0
          - packaging>=22.0
          - platformdirs>=2
          - pytokens>=0.3.0
          - tomli>=1.1.0,<2.0.0

          # blackd
          - aiohttp>=3.10

          # tests
          - pytest>=7

          # fuzz
          - hypothesis
          - hypothesmith
          - types-atheris

          # diff-shades
          - urllib3

          # version check
          - beautifulsoup4>=4.14.2
          - types-commonmark
          - types-pyyaml

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: weekly

Install cibuildwheel using pip, rename build dependency groups for clarity
  .github/dependabot.yml
  .github/workflows/publish_binaries.yml
  .github/workflows/pypi_upload.yml
  Dockerfile
  pyproject.toml
Due: none

Revert "Remove extra indentation in docs example"
  docs/the_black_code_style/future_style.md
Due: none

reorder sections
  docs/integrations/doctest_formatting.md
Due: none

Remove outdated comment from .pre-commit-config.yml
  .pre-commit-config.yaml
Due: none

Add back hatch plugins for docker's sake
  pyproject.toml
Due: none

Update old comments & add back Hatch plugins (#5094)
  .github/workflows/diff_shades_comment.yml
  .github/workflows/fuzz.yml
  .github/workflows/post_release.yml
  .github/workflows/publish_binaries.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Added documentation for doctest formatting tools (#4916)
  CHANGES.md
  docs/integrations/doctest_formatting.md
  docs/integrations/index.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix unnecessary parentheses in indexed assignment RHS (#4349)
  src/black/lines.py
  tests/data/cases/prefer_rhs_split.py
  tests/data/cases/prefer_rhs_split_reformatted.py
Due: none

Prevent string merger from creating unsplittable long lines (#4510)
  src/black/trans.py
  tests/data/cases/preview_long_strings__regression.py
Due: none

Fix crash when f-string follows # fmt: off inside brackets (#4511)
  src/black/linegen.py
  tests/data/cases/fmtonoff6.py
Due: none

Add unindented test cases for f-string with # fmt: off inside brackets
  tests/data/cases/fmtonoff6.py
Due: none

Add CHANGES.md entry for string merger pragma comment fix
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Gate indexed assignment parens fix behind preview mode and add CHANGES.md
  CHANGES.md
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  tests/data/cases/prefer_rhs_split.py
  tests/data/cases/prefer_rhs_split_reformatted.py
  tests/data/cases/preview_prefer_rhs_split_indexed_assignment.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prevent string merger from creating unsplittable long lines (#5096)
  CHANGES.md
  src/black/trans.py
  tests/data/cases/preview_long_strings__regression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Address review feedback: make mode required, use AST-based length check, add docs
  docs/the_black_code_style/future_style.md
  src/black/lines.py
Due: none

Add changelog entry for f-string fmt: off crash fix
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Regenerate schema to include fix_unnecessary_parens_in_indexed_assignment
  src/black/resources/black.schema.json
Due: none

Fix crash when f-string follows # fmt: off inside brackets (#5097)
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/fmtonoff6.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: update test to expect SourceASTParseError
  tests/test_black.py
Due: none

Improve parse error output formatting and update tests and docs
  CHANGES.md
  docs/usage_and_configuration/the_basics.md
  src/black/parsing.py
  tests/test_black.py
  tests/test_format.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix TokenError handling in parsing
  src/black/parsing.py
  tests/test_black.py
Due: none

Revert "[pre-commit.ci] pre-commit autoupdate (#5084)"
  .pre-commit-config.yaml
Due: none

Revert "[pre-commit.ci] pre-commit autoupdate" (#5098)
  .pre-commit-config.yaml
Due: none

Add changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

In stub files, enforce a blank line between a function and a decorated class definition (#5092)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/pyi_decorated_class_blank_line.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: update SublimeText section to note sublack is archived (#5082)
  CHANGES.md
  docs/integrations/editors.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Address latest review comments
  docs/usage_and_configuration/the_basics.md
  tests/test_black.py
Due: check-version-in-the-basics-example

Apply suggestions from code review
  docs/usage_and_configuration/the_basics.md
  tests/test_black.py
Due: check-version-in-the-basics-example

Update the_basics.md
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Improve parse error readability (#5068)
  CHANGES.md
  docs/usage_and_configuration/the_basics.md
  src/black/parsing.py
  tests/test_black.py
  tests/test_format.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

feat: add AI agent governance configs
  .amazonq/rules/governance.md
  .claude/governance.md
  .clinerules
  .continuerules
  .cursor/rules/governance.mdc
  .github/copilot-instructions.md
  .rules
  .windsurf/rules/governance.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

Test on Python 3.15 And updates a few other metadata version lists
  .github/workflows/fuzz.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/release_tests.yml
  .github/workflows/test.yml
  plugin/black.vim
  pyproject.toml
  tests/util.py
  tox.ini
Due: none

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix typo in current_style.md
  docs/the_black_code_style/current_style.md
Due: none

Fix typo in current_style.md (#5102)
  docs/the_black_code_style/current_style.md
Due: none

docs: fix doctest formatting typo
  docs/integrations/doctest_formatting.md
Due: none

docs: fix doctest formatting typo (#5103)
  docs/integrations/doctest_formatting.md
Due: none

docs: fix line-splitting comment wording
  src/black/lines.py
Due: none

docs: add changelog note for comment wording
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add validation for --line-ranges values in parse_line_ranges
  src/black/ranges.py
  tests/test_ranges.py
Due: none
