Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==6.0.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        exclude: ^docs/conf.py
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies:
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - click >= 8.1.0, != 8.1.4, != 8.1.5
          - packaging >= 22.0
          - platformdirs >= 2.1.0
          - pytest
          - hypothesis
          - aiohttp >= 3.7.4
          - types-commonmark
          - urllib3
          - hypothesmith

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: quarterly

Make black[d] install + test run with 3.12 (#4035)
  .github/workflows/doc.yml
  .github/workflows/fuzz.yml
  .github/workflows/test.yml
  CHANGES.md
  pyproject.toml
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update the documentation of `--line-ranges`.
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Update docs/usage_and_configuration/the_basics.md
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Reformat.
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

[ci] Move 'lint' to 3.12
  .github/workflows/lint.yml
  tox.ini
Due: none

[docker ci] Split up amd64 (x86_64) and arm64 builds
  .github/workflows/docker_amd64.yml
  .github/workflows/docker_arm64.yml
Due: none

Add CHANGES entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

[docker] Build with 3.12 image
  Dockerfile
Due: none

Fix #typo copy pasta fun
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

[docker] Build with 3.12 image (#4055)
  CHANGES.md
  Dockerfile
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

[ci] Move 'lint' to 3.12 (#4053)
  .github/workflows/lint.yml
  tox.ini
Due: none

[docker ci] Split up amd64 (x86_64) and arm64 builds (#4054)
  .github/workflows/docker_amd64.yml
  .github/workflows/docker_arm64.yml
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

[docker ci] Revert "parallel" builds in seperate actions
  .github/workflows/docker.yml
  .github/workflows/docker_arm64.yml
Due: none

[docker ci] Revert "parallel" builds in seperate actions (#4057)
  .github/workflows/docker.yml
  .github/workflows/docker_arm64.yml
Due: none

Permit standalone form feed characters at the module level (#4021)
  CHANGES.md
  docs/contributing/reference/reference_functions.rst
  docs/the_black_code_style/future_style.md
  src/black/comments.py
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  src/black/nodes.py
  src/black/output.py
  src/blib2to3/pgen2/driver.py
  tests/data/cases/preview_form_feeds.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Disable the stability check with --line-ranges for now. (#4034)
  CHANGES.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
  tests/data/cases/line_ranges_diff_edge_case.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Allow empty lines at beginning of blocks (again)
  CHANGES.md
  src/black/lines.py
  src/black/mode.py
  tests/data/cases/preview_allow_empty_first_line.py
  tests/data/cases/preview_form_feeds.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Run lint job on Ubuntu only
  .github/workflows/lint.yml
Due: none

reformat
  src/black/lines.py
Due: none

update comments
  src/black/lines.py
Due: none

Many uncontroverisal preview changes
  src/black/comments.py
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  src/black/nodes.py
  tests/data/cases/no_blank_line_before_docstring.py
Due: none

more relatively noncontroversial features
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  src/black/nodes.py
Due: none

Update some tests
  tests/data/cases/attribute_access_on_number_literals.py
  tests/data/cases/comments5.py
  tests/data/cases/composition.py
  tests/data/cases/composition_no_trailing_comma.py
  tests/data/cases/empty_lines.py
  tests/data/cases/expression.py
  tests/data/cases/fmtonoff.py
  tests/data/cases/fmtonoff5.py
  tests/data/cases/function.py
  tests/data/cases/keep_newline_after_match.py
  tests/data/cases/long_strings_flag_disabled.py
  tests/data/cases/parenthesized_context_managers.py
  tests/data/cases/pattern_matching_extras.py
  tests/data/cases/pep_572_py310.py
  tests/data/cases/pep_572_remove_parens.py
  tests/data/cases/python39.py
  tests/data/cases/remove_newline_after_code_block_open.py
  tests/data/cases/remove_with_brackets.py
  tests/data/cases/return_annotation_brackets.py
Due: none

Enable two more
  src/black/linegen.py
  src/black/mode.py
  tests/data/cases/expression.py
  tests/data/cases/long_strings_flag_disabled.py
Due: none

Run lint job on Ubuntu only (#4061)
  .github/workflows/lint.yml
Due: none

Do not treat "... # comment" as a dummy implementation
  CHANGES.md
  src/black/nodes.py
  tests/data/cases/preview_dummy_implementations.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix(pre-commit): raise minimum_pre_commit_version (#4065)
  .pre-commit-hooks.yaml
Due: none

chore: add entry to CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Also exclude non-function/class suites, fix tests
  src/black/linegen.py
  src/black/nodes.py
  tests/data/cases/funcdef_return_type_trailing_comma.py
  tests/data/cases/ignore_pyi.py
  tests/data/cases/preview_dummy_implementations.py
Due: none

lint
  src/black/lines.py
Due: none

Prefer more equal signs before a break when splitting chained assignments (#4010)
  CHANGES.md
  src/black/linegen.py
  src/black/lines.py
  tests/data/cases/preview_prefer_rhs_split.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Bump mypy to 1.7.1
  .pre-commit-config.yaml
  CHANGES.md
  pyproject.toml
  src/blib2to3/pgen2/tokenize.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

try to placate the CHANGELOG check
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Bump mypy to 1.7.1 (#4069)
  .pre-commit-config.yaml
  CHANGES.md
  pyproject.toml
  src/blib2to3/pgen2/tokenize.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Build mypycified wheels for Python 3.12
  CHANGES.md
  pyproject.toml
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

update workflow file
  .github/workflows/pypi_upload.yml
Due: none

Build mypycified wheels for Python 3.12 (#4070)
  .github/workflows/pypi_upload.yml
  CHANGES.md
  pyproject.toml
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: Clarify include/exclude documentation
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
Due: check-version-in-the-basics-example

docs: Unify option descriptions between `--help` and `the_basics.md`
  CHANGES.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example
