Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==6.0.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        exclude: ^(docs/conf.py|scripts/generate_schema.py)$
        args: []
        additional_dependencies: &mypy_deps
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - click >= 8.1.0, != 8.1.4, != 8.1.5
          - packaging >= 22.0
          - platformdirs >= 2.1.0
          - pytest
          - hypothesis
          - aiohttp >= 3.7.4
          - types-commonmark
          - urllib3
          - hypothesmith
      - id: mypy
        name: mypy (Python 3.10)
        files: scripts/generate_schema.py
        args: ["--python-version=3.10"]
        additional_dependencies: *mypy_deps

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: quarterly

Update tests/test_black.py
  tests/test_black.py
Due: none

Simplify check for symlinks that resolve outside root (#4221)
  src/black/__init__.py
  src/black/files.py
  tests/test_black.py
Due: none

Fix ignoring input files for symlink reasons
  src/black/__init__.py
  src/black/files.py
  tests/test_black.py
Due: none

annoying encoding test
  tests/test_black.py
Due: none

fix for windows <= 3.9
  tests/test_black.py
Due: none

change
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update src/black/files.py
  src/black/files.py
Due: none

Fix ignoring input files for symlink reasons (#4222)
  CHANGES.md
  src/black/__init__.py
  src/black/files.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prepare release 24.2.0
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: Don't remove comments along with parens (#4218)
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/comments_in_double_parens.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Lint, remove unused function
  src/black/__init__.py
  src/black/nodes.py
  src/black/strings.py
Due: none

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove empty sections
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prepare release 24.2.0 (#4226)
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add new release template
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add new release template (#4228)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

lists reformats with check and quiet
  src/black/__init__.py
Due: none

test case
  tests/test_black.py
Due: none

add to changes.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

doc adjustment
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

revert changes
  src/black/__init__.py
  tests/test_black.py
Due: none

update changes.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

undo formatting
  tests/test_black.py
Due: none

Update docs/usage_and_configuration/the_basics.md
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Update empty line documentation
  docs/the_black_code_style/current_style.md
Due: none

Update __init__.py
  src/black/__init__.py
Due: none

Make the pyver argument optional
  autoload/black.vim
Due: none

Print the import path when importing black fails
  autoload/black.vim
Due: none

Return site-packages for the venv Python version
  autoload/black.vim
Due: none

Add site-packages to sys.path when black is in a non-default virtualenv
  autoload/black.vim
Due: none

Report Black's Python version instead of Vim's
  autoload/black.vim
Due: none

Add notes
  autoload/black.vim
Due: none

Update changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add PR number
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: Don't merge comments while splitting delimiters
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/split_delimiter_comments.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update empty line documentation (#4239)
  docs/the_black_code_style/current_style.md
Due: none

Remove usage of `pkg_resources` in `docs/conf.py`
  docs/conf.py
Due: none

Remove usage of `pkg_resources` in `docs/conf.py` (#4251)
  docs/conf.py
Due: none
