Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - commonmark==0.9.1
  - pyyaml==6.0.1
  - beautifulsoup4==4.9.3

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - commonmark==0.9.1
  - pyyaml==6.0.1
  - beautifulsoup4==4.9.3

CI: Replace unsupported windows-2019 with window-2025 (#4697)
  .github/workflows/upload_binary.yml
Due: none

Split the `in` clause of comprehensions onto its own line if necessary Fixes #3498
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/brackets.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_split_comprehension_in.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Lint issues
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/__init__.py
  src/black/comments.py
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Move to preview style
  src/black/brackets.py
  src/black/linegen.py
  src/black/lines.py
Due: none

run self
  src/black/linegen.py
Due: none

Fix backslash carriage return comments (#4663)
  CHANGES.md
  src/black/comments.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

New tests for better covering of tuples inside with statements (#4650)
  tests/data/cases/context_managers_39.py
  tests/data/cases/tuple_with_stmt.py
Due: none

Add default exclusions and inclusions to docs (#4432)
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Update trans.py
  src/black/trans.py
Due: none

Fix f string expr split after (#4680)
  CHANGES.md
  src/black/trans.py
  tests/data/cases/preview_long_strings.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Create _black_version.pyi
  src/_black_version.pyi
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Print the import paths when importing black fails
  CHANGES.md
  autoload/black.vim
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix handling of virtualenvs that have a different Python version
  CHANGES.md
  autoload/black.vim
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

cleanup cleanup
  .flake8
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .prettierrc.yaml
  .readthedocs.yaml
  action.yml
  autoload/prism.vim
  gallery/Dockerfile
  gallery/README.md
  gallery/gallery.py
  plugin/prism.vim
  tox.ini
Due: none

Fix type params tuple error (#4684)
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/type_params.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Misc lints (#4694)
  src/black/__init__.py
  src/black/comments.py
  src/black/handle_ipynb_magics.py
  src/black/lines.py
  src/black/ranges.py
  src/black/strings.py
  src/black/trans.py
Due: none

Improve `multiline_string_handling` with ternaries and dictionaries (#4657)
  CHANGES.md
  src/black/lines.py
  tests/data/cases/preview_multiline_strings.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add DETAILS.md for improved documentation
  DETAILS.md
Due: none

Fix minor typo
  docs/the_black_code_style/future_style.md
Due: none

Fix minor typo (#4707)
  docs/the_black_code_style/future_style.md
Due: none

Update index.rst
  docs/index.rst
Due: none

Normalize newlines
  src/black/__init__.py
  src/blackd/__init__.py
  tests/test_black.py
Due: none

Fix tired mistakes
  src/black/__init__.py
Due: none

Add changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update documentation
  docs/the_black_code_style/current_style.md
Due: none

Change the missed `NON_BREAKING_SPACE` to `"\N{NO-BREAK SPACE}"` per RUF001 (PR #4694);
  src/black/comments.py
Due: none

Update faq.md
  docs/faq.md
Due: none

Add FAQ section on Windows emojis not working (#4714)
  CHANGES.md
  docs/faq.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update PR Template (#4716)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Clean up unnecessary strip calls as per review
  src/black/comments.py
Due: none

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(profiling/|tests/data/)
