Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==6.0.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        exclude: ^docs/conf.py
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies:
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - click >= 8.1.0, != 8.1.4, != 8.1.5
          - packaging >= 22.0
          - platformdirs >= 2.1.0
          - pytest
          - hypothesis
          - aiohttp >= 3.7.4
          - types-commonmark
          - urllib3
          - hypothesmith

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: quarterly

Resolve requested changes
  CHANGES.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

issue_4068: fixed indentation issue for `fmt: off` comments
  src/black/__init__.py
  src/black/comments.py
Due: none

issue_4068: added test case to replicate the issue
  tests/data/cases/line_ranges_fmt_off_decorator.py
Due: none

issue_4068: code formatting
  src/black/comments.py
Due: none

issue_4068: updated Changes.md with bug details
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix minor typo scentific -> scientific genearting -> generating _convert_unchanged_lines_by_flatterning -> _convert_unchanged_line_by_line
  src/black/numerics.py
  src/black/ranges.py
Due: none

Fix minor typos in docstrings (#4085)
  src/black/numerics.py
  src/black/ranges.py
Due: none

issue_4068: made new change detials more descriptive
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: Correct my correction
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
Due: check-version-in-the-basics-example

docs: Remove changelog entry The [skip news] label was added, and in retrospect this isn't changelog-worthy anyways. And I think I had a brainfart while writing the entry too 😅
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix: --line-ranges dedents a # fmt: off in the middle of a decorator (#4084)
  CHANGES.md
  src/black/__init__.py
  src/black/comments.py
  tests/data/cases/line_ranges_fmt_off_decorator.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix crash in preview mode with --line-length=1
  src/black/linegen.py
  tests/data/cases/return_annotation_brackets_crash_line_length_1.py
Due: none

add changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix crash in preview mode with --line-length=1 (#4086)
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/return_annotation_brackets_crash_line_length_1.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

mode.preview -> preview_mode, mark pep_572_remove_parens as failing with ll1
  tests/data/cases/pep_572_remove_parens.py
  tests/util.py
Due: none

test preview cases with line-length 1 unless explicitly skipped (#4087)
  tests/data/cases/comment_type_hint.py
  tests/data/cases/comments2.py
  tests/data/cases/fmtskip2.py
  tests/data/cases/pep_572_remove_parens.py
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets.py
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets_no_ll1.py
  tests/data/cases/return_annotation_brackets_crash_line_length_1.py
  tests/test_format.py
  tests/util.py
Due: none

docs: Clarify include/exclude documentation (#4072)
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
Due: check-version-in-the-basics-example

Update the_basics.md
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

docs: Unify option descriptions between `--help` and `the_basics.md` (#4076)
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
Due: check-version-in-the-basics-example

docs: Move `fmt: off` docs
  docs/the_black_code_style/current_style.md
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

perf: increasing the performance to remove unnecessary for loops
  action/main.py
  src/black/files.py
Due: none

Forget about comments, but only do it to functions
  src/black/nodes.py
  tests/data/cases/funcdef_return_type_trailing_comma.py
  tests/data/cases/ignore_pyi.py
  tests/data/cases/preview_dummy_implementations.py
Due: none

Update changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

format self
  src/black/nodes.py
Due: none

docs: Move `fmt: off` docs (#4090)
  docs/the_black_code_style/current_style.md
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

add a case
  tests/data/cases/preview_allow_empty_first_line.py
Due: none

Allow empty lines at beginning of blocks (again) (#4060)
  CHANGES.md
  src/black/lines.py
  src/black/mode.py
  tests/data/cases/preview_allow_empty_first_line.py
  tests/data/cases/preview_form_feeds.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Start to unify docstrings
  src/black/linegen.py
  src/black/lines.py
  src/black/nodes.py
  src/black/output.py
  src/black/strings.py
Due: none

Fix implementation
  CHANGES.md
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  src/black/nodes.py
  src/black/output.py
  tests/data/cases/module_docstring_2.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Found another behavior change
  src/black/lines.py
  src/black/mode.py
  src/black/nodes.py
  tests/data/cases/preview_no_blank_line_before_docstring.py
Due: none

Remove obsolete features
  src/black/mode.py
Due: none

Fix up merge
  src/black/lines.py
Due: none

Add --unstable flag
  src/black/__init__.py
  src/black/lines.py
  src/black/mode.py
  tests/data/cases/preview_cantfit.py
  tests/data/cases/preview_cantfit_string.py
  tests/data/cases/preview_comments7.py
  tests/data/cases/preview_long_strings.py
  tests/data/cases/preview_long_strings__east_asian_width.py
  tests/data/cases/preview_long_strings__edge_case.py
  tests/data/cases/preview_long_strings__regression.py
  tests/data/cases/preview_multiline_strings.py
  tests/data/cases/preview_percent_precedence.py
  tests/data/cases/preview_return_annotation_brackets_string.py
  tests/util.py
Due: none

Add dedicated preview feature for East Asian Width
  src/black/lines.py
  src/black/mode.py
Due: none

self
  tests/util.py
Due: none

fine
  src/black/mode.py
Due: none

Add dedicated preview feature for East Asian Width (#4097)
  src/black/lines.py
  src/black/mode.py
Due: none

Only use dummy implementation logic for functions and classes (#4066)
  CHANGES.md
  src/black/linegen.py
  src/black/nodes.py
  tests/data/cases/preview_dummy_implementations.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix the worst issues
  src/black/linegen.py
  src/black/lines.py
  src/black/nodes.py
Due: none
