Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          - beautifulsoup4>=4.14.2
          - commonmark==0.9.1
          - pyyaml==6.0.1

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies:
          - beautifulsoup4>=4.14.2
          - commonmark==0.9.1

  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==24.2.6
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        exclude: ^docs/conf.py$
        args: []
        additional_dependencies:
          # Click is intentionally out-of-sync with pyproject.toml
          # v8.2 has breaking changes. We work around them at runtime, but we need the newer stubs.
          - click>=8.2.0
          - packaging>=22.0
          - platformdirs>=2
          - pytokens>=0.3.0
          - tomli>=1.1.0,<2.0.0

          # blackd
          - aiohttp>=3.10

          # tests
          - pytest>=7

          # fuzz
          - hypothesis
          - hypothesmith
          - types-atheris

          # diff-shades
          - urllib3

          # version check
          - beautifulsoup4>=4.14.2
          - types-commonmark
          - types-pyyaml

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: weekly

Preserve single-element tuple comma under --skip-magic-trailing-comma (#5246)
  CHANGES.md
  src/black/lines.py
  tests/data/cases/skip_magic_trailing_comma.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Bump mypy to 2.3.0
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Bump prettier to 3.9.6
  .pre-commit-config.yaml
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove options that are now enabled by default and slotted for removal
  pyproject.toml
Due: none

Preserve blank lines before fmt-off classes (#5238)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_fmt_off_class_blank_lines.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Bump prettier to 3.9.6 (#5248)
  .pre-commit-config.yaml
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Test on Python 3.15, and update version to 3.15 everywhere
  .github/workflows/diff_shades.yml
  .github/workflows/diff_shades_comment.yml
  .github/workflows/docs.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/post_release.yml
  .github/workflows/publish_binaries.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/release_tests.yml
  .github/workflows/test.yml
  .readthedocs.yaml
  Dockerfile
  docs/integrations/github_actions.md
  plugin/black.vim
Due: none

Preserve InvalidInput details under mypyc
  src/black/parsing.py
Due: none

Fix NoReturn import compatibility with older Python versions
  src/blib2to3/pgen2/pgen.py
Due: none

Prefer splitting whole boolean conditions
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  tests/data/cases/preview_parenthesize_whole_conditional_expression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: fix grammar typo '.pyi file that are' -> '.pyi files that are' in code style guide
  docs/the_black_code_style/current_style.md
Due: none

docs: fix grammar typo '.pyi file that are' -> '.pyi files that are' … (#5253)
  docs/the_black_code_style/current_style.md
Due: none

Bump cibuildwheel to 4.1.0
  pyproject.toml
Due: none

Bump myst-parser to 5.1.0
  docs/contributing/the_basics.md
  pyproject.toml
Due: check-version-in-the-basics-example

Bump cibuildwheel to 4.1.0 (#5254)
  pyproject.toml
Due: none

Bump myst-parser to 5.1.0 (#5255)
  docs/contributing/the_basics.md
  pyproject.toml
Due: check-version-in-the-basics-example

Treat Ruff ignore comments as pragmas
  CHANGES.md
  src/black/comments.py
  src/black/nodes.py
  tests/data/cases/ruff_ignore_pragma.py
  tests/test_trans.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

don't re-escape an already escaped quote in normalize_string_quotes
  CHANGES.md
  src/black/strings.py
  tests/data/cases/string_quotes_escaped_trailing_quote.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Bump mypy to 2.3.0 (#5247)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

don't re-escape an already escaped quote in normalize_string_quotes (#5262)
  CHANGES.md
  src/black/strings.py
  tests/data/cases/string_quotes_escaped_trailing_quote.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

don't escape nested quotes inside t-string replacement fields
  CHANGES.md
  src/black/linegen.py
  src/black/strings.py
  tests/data/cases/pep_750_nested_quotes.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix(comments): treat # ruff: comments as pragmas in contains_pragma_comment
  src/black/comments.py
Due: none

fix(pytree): initialize bracket_depth in Leaf __init__
  src/blib2to3/pytree.py
Due: none

feat(cache): support custom_cache_dir parameter in get_cache_dir and get_cache_file
  src/black/cache.py
Due: none

don't escape nested quotes inside t-string replacement fields (#5265)
  CHANGES.md
  src/black/linegen.py
  src/black/strings.py
  tests/data/cases/pep_750_nested_quotes.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix target version inference for strict-greater requires-python specifiers
  CHANGES.md
  src/black/files.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Handle line-range prefix comments precisely
  src/black/__init__.py
  src/black/comments.py
  src/black/linegen.py
  src/black/ranges.py
  src/blib2to3/pytree.py
  tests/test_black.py
Due: none

Fix: update issue ref to 5269 and re-blacken test file
  CHANGES.md
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Format repository with preview style
  src/black/__init__.py
  src/black/brackets.py
  src/black/comments.py
  src/black/concurrency.py
  src/black/files.py
  src/black/handle_ipynb_magics.py
  src/black/linegen.py
  src/black/lines.py
  src/black/nodes.py
  src/black/parsing.py
  src/black/ranges.py
  src/black/trans.py
  src/blib2to3/pgen2/driver.py
  src/blib2to3/pgen2/tokenize.py
  tests/optional.py
Due: none

Test piping with repository preview style
  tests/test_black.py
Due: none

don't hug when it would merge two `type: ignore` comments
  src/black/linegen.py
  tests/data/cases/preview_hug_parens_with_type_ignore.py
Due: none

add changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

keep a required trailing comma when hugging power operators
  src/black/trans.py
  tests/data/cases/skip_magic_trailing_comma.py
Due: none

Apply suggestion from @cobaltt7
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Improve formatting performance for subscript chains
  src/black/linegen.py
  src/black/lines.py
  tests/test_black.py
Due: none

Add changelog entry for #5275
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

allow-prereleases: true
  .github/workflows/diff_shades.yml
  .github/workflows/diff_shades_comment.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/post_release.yml
  .github/workflows/publish_binaries.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/test.yml
  docs/integrations/github_actions.md
Due: none

Preserve ruff ignore pragmas when splitting lines
  src/black/comments.py
  src/black/lines.py
  src/black/nodes.py
  tests/test_format.py
Due: none
