Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==6.0.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        exclude: ^(docs/conf.py|scripts/generate_schema.py)$
        args: []
        additional_dependencies: &mypy_deps
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - click >= 8.1.0, != 8.1.4, != 8.1.5
          - packaging >= 22.0
          - platformdirs >= 2.1.0
          - pytest
          - hypothesis
          - aiohttp >= 3.7.4
          - types-commonmark
          - urllib3
          - hypothesmith
      - id: mypy
        name: mypy (Python 3.10)
        files: scripts/generate_schema.py
        args: ["--python-version=3.10"]
        additional_dependencies: *mypy_deps

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: quarterly

Update libs into .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Apply suggestions from code review
  CHANGES.md
  docs/the_black_code_style/future_style.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix schema
  src/black/resources/black.schema.json
Due: none

Two blank lines after an import should be reduced to one (#4489)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_comments7.py
  tests/data/cases/preview_import_line_collapse.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prevent f-string merge quote changes with nested quotes (#4498)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/trans.py
  tests/data/cases/preview_fstring.py
  tests/data/cases/preview_long_strings.py
  tests/data/cases/preview_long_strings__regression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update index.md
  docs/index.md
Due: none

Update issue_triage.md
  docs/contributing/issue_triage.md
Due: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update SECURITY.md
  SECURITY.md
Due: none

Update release_process.md
  docs/contributing/release_process.md
Due: none

Update .prettierrc.yaml
  .prettierrc.yaml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Suggesting the tool for doctest formatting. fixes#3083
  docs/contributing/tools_doctest_formatting.md
Due: none

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update libs into .pre-commit-config.yaml (#4521)
  .pre-commit-config.yaml
Due: none

add test
  tests/data/cases/anti_regression_2248.py
Due: none

add test
  tests/data/cases/anti_regression_1765.py
Due: none

move test location
  tests/data/cases/anti_regression_1765.py
  tests/data/cases/type_params.py
Due: none

move test again
  tests/data/cases/annotations.py
  tests/data/cases/type_params.py
Due: none

Update tests/data/cases/annotations.py
  tests/data/cases/annotations.py
Due: none

Update .gitattributes
  .gitattributes
Due: none

Try to fix line endings issue
  .gitattributes
Due: none

This should also work, but reduce the noise
  .gitattributes
Due: none

Added clarification for configuration file.
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Add `*.py diff=python` to `.gitattributes` (#4531)
  .gitattributes
Due: none

Undoing the $ deletion from formatter.
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Update docs/usage_and_configuration/the_basics.md
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

make progress i think
  src/black/const.py
  src/black/linegen.py
  src/black/lines.py
  src/black/trans.py
  tests/data/cases/preview_long_dict_values_2.py
Due: none

dont wrap simple assignments
  src/black/const.py
  src/black/linegen.py
Due: none

Add Clarification to Config File Location/Name (#4533)
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Replace the blib2to3 tokenizer with pytokens
  pyproject.toml
  src/blib2to3/pgen2/driver.py
  src/blib2to3/pgen2/pgen.py
  src/blib2to3/pgen2/tokenize.py
  tests/test_tokenize.py
Due: none

formatting
  src/blib2to3/pgen2/driver.py
  src/blib2to3/pgen2/tokenize.py
  tests/test_tokenize.py
Due: none

wip
  src/blib2to3/pgen2/tokenize.py
Due: none

fix a few regressions
  src/black/linegen.py
Due: none

hmmm
  src/black/linegen.py
Due: none

oop
  src/black/linegen.py
Due: none

no at this point it mostly works so go back here
  src/black/linegen.py
  tests/data/cases/preview_long_strings.py
Due: none

fix preview_long_strings
  tests/data/cases/preview_long_strings.py
Due: none

maybe finish it!
  src/black/linegen.py
  tests/data/cases/preview_long_dict_values_2.py
Due: none
