Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          - beautifulsoup4>=4.14.2
          - commonmark==0.9.1
          - pyyaml==6.0.1

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies:
          - beautifulsoup4>=4.14.2
          - commonmark==0.9.1

  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==24.2.6
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        exclude: ^docs/conf.py$
        args: []
        additional_dependencies:
          # Click is intentionally out-of-sync with pyproject.toml
          # v8.2 has breaking changes. We work around them at runtime, but we need the newer stubs.
          - click>=8.2.0
          - packaging>=22.0
          - platformdirs>=2
          - pytokens>=0.3.0
          - tomli>=1.1.0,<2.0.0

          # blackd
          - aiohttp>=3.10

          # tests
          - pytest>=7

          # fuzz
          - hypothesis
          - hypothesmith
          - types-atheris

          # diff-shades
          - urllib3

          # version check
          - beautifulsoup4>=4.14.2
          - types-commonmark
          - types-pyyaml

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: weekly

docs: document --force-exclude for pre-commit workflows (#4957)
  docs/integrations/source_version_control.md
Due: check-pre-commit-rev-in-example

Fix Shutdown multiprocessing Manager in schedule_formatting (#4952)
  CHANGES.md
  src/black/concurrency.py
  tests/test_concurrency_manager_shutdown.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update pyproject.toml
  pyproject.toml
Due: none

Bump wcwidth version in pyproject.toml to avoid downgrading the used version in the future
  pyproject.toml
Due: none

Update flags in tests
  tests/data/cases/comments5.py
  tests/data/cases/docstring2.py
  tests/data/cases/fmtskip10.py
  tests/data/cases/fmtskip12.py
  tests/data/cases/fmtskip13.py
  tests/data/cases/import_line_collapse.py
  tests/data/cases/module_docstring_after_comment.py
  tests/data/cases/multiline_strings.py
  tests/data/cases/remove_except_types_parens.py
  tests/data/cases/remove_except_types_parens_pre_py314.py
  tests/data/cases/remove_parens_from_lhs.py
  tests/data/cases/standardize_type_comments.py
  tests/data/cases/type_expansion.py
  tests/data/cases/walrus_in_dict.py
Due: none

change pathspec version in changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Run release.py
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prepare 2026.1.0 release (#4892)
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/the_black_code_style/future_style.md
  docs/usage_and_configuration/the_basics.md
  pyproject.toml
  scripts/fuzz.py
  src/black/__init__.py
  src/black/_width_table.py
  src/black/comments.py
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  src/black/nodes.py
  src/black/resources/black.schema.json
  src/blackd/__init__.py
  tests/data/cases/comments5.py
  tests/data/cases/composition.py
  tests/data/cases/composition_no_trailing_comma.py
  tests/data/cases/docstring2.py
  tests/data/cases/fmtskip10.py
  tests/data/cases/fmtskip12.py
  tests/data/cases/fmtskip13.py
  tests/data/cases/import_line_collapse.py
  tests/data/cases/module_docstring_after_comment.py
  tests/data/cases/multiline_strings.py
  tests/data/cases/preview_fmtpass_imports.py
  tests/data/cases/preview_long_strings__east_asian_width.py
  tests/data/cases/remove_except_types_parens.py
  tests/data/cases/remove_except_types_parens_pre_py314.py
  tests/data/cases/remove_parens_from_lhs.py
  tests/data/cases/skip_magic_trailing_comma.py
  tests/data/cases/standardize_type_comments.py
  tests/data/cases/type_expansion.py
  tests/data/cases/walrus_in_dict.py
  tests/data/line_ranges_formatted/basic.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add new changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add new changelog (#4962)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add Preview import back
  src/black/nodes.py
Due: none

Don't double-decode input, causing non-UTF-8 files to be corrupted
  CHANGES.md
  src/black/__init__.py
  tests/data/cases/decode_with_encoding.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

format self
  src/black/__init__.py
Due: none

Move to a file test
  tests/test_black.py
Due: none

Try with `format_file_in_place`
  tests/data/decode_with_encoding/first_line.py
  tests/data/decode_with_encoding/second_line.py
  tests/test_black.py
Due: none

format self
  tests/test_black.py
Due: none

chore: configuration for green test baseline and setup guide
  SETUP_GUIDE.txt
  pyproject.toml
Due: none

Add Jupyter integration page and installation instructions
  docs/index.rst
  docs/integrations/jupyter.md
  docs/usage_and_configuration/installation.md
Due: none

Fix: Preserve parentheses when merging # type: ignore with other comments to prevent AST errors (#4888)
  CHANGES.md
  src/black/lines.py
  tests/data/cases/type_ignore_with_other_comment.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Simplify power operator hugging implementation (#4918)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/nodes.py
  src/black/resources/black.schema.json
  src/black/trans.py
  tests/data/cases/preview_simplify_power_operator_hugging.py
  tests/data/cases/preview_simplify_power_operator_hugging_long.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Switch to using temprary files for testing
  tests/data/decode_with_encoding/first_line.py
  tests/data/decode_with_encoding/second_line.py
  tests/test_black.py
Due: none

Fix `string_processing` error with unassigned long string literal with trailing comma (#4929)
  CHANGES.md
  src/black/trans.py
  tests/data/cases/preview_long_strings.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Apply suggestion from @Copilot
  src/black/concurrency.py
Due: none

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update docker.yml
  .github/workflows/docker.yml
Due: none

Update publish_binaries.yml
  .github/workflows/publish_binaries.yml
Due: none

Update pypi_upload.yml
  .github/workflows/pypi_upload.yml
Due: none

Add messages to the assertations
  tests/test_black.py
Due: none

Revert "Update CHANGES.md"
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix PyInstaller shutdown errors on macOS (#4930)
  CHANGES.md
  src/black/concurrency.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Don't double-decode input, causing non-UTF-8 files to be corrupted (#4964)
  CHANGES.md
  src/black/__init__.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

"docs: Add comprehensive Jupyter Notebooks documentation
  README.md
  docs/faq.md
  docs/getting_started.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/index.md
  docs/usage_and_configuration/jupyter_notebooks.md
Due: check-pre-commit-rev-in-example

Adjust formatting in a new preview test
  tests/data/cases/preview_simplify_power_operator_hugging.py
Due: none

Dependabot tweaks - Update cibuildhweel in GHA and pyproject together - Use default update schedule - Add maintenance label to GHA PRs
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: none

Add missing bold to diff-shades comment
  scripts/diff_shades_gha_helper.py
Due: none
