Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==6.0.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        exclude: ^(docs/conf.py|scripts/generate_schema.py)$
        args: []
        additional_dependencies: &mypy_deps
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - click >= 8.1.0, != 8.1.4, != 8.1.5
          - packaging >= 22.0
          - platformdirs >= 2.1.0
          - pytest
          - hypothesis
          - aiohttp >= 3.7.4
          - types-commonmark
          - urllib3
          - hypothesmith
      - id: mypy
        name: mypy (Python 3.10)
        files: scripts/generate_schema.py
        args: ["--python-version=3.10"]
        additional_dependencies: *mypy_deps

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: quarterly

Update frozenset
  tests/optional.py
Due: none

Replace remaining aliases to built-in types (#4485)
  gallery/gallery.py
  scripts/make_width_table.py
  tests/optional.py
  tests/test_black.py
  tests/test_docs.py
  tests/test_ranges.py
  tests/test_tokenize.py
  tests/test_trans.py
  tests/util.py
Due: none

Update deprecated type aliases
  gallery/gallery.py
  scripts/make_width_table.py
  src/black/__init__.py
  src/black/brackets.py
  src/black/cache.py
  src/black/comments.py
  src/black/concurrency.py
  src/black/debug.py
  src/black/files.py
  src/black/linegen.py
  src/black/lines.py
  src/black/nodes.py
  src/black/parsing.py
  src/black/ranges.py
  src/black/strings.py
  src/black/trans.py
  src/blackd/middlewares.py
  src/blib2to3/pgen2/driver.py
  src/blib2to3/pgen2/literals.py
  src/blib2to3/pgen2/parse.py
  src/blib2to3/pgen2/pgen.py
  src/blib2to3/pgen2/tokenize.py
  src/blib2to3/pytree.py
  tests/test_black.py
  tests/test_docs.py
  tests/test_format.py
  tests/test_ipynb.py
  tests/util.py
Due: none

Stop parenthesizing context managers on Python 3.9
  src/black/mode.py
  tests/data/cases/python39.py
Due: none

Collapse multiple lines after import into single line
  CHANGES.md
  src/black/lines.py
  tests/data/cases/import_line_collapse.py
  tests/data/cases/import_line_collapse_3_to_1.py
  tests/data/cases/preview_comments7.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add a changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix PR number
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Make sure these changes don't downgrade
  tests/data/cases/python39.py
Due: none

Fix formatting
  tests/data/cases/python39.py
Due: none

CRLF to LF
  src/black/mode.py
  tests/data/cases/python39.py
Due: none

addressing comments
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_import_line_collapse.py
  tests/data/cases/preview_import_line_collapse_3_to_1.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

add more test cases, modify logic:
  src/black/lines.py
  tests/data/cases/preview_import_line_collapse.py
  tests/data/cases/preview_import_line_collapse_3_to_1.py
Due: none

Use released mypy
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Use released mypy (#4490)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

added new sentences
  CONTRIBUTING.md
Due: none

Create python-app.yml
  .github/workflows/python-app.yml
Due: none

Update AUTHORS.md
  AUTHORS.md
Due: none

Prevents string merges from changing f-string quotes
  src/black/trans.py
  tests/data/cases/preview_fstring.py
  tests/data/cases/preview_long_strings.py
  tests/data/cases/preview_long_strings__regression.py
Due: none

Changelog and docs updates
  CHANGES.md
  docs/the_black_code_style/future_style.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

typo fix
  src/black/trans.py
Due: none

Update deprecated type aliases (#4486)
  gallery/gallery.py
  scripts/make_width_table.py
  src/black/__init__.py
  src/black/brackets.py
  src/black/cache.py
  src/black/comments.py
  src/black/concurrency.py
  src/black/debug.py
  src/black/files.py
  src/black/linegen.py
  src/black/lines.py
  src/black/nodes.py
  src/black/parsing.py
  src/black/ranges.py
  src/black/strings.py
  src/black/trans.py
  src/blackd/middlewares.py
  src/blib2to3/pgen2/driver.py
  src/blib2to3/pgen2/literals.py
  src/blib2to3/pgen2/parse.py
  src/blib2to3/pgen2/pgen.py
  src/blib2to3/pgen2/tokenize.py
  src/blib2to3/pytree.py
  tests/test_black.py
  tests/test_docs.py
  tests/test_format.py
  tests/test_ipynb.py
  tests/util.py
Due: none

Small improvements to the contributing basics
  CONTRIBUTING.md
  docs/contributing/the_basics.md
Due: check-version-in-the-basics-example

Update outdated sentences in trans.py
  src/black/trans.py
Due: none

note required python version for use_pyproject: true
  docs/integrations/github_actions.md
Due: none

Note required python version for use_pyproject: true (#4503)
  docs/integrations/github_actions.md
Due: none

Update docs/contributing/the_basics.md
  docs/contributing/the_basics.md
Due: check-version-in-the-basics-example

Small improvements to the contributing basics (#4502)
  CONTRIBUTING.md
  docs/contributing/the_basics.md
Due: check-version-in-the-basics-example

Relax condition for rejecting string merge
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/trans.py
  tests/data/cases/preview_long_strings.py
  tests/data/cases/preview_long_strings__regression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

add more tests
  tests/data/cases/preview_long_dict_values_2.py
Due: none

typos
  CHANGES.md
  docs/the_black_code_style/future_style.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update tests
  src/black/linegen.py
  tests/data/cases/preview_remove_lone_list_item_parens.py
  tests/data/cases/preview_remove_multiline_lone_list_item_parens.py
Due: none

Fix issue with newer upload-artifact in PyPI action
  .github/workflows/pypi_upload.yml
Due: none

Fix issue with newer upload-artifact in PyPI action (#4512)
  .github/workflows/pypi_upload.yml
Due: none

addressing comments
  src/black/lines.py
  tests/data/cases/preview_import_line_collapse.py
  tests/data/cases/preview_import_line_collapse_3_to_1.py
Due: none

expand test case
  tests/data/cases/preview_import_line_collapse.py
Due: none

Finish PR I think hopefully
  src/black/linegen.py
  tests/data/cases/preview_remove_multiline_lone_list_item_parens.py
Due: none

Update getting_started.md
  docs/getting_started.md
Due: none

Support sets
  src/black/linegen.py
  tests/data/cases/preview_remove_lone_list_item_parens.py
Due: none

fix: Remove parenthesis around sole list items (#4312)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_remove_lone_list_item_parens.py
  tests/data/cases/preview_remove_multiline_lone_list_item_parens.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example
