Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(src/blib2to3/|profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [python, pyi]

      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==5.4.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
      - id: mypy
        exclude: ^docs/conf.py
        additional_dependencies:
          - types-dataclasses >= 0.1.3
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - types-typed-ast >= 1.4.1
          - click >= 8.0.0
          - platformdirs >= 2.1.0

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

link targets
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

fix version check script
  docs/usage_and_configuration/the_basics.md
  scripts/check_version_in_basics_example.py
Due: check-version-in-the-basics-example

apply template
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

prettier
  CHANGES.md
  docs/contributing/release_process.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

release process: formalize the changelog template (#2837)
  CHANGES.md
  docs/contributing/release_process.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

link fixes
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Surface links to Stability Policy
  CHANGES.md
  README.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Surface links to Stability Policy (GH-2848)
  CHANGES.md
  README.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Isolate command line tests from user-level config
  tests/test_black.py
Due: none

Isolate command line tests from user-level config (#2851)
  tests/test_black.py
Due: none

Avoid crashing when the user has no homedir
  CHANGES.md
  src/black/files.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

rename docs index.rst and lisen.rst to .md
  docs/contributing/index.md
  docs/guides/index.md
  docs/index.md
  docs/integrations/index.md
  docs/license.md
  docs/the_black_code_style/index.md
  docs/usage_and_configuration/index.md
Due: none

convert index.md and lisence.md content to markdown
  docs/contributing/index.md
  docs/guides/index.md
  docs/index.md
  docs/integrations/index.md
  docs/license.md
  docs/the_black_code_style/index.md
  docs/usage_and_configuration/index.md
Due: none

add myst extension `code_fence`
  docs/conf.py
Due: none

fix link in docs/index.md
  docs/index.md
Due: none

correct Vim integration code
  docs/integrations/editors.md
Due: none

Isolate command line tests for notebooks from user-level config
  tests/test_ipynb.py
Due: none

Putting our foot down for the Nth time (#2798)
  docs/faq.md
Due: none

Switch out tox for nox
  .github/workflows/doc.yml
  .github/workflows/fuzz.yml
  .github/workflows/test.yml
  .gitignore
  docs/contributing/the_basics.md
  mypy.ini
  noxfile.py
  scripts/fuzz.py
  tests/requirements.txt
  tox.ini
Due: check-version-in-the-basics-example

Update description for GitHub Action `options:` argument
  action.yml
Due: none

Update description for GitHub Action `options:` argument (GH-2858)
  action.yml
Due: none

Delete black.vim
  autoload/black.vim
Due: none

Update docs/faq.md
  docs/faq.md
Due: none

Create indentation FAQ entry (#2855)
  docs/faq.md
Due: none

Update file_collection_and_discovery.md
  docs/usage_and_configuration/file_collection_and_discovery.md
Due: none

Update docs/usage_and_configuration/file_collection_and_discovery.md
  docs/usage_and_configuration/file_collection_and_discovery.md
Due: none

Add special config verbose log case when black is using user-level config
  CHANGES.md
  src/black/__init__.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

No walrus operators :(
  src/black/__init__.py
Due: none

Ignore C901 for main function
  src/black/__init__.py
Due: none

Order the disabled error code for pylint.
  docs/guides/using_black_with_other_tools.md
Due: none

Copy over comments when hugging power ops
  CHANGES.md
  src/black/parsing.py
  src/black/trans.py
  src/blib2to3/pytree.py
  tests/data/power_op_spacing.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add Django in 'used by' section in Readme
  README.md
Due: none

Fix Readme issue
  README.md
Due: none

Add Django in 'used by' section in Readme (#2875)
  README.md
Due: none

Avoid crashing when the user has no homedir (#2814)
  CHANGES.md
  src/black/files.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Order the disabled error codes for pylint (GH-2870)
  docs/guides/using_black_with_other_tools.md
Due: none

Fix typo in file_collection_and_discovery.md (GH-2860)
  docs/usage_and_configuration/file_collection_and_discovery.md
Due: none

Allow `for`'s target expression to be starred
  CHANGES.md
  src/blib2to3/Grammar.txt
  tests/data/starred_for_target.py
  tests/test_format.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix typo
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example
