Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1
  - pyyaml==6.0.1

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1

Fix numbering in release process
  docs/contributing/release_process.md
Due: none

Fix #4945: parse multiline backslash correctly
  src/black/parsing.py
  tests/data/cases/backslash_continuation_no_indent.py
Due: none

Update CHANGES.md for multiline backslash parsing fix (#4945)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Change Fuzz to run on schedule & on push instead of on PRs
  .github/workflows/fuzz.yml
Due: none

Add a post release workflow that adds a new changelog, and move the update-stable job to it
  .github/workflows/post_release.yml
  .github/workflows/pypi_upload.yml
  docs/contributing/release_process.md
Due: none

rename `skip news` to `ci: skip news` for consistency with other ci labels
  .github/dependabot.yml
  .github/workflows/changelog.yml
  .github/workflows/post_release.yml
  docs/contributing/issue_triage.md
  docs/contributing/the_basics.md
Due: check-version-in-the-basics-example

fix uvloop
  pyproject.toml
Due: none

Warn when target version exceeds runtime Python version (#4980)
  CHANGES.md
  src/black/__init__.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Skip version mismatch tests when no higher target version exists
  CHANGES.md
  src/black/__init__.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add comprehensive Jupyter Notebooks documentation page
  docs/faq.md
  docs/getting_started.md
  docs/usage_and_configuration/index.md
  docs/usage_and_configuration/jupyter_notebooks.md
Due: none

Docs: Add documentation for doctest formatting tools
  docs/integrations/index.md
Due: none

Docs: Expand preview style features documentation with examples
  docs/the_black_code_style/future_style.md
Due: none

Docs: Add dedicated Jupyter Notebook documentation page (Fixes #4967)
  docs/getting_started.md
  docs/usage_and_configuration/index.md
  docs/usage_and_configuration/jupyter.rst
Due: none

Docs: Restructure Jupyter documentation into dedicated page (Fixes #4967)
  docs/usage_and_configuration/index.md
  docs/usage_and_configuration/jupyter.rst
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

update docs:formattign notebooks via nbqa
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Update docs/usage_and_configuration/the_basics.md
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

enhance: enhancement of the syntex error reporting
  src/black/__init__.py
Due: none

Update src/black/__init__.py
  src/black/__init__.py
Due: none

Unpin dependencies
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Unpin dependencies
  pyproject.toml
Due: none

Add changelog entry for preview style docs expansion (#4987)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix power operator example per review
  docs/the_black_code_style/future_style.md
Due: none

remove the __init__.py exception code and add it in lib2to3_parse function
  src/black/__init__.py
  src/black/parsing.py
  test.py
Due: none

remove the __init__.py exception code and add it in lib2to3_parse function
  src/black/__init__.py
Due: none

Fix crash on standalone comment in lambda default arguments
  src/black/nodes.py
Due: none

add winloop support and remove deprecated functionality from uvloop
  .pre-commit-config.yaml
  pyproject.toml
  src/black/concurrency.py
  src/blackd/__init__.py
Due: none

summarize changes made in pull request #4996
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Mark first block before matching content as changed in line ranges mapping
  src/black/ranges.py
Due: none

Aggregate escape counts across all f-string segments in normalize_fstring_quotes
  src/black/strings.py
Due: none

Add unit test and changelog entry for lambda comment crash fix
  CHANGES.md
  tests/data/cases/comments_in_lambda_default.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add unit test and changelog entry for line ranges first block fix
  CHANGES.md
  tests/test_ranges.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Aggregate escape counts across all f-string segments in normalize_fstring_quotes (#4998)
  src/black/strings.py
Due: none

Docs: Expand preview style features documentation with examples (#4987)
  CHANGES.md
  docs/the_black_code_style/future_style.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix `wrap_comprehension_in` docs
  docs/the_black_code_style/future_style.md
Due: none

isort & changelog
  CHANGES.md
  src/black/linegen.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix `wrap_comprehension_in` docs (#5000)
  docs/the_black_code_style/future_style.md
Due: none

Remove Atom/Nuclide editor integration section (Closes #5002)
  docs/integrations/editors.md
Due: none

Makefile must have tabs, not spaces
  docs/Makefile
Due: none

Remove invalid test file
  test.py
Due: none

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(profiling/|tests/data/)
