Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1
  - pyyaml==6.0.1

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1

Remove redundant generator parentheses (#5304)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_redundant_generator_parentheses.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

DOC: fix typo in docs/faq.md (#5313)
  docs/faq.md
Due: none

docs: fix PyCharm File Watchers help link (#5316)
  docs/integrations/index.md
Due: none

docs: fix magic trailing comma documentation link (#5317)
  docs/contributing/issue_triage.md
Due: none

fix: gitlab.bandit.B602 security vulnerability
  scripts/migrate-black.py
Due: none

Delete scripts/migrate-black.py
  scripts/migrate-black.py
Due: none

Delete scripts/migrate-black.py (#5319)
  scripts/migrate-black.py
Due: none

Fix --line-ranges inserting a blank line after a docstring (#5312)
  CHANGES.md
  src/black/lines.py
  tests/data/line_ranges_formatted/function_docstring.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Use changelog from #5308
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

avoid quadratic child rescan in normalize_invisible_parens
  CHANGES.md
  src/black/linegen.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

keep async keyword with fmt: skip one-line compound statements (#5311)
  CHANGES.md
  src/black/comments.py
  tests/data/cases/fmtskip10.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Apply suggestion from @cobaltt7
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

avoid quadratic child rescan in normalize_invisible_parens (#5322)
  CHANGES.md
  src/black/linegen.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Preserve blank lines before a closing fmt: on comment (#5300)
  CHANGES.md
  src/black/lines.py
  tests/data/cases/fmtonoff9.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Keep parentheses around the target of an annotated assignment
  src/black/linegen.py
  tests/data/cases/annotated_assignment_target_parens.py
Due: none

Add changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Collapse the redundant parentheses around an annotated target
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/annotated_assignment_target_parens.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Keep parentheses around the target of an annotated assignment (#5321)
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/annotated_assignment_target_parens.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Format symmetric list concatenations in preview
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  src/black/mode.py
  src/black/resources/black.schema.json
  src/blib2to3/pgen2/tokenize.py
  tests/data/cases/preview_symmetric_list_concatenation.py
  tests/data/cases/preview_symmetric_list_concatenation_line_length.py
  tests/data/cases/stable_symmetric_list_concatenation.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Preserve multiline list concatenation formatting
  src/black/lines.py
  src/blib2to3/pgen2/tokenize.py
  tests/data/cases/preview_symmetric_list_concatenation.py
  tests/data/cases/preview_symmetric_list_concatenation_skip_magic.py
Due: none

Clarify symmetric list concatenation scope
  CHANGES.md
  docs/the_black_code_style/future_style.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: refine symmetric list concatenation preview
  src/black/linegen.py
  src/black/lines.py
  tests/data/cases/preview_symmetric_list_concatenation.py
Due: none

style: format symmetric display operations
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/lines.py
  tests/data/cases/preview_symmetric_list_concatenation.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

style: format symmetric collection comparisons
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  tests/data/cases/preview_symmetric_list_concatenation.py
Due: none

style: broaden symmetric collection operations
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_symmetric_list_concatenation.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: restore future style fence
  docs/the_black_code_style/future_style.md
Due: none

Ensure hidden type comments are put back to the expression after transformation
  src/black/trans.py
  tests/data/cases/comments6.py
Due: none

Update changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Minor update
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add reference to the PR in the changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

keep inline comments in _force_standalone_comment_split
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/comments_in_comprehensions.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Move the changes message to preview style and expand it a bit
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Keep a trailing comment when wrapping a long string in parens
  CHANGES.md
  src/black/trans.py
  tests/data/cases/preview_long_strings__regression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix long keyword argument values exceeding line length
  src/black/linegen.py
  tests/data/cases/long_keyword_argument_value.py
Due: none

Preserve trailing blank lines in fmt: off blocks
  src/black/comments.py
  tests/test_black.py
Due: none

Fix mypy type narrowing in long keyword argument formatting
  src/black/linegen.py
Due: none

fix(comments): treat # pyright:, # ruff:, and # cython: as pragmas in contains_pragma_comment
  src/black/comments.py
Due: none

Clarify project-root exclusion patterns
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Fix fmt-off EOF blank line preservation
  src/black/comments.py
  tests/test_black.py
Due: none

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(profiling/|tests/data/)
