Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - commonmark==0.9.1
  - pyyaml==6.0.1
  - beautifulsoup4==4.9.3

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - commonmark==0.9.1
  - pyyaml==6.0.1
  - beautifulsoup4==4.9.3

Add new release template
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Revert almost all changes to try if it's my PR causing diff-shades issues.
  docs/conf.py
  docs/the_black_code_style/future_style.md
  src/black/cache.py
  src/black/handle_ipynb_magics.py
  src/black/linegen.py
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets.py
  tests/data/cases/preview_long_strings__regression.py
Due: none

Disable the stability check with --line-ranges for now.
  CHANGES.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
  tests/data/cases/line_ranges_diff_edge_case.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Revert "Revert almost all changes to try if it's my PR causing diff-shades issues."
  docs/conf.py
  docs/the_black_code_style/future_style.md
  src/black/cache.py
  src/black/handle_ipynb_magics.py
  src/black/linegen.py
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets.py
  tests/data/cases/preview_long_strings__regression.py
Due: none

Oops, fix the test case after last minute new comment.
  tests/data/cases/line_ranges_diff_edge_case.py
Due: none

Move comment related functions to comments.py and get rid of magic strings
  src/black/comments.py
  src/black/linegen.py
  src/black/lines.py
  src/black/nodes.py
Due: none

Add test case
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets.py
Due: none

Don't hug parens if type ignore on opening paren
  src/black/comments.py
  src/black/linegen.py
Due: none

Add changelog line
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update PR number
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix typo
  src/black/comments.py
Due: none

Small refactor for code symmetry
  src/black/lines.py
Due: none

Use similar conditions for RSQB and RPAR cases
  src/black/lines.py
Due: none

Update comment to current code
  src/black/lines.py
Due: none

Format one-tuples and one-subscripts as multi-line if already multi-line
  CHANGES.md
  src/black/lines.py
  tests/data/cases/collections.py
  tests/data/cases/one_element_subscript.py
  tests/data/cases/skip_magic_trailing_comma.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Don't split on pragma markers
  CHANGES.md
  src/black/comments.py
  src/black/linegen.py
  src/black/lines.py
  src/black/nodes.py
  tests/data/cases/comments6.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix test cases
  tests/data/cases/torture.py
Due: none

Add test cases
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets.py
Due: none

Make sure we don't combine two #type:ignore comments to one line
  src/black/linegen.py
Due: none

Add myself to contributors
  AUTHORS.md
Due: none

fix support for pre-commit versions < 3.2.0
  .pre-commit-hooks.yaml
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

add trunk instructions
  README.md
Due: none

Update concurrency.py
  src/black/concurrency.py
Due: none

Improve annotations for `black.concurrency.cancel` (#4047)
  src/black/concurrency.py
Due: none

docs: Document target version inference
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Document target version inference (#4048)
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Upgrade mypy to 1.7.0
  .pre-commit-config.yaml
  CHANGES.md
  pyproject.toml
  scripts/check_pre_commit_rev_in_example.py
  scripts/check_version_in_basics_example.py
  scripts/diff_shades_gha_helper.py
  scripts/fuzz.py
  scripts/make_width_table.py
  src/blackd/__init__.py
  src/blib2to3/pgen2/tokenize.py
  tests/optional.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Make flake8 pass when run with Python 3.12
  src/black/parsing.py
Due: none

just do 1.6.1 for now
  .pre-commit-config.yaml
  CHANGES.md
  pyproject.toml
  src/blib2to3/pgen2/tokenize.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update tests/optional.py
  tests/optional.py
Due: none

Make black[d] install + test run with 3.12
  .github/workflows/doc.yml
  .github/workflows/fuzz.yml
  .github/workflows/test.yml
  CHANGES.md
  pyproject.toml
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Move to pypy-3.9
  .github/workflows/test.yml
Due: none

Block aiohttp==3.9.0 from being installed in CI
  pyproject.toml
Due: none

address review: be more specific
  pyproject.toml
Due: none

Block aiohttp==3.9.0 from being installed in CI on Windows/pypy (#4051)
  pyproject.toml
Due: none

Make flake8 pass when run with Python 3.12 (#4050)
  src/black/parsing.py
Due: none

Upgrade mypy to 1.6.1 (#4049)
  .pre-commit-config.yaml
  CHANGES.md
  pyproject.toml
  scripts/check_pre_commit_rev_in_example.py
  scripts/check_version_in_basics_example.py
  scripts/diff_shades_gha_helper.py
  scripts/fuzz.py
  scripts/make_width_table.py
  src/blackd/__init__.py
  tests/optional.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Handle more huggable immediately nested parens/brackets. (#4012)
  CHANGES.md
  docs/conf.py
  docs/the_black_code_style/future_style.md
  src/black/cache.py
  src/black/handle_ipynb_magics.py
  src/black/linegen.py
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets.py
  tests/data/cases/preview_long_strings__regression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update docs/the_black_code_style/future_style.md
  docs/the_black_code_style/future_style.md
Due: none

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(profiling/|tests/data/)
