Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in README.md.
exclude: ^(blib2to3/|profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: black
        types: [python]
      - id: flake8
        name: flake8
        language: system
        entry: flake8
        types: [python]
      - id: mypy
        name: mypy
        language: system
        entry: mypy
        types: [python]
        exclude: ^docs/conf.py
  - repo: https://github.com/prettier/prettier
    rev: 1.17.1
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]

Issue 886: updated for both cases, if no path given or no files to be formatted
  black.py
Due: black, flake8, mypy

Issue:886: Commit for coverage
  black.py
Due: black, flake8, mypy

Make quote style configurable
  black.py
Due: black, flake8, mypy

Change variable in README according to the PEP8 (#1002)
  README.md
  tests/test_black.py
Due: black, flake8, mypy

Print a separate message when there are no inputs given (#999)
  .gitignore
  black.py
Due: black, flake8, mypy

Switch from versioneer to setuptools-scm
  .coveragerc
  .gitattributes
  .gitignore
  MANIFEST.in
  _version.py
  black.py
  setup.cfg
  setup.py
  versioneer.py
Due: black, flake8, mypy

Add template for writing version
  setup.py
Due: black, flake8, mypy

Modify version template
  setup.py
Due: black, flake8, mypy

Replace unicode empty set identifier with ascii one
  black.py
Due: black, flake8, mypy

Add software version to blackd response
  blackd.py
  tests/test_black.py
Due: black, flake8, mypy

Restore all cursors, instead of only the current window
  plugin/black.vim
Due: none

Don't allow type comments to be merged behind regular comments
  black.py
  tests/data/comments6.py
Due: black, flake8, mypy

Don't allow type comments to be merged behind regular comments (#1027)
  black.py
  tests/data/comments6.py
Due: black, flake8, mypy

Support PEP 572 in while statements
  blib2to3/Grammar.txt
  tests/data/pep_572.py
Due: none

Support PEP 572 in while statements (#1028)
  blib2to3/Grammar.txt
  tests/data/pep_572.py
Due: none

fix tests
  tests/data/pep_572.py
Due: none

Switch from versioneer to setuptools-scm (#1008)
  .coveragerc
  .gitattributes
  .gitignore
  MANIFEST.in
  _version.py
  black.py
  setup.cfg
  setup.py
  versioneer.py
Due: black, flake8, mypy

Bump dependencies
  Pipfile.lock
Due: none

fix doc generation
  Pipfile
  Pipfile.lock
  docs/conf.py
Due: black, flake8

fix environment for readthedocs
  docs/environment.yml
Due: none

Fix typechecking under mypy 0.730
  blib2to3/pgen2/token.pyi
Due: none

Update token.pyi
  blib2to3/pgen2/token.pyi
Due: none

Fix typechecking under mypy 0.730 (#1039)
  blib2to3/pgen2/token.pyi
Due: none

Read shebangs to discover python files
  README.md
  black.py
  tests/data/shebang_tests/custom_shebang
  tests/data/shebang_tests/decoding_error
  tests/data/shebang_tests/default_shebang
  tests/data/shebang_tests/too_long_shebang
  tests/test_black.py
Due: black, flake8, mypy

Handle OSErrors while checking shebangs during file discovery
  black.py
  tests/test_black.py
Due: black, flake8, mypy

Align tests to work after #966
  tests/test_black.py
Due: black, flake8, mypy

Tidy up the tests
  tests/test_black.py
Due: black, flake8, mypy

Blacken .py files in blib2to3
  blib2to3/__init__.py
  blib2to3/pgen2/conv.py
  blib2to3/pgen2/driver.py
  blib2to3/pgen2/grammar.py
  blib2to3/pgen2/literals.py
  blib2to3/pgen2/parse.py
  blib2to3/pgen2/pgen.py
  blib2to3/pgen2/token.py
  blib2to3/pgen2/tokenize.py
  blib2to3/pygram.py
  blib2to3/pytree.py
  tests/test_black.py
Due: black, flake8, mypy

Don't break long lines when `type: ignore` is present
  black.py
  tests/data/comments6.py
  tests/data/comments7.py
  tests/data/expression.diff
  tests/data/expression.py
Due: black, flake8, mypy

Don't break long lines when `type: ignore` is present (#1040)
  black.py
  tests/data/comments6.py
  tests/data/comments7.py
  tests/data/expression.diff
  tests/data/expression.py
Due: black, flake8, mypy

black: add concise collection formatting test
  tests/data/collections.py
  tests/test_black.py
Due: black, flake8, mypy

black: preserve trailing commas
  black.py
  tests/data/collections.py
  tests/data/comments2.py
  tests/data/comments7.py
  tests/data/expression.diff
  tests/data/expression.py
  tests/data/fmtonoff.py
  tests/data/function.py
  tests/data/function2.py
  tests/data/function_trailing_comma.py
Due: black, flake8, mypy

black: tweak collection literals to explode with trailing comma
  black.py
  tests/data/collections.py
  tests/data/expression.diff
  tests/data/expression.py
Due: black, flake8, mypy

collections: also apply wrap-on-trailing-comma logic to imports
  black.py
  tests/data/collections.py
Due: black, flake8, mypy

Moved the metadata to setup.cfg
  setup.cfg
  setup.py
Due: black, flake8, mypy

Add black version header to blackd responses
  blackd.py
Due: black, flake8, mypy

Update README.md
  README.md
Due: none

Add changelog entry
  README.md
Due: none

Fix tests
  tests/test_black.py
Due: black, flake8, mypy

Add test for X-Black-Version header
  tests/test_black.py
Due: black, flake8, mypy
