Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1
  - pyyaml==6.0.1

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1

Format symmetric list concatenations in preview
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  src/black/mode.py
  src/black/resources/black.schema.json
  src/blib2to3/pgen2/tokenize.py
  tests/data/cases/preview_symmetric_list_concatenation.py
  tests/data/cases/preview_symmetric_list_concatenation_line_length.py
  tests/data/cases/stable_symmetric_list_concatenation.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Preserve multiline list concatenation formatting
  src/black/lines.py
  src/blib2to3/pgen2/tokenize.py
  tests/data/cases/preview_symmetric_list_concatenation.py
  tests/data/cases/preview_symmetric_list_concatenation_skip_magic.py
Due: none

Clarify symmetric list concatenation scope
  CHANGES.md
  docs/the_black_code_style/future_style.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Apply suggestion from @cobaltt7
  docs/integrations/editors.md
Due: none

Don't hug brackets when it would merge two `type: ignore` comments (#5271)
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/preview_hug_parens_with_type_ignore.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Address parse error reporting review
  docs/usage_and_configuration/the_basics.md
  src/black/parsing.py
  src/black/report.py
  tests/test_black.py
  tests/test_blackd.py
  tests/test_format.py
Due: check-version-in-the-basics-example

docs: mention Vim PEP 8 indentation plugin (#5288)
  CHANGES.md
  docs/integrations/editors.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Mirror ParseError & TokenError
  src/black/parsing.py
Due: none

Report parse errors as file:line:column (#5237)
  CHANGES.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
  src/black/concurrency.py
  src/black/parsing.py
  src/black/report.py
  tests/test_black.py
  tests/test_blackd.py
  tests/test_format.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Plan out the new release process
  docs/contributing/release_process.md
Due: none

Make sure CI runs on release PRs
  .github/workflows/docs.yml
  .github/workflows/release_tests.yml
  .github/workflows/test.yml
Due: none

Refactor release process to use immutable releases and be more automated TODO: testing, add an API token, and update release tests
  .github/workflows/cut_release.yml
  .github/workflows/post_release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/publish_binaries.yml
  pyproject.toml
  scripts/release.py
Due: none

Remove the need for pypyp
  .github/workflows/pypi_upload.yml
  pyproject.toml
Due: none

Bump workflows
  .github/workflows/cut_release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/pypi_upload.yml
Due: none

Update release tests
  .github/workflows/release_tests.yml
  scripts/release_tests.py
Due: none

Add changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix type ignore comments on attribute chains
  src/black/linegen.py
  src/black/lines.py
  tests/data/cases/type_ignore_attribute_chain.py
  tests/data/cases/type_ignore_attribute_chain_unstable.py
Due: none

Add changelog entry for type ignore fix
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: refine symmetric list concatenation preview
  CHANGES.md
  src/black/linegen.py
  src/black/lines.py
  tests/data/cases/preview_symmetric_list_concatenation.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Mention MegaLinter in the integrations docs
  docs/integrations/index.md
Due: none

Preserve blank lines before a closing fmt: on comment
  src/black/lines.py
  tests/data/cases/fmtonoff9.py
Due: none

Add CHANGES.md entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix fix_fmt_skip_in_one_liners on with and async with statements (#4853)
  src/black/comments.py
  tests/data/cases/fmtskip10.py
Due: none

Remove redundant generator parentheses
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_redundant_generator_parentheses.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Avoid repeated RHS splits for subscript chains
  src/black/linegen.py
  tests/test_black.py
Due: none

Honor .gitignore negations of directories (#3694)
  CHANGES.md
  src/black/files.py
  tests/data/gitignore_trailing_slash_negation/.gitignore
  tests/data/gitignore_trailing_slash_negation/a/b/file3.py
  tests/data/gitignore_trailing_slash_negation/a/file2.py
  tests/data/gitignore_trailing_slash_negation/file1.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove redundant generator parens in more contexts
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  tests/data/cases/preview_redundant_generator_parentheses.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Test generator parens before power trailers
  tests/data/cases/preview_redundant_generator_parentheses.py
Due: none

Fix crash on async def/with/for with semicolon and fmt: skip (#5307)
  src/black/comments.py
  tests/data/cases/fmtskip10.py
Due: none

Format code with black and add changelog entry (#5308)
  CHANGES.md
  src/black/comments.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

keep async keyword with fmt: skip one-line compound statements
  CHANGES.md
  src/black/comments.py
  tests/data/cases/fmtskip10.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix --line-ranges inserting a blank line after a docstring
  src/black/lines.py
  tests/data/line_ranges_formatted/function_docstring.py
Due: none

Add changelog entry for #5312
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

DOC: fix typo in docs/faq.md
  docs/faq.md
Due: none

fix: handle async with/def + semicolon + fmt: skip
  src/black/comments.py
  tests/data/cases/fmtskip10.py
Due: none

fix: treat ruff:ignore as a pragma comment to prevent line splitting
  src/black/comments.py
Due: none

docs: fix PyCharm File Watchers help link
  docs/integrations/index.md
Due: none

docs: fix magic trailing comma documentation link
  docs/contributing/issue_triage.md
Due: none

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(profiling/|tests/data/)
