Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1
  - pyyaml==6.0.1

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1

Preserve disjoint ranges across identical middle lines
  src/black/ranges.py
  tests/test_black.py
  tests/test_ranges.py
Due: none

Document line-range fix in changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Retain line-range warning for remaining ambiguous cases
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Fix line-range mapping for a changed start of file
  CHANGES.md
  src/black/__init__.py
  src/black/ranges.py
  tests/test_black.py
  tests/test_ranges.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Resolve .gitignore files the way git does
  CHANGES.md
  src/black/files.py
  tests/data/nested_gitignore_negation_tests/.gitignore
  tests/data/nested_gitignore_negation_tests/pkg/.gitignore
  tests/data/nested_gitignore_negation_tests/pkg/other/build_cache/skipped.py
  tests/data/nested_gitignore_negation_tests/pkg/other/keep.py
  tests/data/nested_gitignore_negation_tests/pkg/playground/build_cache/settings.py
  tests/data/nested_gitignore_negation_tests/pkg/playground/keep.py
  tests/data/nested_gitignore_negation_tests/selfneg/build_cache/.gitignore
  tests/data/nested_gitignore_negation_tests/selfneg/build_cache/skipped.py
  tests/data/nested_gitignore_negation_tests/solo/build_cache/skipped.py
  tests/data/nested_gitignore_negation_tests/solo/keep.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Rewrap a docstring that trips flake8's B950
  src/black/files.py
Due: none

Only let a nested .gitignore decide the paths it names
  src/black/files.py
  tests/data/nested_gitignore_independent_exclusion_tests/.gitignore
  tests/data/nested_gitignore_independent_exclusion_tests/pkg/.gitignore
  tests/data/nested_gitignore_independent_exclusion_tests/pkg/keep.py
  tests/data/nested_gitignore_independent_exclusion_tests/pkg/keep_pb2.py
  tests/data/nested_gitignore_independent_exclusion_tests/pkg/playground/build_cache/msg_other.py
  tests/data/nested_gitignore_independent_exclusion_tests/pkg/playground/build_cache/msg_pb2.py
  tests/test_black.py
Due: none

Do not split lines ending with a type-checker ignore pragma under --preview
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  src/black/mode.py
  src/black/nodes.py
  tests/data/cases/preview_unsplittable_ignore_pragmas.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

nit: I think it's a bit too small to warrant having a utility function for
  src/black/ranges.py
Due: none

format
  src/black/ranges.py
Due: none

Discard changes to README.md
  README.md
Due: none

Fix check passing after a line ranges run (#5476)
  CHANGES.md
  src/black/__init__.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix line-range mapping for a changed start of file (#5484)
  CHANGES.md
  src/black/__init__.py
  src/black/ranges.py
  tests/test_black.py
  tests/test_ranges.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Keep repeated unchanged lines outside selected ranges (#5436)
  CHANGES.md
  src/black/ranges.py
  tests/data/cases/line_ranges_diff_edge_case.py
  tests/test_black.py
  tests/test_ranges.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Only look for a trailing fmt: skip when joining standalone comments
  src/black/ranges.py
Due: none

Fix `--line-ranges` crash on `# fmt: skip` before a closing bracket (#5477)
  CHANGES.md
  src/black/ranges.py
  tests/data/cases/line_ranges_fmt_skip_in_brackets.py
  tests/data/line_ranges_formatted/fmt_skip_in_brackets.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Keep an ignored encoding declaration off the first two lines
  CHANGES.md
  src/black/__init__.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Parenthesize expressions with parameter comments in preview (#3113) (#5442)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_parenthesize_expressions_with_comments.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Avoid quadratic runtime in right_hand_split_with_omits on long lines (#5270)
  CHANGES.md
  src/black/linegen.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Parenthesize logical expressions with function calls in preview (#3629)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_parenthesize_logical_operators.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add test for over-long head when a dict value's parens are made invisible
  tests/data/cases/preview_long_dict_values.py
Due: none

Update CHANGES.md to reference PR #5491
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Keep optional parens when a dict value's parens turn visible in a sub-split
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/preview_long_dict_values.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Reformat codebase with unstable preview style
  src/black/__init__.py
  src/black/concurrency.py
  src/black/handle_ipynb_magics.py
  src/black/linegen.py
  src/black/lines.py
  src/black/nodes.py
  src/black/ranges.py
  src/black/trans.py
  src/blib2to3/pgen2/driver.py
Due: none

Format remaining files under unstable preview style
  src/black/brackets.py
  src/black/comments.py
  src/black/files.py
  src/black/parsing.py
  src/blib2to3/pgen2/tokenize.py
  tests/optional.py
Due: none

Apply suggestion from @cobaltt7
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Keep an ignored encoding declaration off the first two lines (#5487)
  CHANGES.md
  src/black/__init__.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Apply the nested optional paren check outside preview
  src/black/linegen.py
Due: none

Avoid quadratic runtime in right_hand_split_with_omits on long lines (#5270) (#5475)
  CHANGES.md
  src/black/linegen.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Keep the parentheses around a right-hand side when a dict value's parentheses are made invisible (#5492)
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/preview_long_dict_values.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Address review comments on documentation example and line length
  docs/the_black_code_style/future_style.md
Due: none

Fix module docstring last_line_length when docstring ends with newline
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/docstring.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix module docstring last_line_length when docstring ends with newline (#5494)
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/docstring.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Preserve blank lines after imports with --line-ranges
  CHANGES.md
  src/black/lines.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Avoid splitting trailers when earlier bracket split exceeds length due to comments (#3681)
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/comment_on_opening_bracket.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Skip UTF-8 BOM when reading .gitignore
  CHANGES.md
  src/black/files.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update CHANGES.md with PR #5498
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Move keep_trailers_on_bracket_comment_overflow to preview style
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_keep_trailers_on_bracket_comment_overflow.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Enable cache when running with --diff (#1145)
  CHANGES.md
  docs/usage_and_configuration/file_collection_and_discovery.md
  src/black/__init__.py
  src/black/concurrency.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(profiling/|tests/data/)
