Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1
  - pyyaml==6.0.1

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1

Escape more unescaped file regexes
  .pre-commit-config.yaml
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Clarify project-root exclusion patterns (#5339)
  .pre-commit-config.yaml
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

tests: skip symlink tests when platform forbids symlink creation
  tests/test_black.py
Due: none

Skip symlink tests when the platform forbids creating one
  tests/test_black.py
Due: none

docs: fix grammar in double-quote rationale (a one -> a single)
  docs/the_black_code_style/current_style.md
Due: none

Treat '# ruff: ignore' comments as unsplittable pragmas
  src/black/comments.py
  src/black/lines.py
  src/black/nodes.py
  tests/data/cases/ruff_ignore_pragma.py
Due: none

docs: add changelog entry for Ruff pragma handling
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Keep a trailing comment on optional parens that contain own-line comments
  CHANGES.md
  src/black/lines.py
  tests/data/cases/trailing_comment_after_optional_parens.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Avoid looking at __class__.__name__ in run_transformer (#2432)
  src/black/linegen.py
Due: none

Add changelog entry for #5396
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix git checkout command for Vundle in editor docs (#2781)
  docs/integrations/editors.md
Due: none

Add changelog entry for #5398
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Support version specifiers in required-version in action (#4406)
  action/main.py
Due: none

Add changelog entry for #5399
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix fmt: skip parsing for parenthesized headers
  src/black/comments.py
  tests/data/cases/fmtskip_paired_header.py
Due: none

Fix fmt: skip on an opening bracket of a compound statement header
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/fmtskip_compound_header_open_bracket.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Don't split the colon off a fmt: skip compound header
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/fmtskip_compound_header_open_bracket.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix splitting long return annotation strings
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/preview_return_annotation_brackets_string.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix changelog PR number
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix unparseable output for `# fmt: skip` on compound header bracket (#5402)
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/fmtskip_header_bracket_5402.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Avoid wrapping unsplittable return strings
  src/black/linegen.py
  src/black/trans.py
  tests/data/cases/preview_return_annotation_brackets_string.py
Due: none

Add PR number to changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Preserve pragma behavior for return annotation strings
  src/black/linegen.py
  tests/data/cases/preview_return_annotation_brackets_string.py
Due: none

Avoid overlong commented RHS splits
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/issue_3925.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Skip symlink tests when the platform forbids creating one (#5390)
  tests/test_black.py
Due: none

Add is_formatted output to GitHub Action (#3526)
  action.yml
  action/main.py
  docs/integrations/github_actions.md
Due: none

Add changelog entry for #5408
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Wrap warning line to satisfy flake8 B950
  action/main.py
Due: none

Don't require sys.stdout.buffer when writing to stdout
  src/black/__init__.py
  src/black/files.py
  tests/test_black.py
Due: none

Add changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Use right_hand_split_with_omits directly and drop changelog entry
  CHANGES.md
  src/black/linegen.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Preserve nested paired fmt skips
  src/black/comments.py
  tests/data/cases/fmtskip_paired_header.py
Due: none

Gate issue 3925 fix behind preview
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/issue_3925.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Initialize bracket_depth in Leaf and preserve it in clone (#5214)
  src/blib2to3/pytree.py
  tests/data/cases/fmtskip_leaf_bracket_depth.py
Due: none

Add changelog entry for #5414
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Keep existing split when a boolean operand needs multiple lines
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  tests/data/cases/preview_parenthesize_whole_conditional_expression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Avoid copying opening_bracket pointer in Leaf.clone()
  src/blib2to3/pytree.py
Due: none

Remove unnecessary parentheses in unpacking targets (#3080)
  src/black/linegen.py
  tests/data/cases/unpacking_parens.py
Due: none

Add changelog entry for #5416
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Preserve prefixes outside --line-ranges (#5175)
  CHANGES.md
  src/black/__init__.py
  src/black/comments.py
  src/black/linegen.py
  src/black/lines.py
  src/black/ranges.py
  src/blib2to3/pytree.py
  tests/data/cases/line_ranges_format_selected_prefix_comment.py
  tests/data/cases/line_ranges_preserve_outside_prefix.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(profiling/|tests/data/)
