Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1
  - pyyaml==6.0.1

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1

format
  src/black/lines.py
Due: none

refactor helpers and add tests for comments near overload groups
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  tests/data/cases/pyi_overload_groups.py
Due: none

fix bug highlighted by diff-shades
  src/black/lines.py
  tests/data/cases/pyi_overload_groups.py
Due: none

fix edge cases: 3+ stub overloads, blank lines around if/else blocks
  src/black/lines.py
  tests/data/cases/pyi_overload_groups.py
Due: none

nits
  src/black/lines.py
Due: none

simplifications
  src/black/lines.py
Due: none

docs: clarify relationship between Black style and PEP 8
  docs/the_black_code_style/current_style.md
Due: none

docs: add clearer pyproject configuration guidance
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

docs: Update doctest formatting tool recommendation
  docs/faq.md
Due: none

Revert "Bump hatch from 1.15.1 to 1.16.4 (#5020)"
  pyproject.toml
Due: none

Revert "Bump hatch from 1.15.1 to 1.16.4" (#5028)
  pyproject.toml
Due: none

Remove gallery/
  gallery/Dockerfile
  gallery/README.md
  gallery/gallery.py
Due: none

changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Harden Black action version parsing
  CHANGES.md
  action/main.py
  docs/integrations/github_actions.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add PR number
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Harden Black action version parsing (#5031)
  CHANGES.md
  action/main.py
  docs/integrations/github_actions.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove gallery/ (#5030)
  CHANGES.md
  gallery/Dockerfile
  gallery/README.md
  gallery/gallery.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prepare release 26.3.0
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

one more
  docs/guides/using_black_with_jupyter_notebooks.md
Due: none

Prepare release 26.3.0 (#5032)
  CHANGES.md
  docs/guides/using_black_with_jupyter_notebooks.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add new changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix typo in post_release.yml labels
  .github/workflows/post_release.yml
Due: none

Add path for Jupyter notebooks guide in release script
  scripts/release.py
Due: none

docs: add clearer pyproject configuration guidance (#5026)
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

docs: clarify relationship between Black style and PEP 8 (#5025)
  docs/the_black_code_style/current_style.md
Due: none

Minor release patches (#5035)
  .github/workflows/post_release.yml
  scripts/release.py
Due: none

Add new changelog (#5036)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix some shenanigans with the cache and with Jupyter Notebooks
  CHANGES.md
  src/black/handle_ipynb_magics.py
  src/black/mode.py
  tests/test_black.py
  tests/test_ipynb.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.
  tests/test_ipynb.py
Due: none

Harden blackd browser-facing request handling
  CHANGES.md
  docs/usage_and_configuration/black_as_a_server.md
  src/blackd/__init__.py
  src/blackd/middlewares.py
  tests/test_blackd.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

reformat
  src/blackd/__init__.py
Due: none

Remove unused internal code
  src/black/mode.py
  src/black/nodes.py
  src/black/parsing.py
Due: none

Add changelog entry for #5041
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove changelog entry per reviewer request
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Remove unused internal code (#5041)
  src/black/mode.py
  src/black/nodes.py
  src/black/parsing.py
Due: none

.
  src/black/lines.py
Due: none

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(profiling/|tests/data/)
