Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(src/blib2to3/|profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==5.4.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: ^docs/conf.py
        additional_dependencies:
          - types-dataclasses >= 0.1.3
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - types-typed-ast >= 1.4.1
          - click >= 8.1.0
          - packaging >= 22.0
          - platformdirs >= 2.1.0
          - pytest
          - hypothesis

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

chore: specify config in pre-commit config
  .pre-commit-config.yaml
Due: none

Create Kero-u
  Kero-u
Due: none

style(build): update mypy ignores
  pyproject.toml
Due: none

Fix an example for 'Improved parentheses management'
  docs/the_black_code_style/future_style.md
Due: none

Fix an example for 'Improved parentheses management' in the (future of the) Black code style (#3635)
  docs/the_black_code_style/future_style.md
Due: none

Do not wrap implicitly concatenated strings used as func args in parens.
  CHANGES.md
  src/black/__init__.py
  src/black/mode.py
  src/black/parsing.py
  src/black/trans.py
  tests/data/preview/cantfit.py
  tests/data/preview/long_strings.py
  tests/data/preview/long_strings__regression.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Create Decisiontree
  Decisiontree
Due: none

Explicitly annotate this with `Final[str]` to make it work in mypyc 1.0.0+.
  src/blib2to3/pgen2/tokenize.py
Due: none

Explicitly annotate this with `Final[str]` to make it work in mypyc 1.0.0+. (#3645)
  src/blib2to3/pgen2/tokenize.py
Due: none

Fix two more mypyc issues with v1.2.0.
  src/black/lines.py
  src/black/nodes.py
Due: none

Fix two more mypyc issues with mypyc v1.2.0. (#3648)
  src/black/lines.py
  src/black/nodes.py
Due: none

Documented black-jupyter better with an example
  docs/integrations/source_version_control.md
Due: check-pre-commit-rev-in-example

Accommodating prettier linter not liking semantic line feeds in README
  docs/integrations/source_version_control.md
Due: check-pre-commit-rev-in-example

Update docs/integrations/source_version_control.md
  docs/integrations/source_version_control.md
Due: check-pre-commit-rev-in-example

Moved other pre-commit config to use 3.11 and moved down black-jupyter version below the YAML sample
  docs/integrations/source_version_control.md
Due: check-pre-commit-rev-in-example

Removed description field in favor of more explicit Markdown docs
  docs/integrations/source_version_control.md
Due: check-pre-commit-rev-in-example

Document black-jupyter hook (#3650)
  docs/integrations/source_version_control.md
Due: check-pre-commit-rev-in-example

docs: update note on GitHub .git-blame-ignore-revs support
  docs/guides/introducing_black_to_your_project.md
Due: none

Fix "# pyright: ignore" comment mobility
  CHANGES.md
  src/black/nodes.py
  tests/data/preview/comments7.py
  tests/data/preview/prefer_rhs_split.py
  tests/data/simple_cases/comments6.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Marginally improve performance
  src/black/nodes.py
Due: none

Do not wrap implicitly concatenated strings used as func args in parens (#3640)
  CHANGES.md
  src/black/__init__.py
  src/black/mode.py
  src/black/parsing.py
  src/black/trans.py
  tests/data/preview/cantfit.py
  tests/data/preview/long_strings.py
  tests/data/preview/long_strings__regression.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update wording in README
  README.md
Due: none

Add option to choose single/double quote
  pyproject.toml
  src/cercis/__init__.py
  src/cercis/const.py
  src/cercis/linegen.py
  src/cercis/mode.py
  src/cercis/strings.py
  src/cercis/trans.py
Due: none

Change example from `%%writeline` to `%%writefile`
  docs/faq.md
Due: none

Fix new mypy error in blib2to3
  src/blib2to3/pgen2/tokenize.py
Due: none

fix mypy
  src/blib2to3/pgen2/tokenize.py
Due: none

diiff
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

prettier
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

fix one
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

fix labels
  docs/the_black_code_style/current_style.md
  docs/the_black_code_style/future_style.md
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

fix version
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Fix crash
  src/blib2to3/pgen2/tokenize.py
  tests/data/simple_cases/fstring.py
Due: none

Fix new mypy error in blib2to3 (#3674)
  src/blib2to3/pgen2/tokenize.py
  tests/data/simple_cases/fstring.py
Due: none

blib2to3: add a few annotations
  src/blib2to3/pgen2/tokenize.py
Due: none

reformat
  src/blib2to3/pgen2/tokenize.py
Due: none

add return annotation
  src/blib2to3/pgen2/tokenize.py
Due: none

blib2to3: add a few annotations (#3675)
  src/blib2to3/pgen2/tokenize.py
Due: none

blackd: fix issue for mishandling single character input
  CHANGES.md
  src/blackd/__init__.py
  tests/test_blackd.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

add option: allow_block_newline
  src/black/__init__.py
  src/black/lines.py
  src/black/mode.py
  src/blackd/__init__.py
  tests/data/miscellaneous/allow_newline_after_code_block_open.py
  tests/test_format.py
Due: none
