Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          - beautifulsoup4>=4.14.2
          - commonmark==0.9.1
          - pyyaml==6.0.1

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies:
          - beautifulsoup4>=4.14.2
          - commonmark==0.9.1

  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==24.2.6
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        exclude: ^docs/conf.py$
        args: []
        additional_dependencies:
          # Click is intentionally out-of-sync with pyproject.toml
          # v8.2 has breaking changes. We work around them at runtime, but we need the newer stubs.
          - click>=8.2.0
          - packaging>=22.0
          - platformdirs>=2
          - pytokens>=0.3.0
          - tomli>=1.1.0,<2.0.0

          # blackd
          - aiohttp>=3.10

          # tests
          - pytest>=7

          # fuzz
          - hypothesis
          - hypothesmith
          - types-atheris

          # diff-shades
          - urllib3

          # version check
          - beautifulsoup4>=4.14.2
          - types-commonmark
          - types-pyyaml

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: weekly

Fix docstring changelog PR reference
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Do not split a docstring on non-newline characters (#5461)
  CHANGES.md
  src/black/strings.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix GitHub Action crash on dependency-group includes
  CHANGES.md
  action/main.py
  tests/test_github_action.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add PR number to changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add --cache-dir CLI option
  CHANGES.md
  docs/usage_and_configuration/file_collection_and_discovery.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
  src/black/cache.py
  src/black/concurrency.py
  src/black/nodes.py
  src/black/resources/black.schema.json
  src/blib2to3/pgen2/driver.py
  src/blib2to3/pygram.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Address cache review feedback
  docs/usage_and_configuration/file_collection_and_discovery.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
  src/black/cache.py
  src/black/resources/black.schema.json
  tests/test_black.py
Due: check-version-in-the-basics-example

Handle unusable cache directories
  src/black/__init__.py
  tests/test_black.py
Due: none

Prepare release
  .github/workflows/changelog.yml
  .github/workflows/cut_release.yml
  .github/workflows/prepare_release.yml
  CHANGES.md
  docs/contributing/issue_triage.md
  docs/integrations/github_actions.md
  scripts/release.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Address cache review feedback
  src/black/__init__.py
  src/black/cache.py
  src/black/concurrency.py
  tests/test_black.py
Due: none

fix comment
  .github/workflows/prepare_release.yml
  docs/contributing/issue_triage.md
  docs/contributing/release_process.md
Due: none

Fix typos in changelog (#5295)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

last fixes
  .github/workflows/prepare_release.yml
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Document what _ends_with_comment checks
  src/black/ranges.py
Due: none

Avoid unnecessary parens for unbreakable RHS in assignments (#3954)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  scripts/diff_shades_gha_helper.py
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_avoid_parens_for_unbreakable_rhs_in_assignments.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prepare release 26.10.0 (#5478)
  .github/workflows/changelog.yml
  .github/workflows/cut_release.yml
  .github/workflows/prepare_release.yml
  CHANGES.md
  docs/contributing/release_process.md
  docs/guides/using_black_with_jupyter_notebooks.md
  docs/integrations/github_actions.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
  scripts/release.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add new changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add new changelog (#5480)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Keep commented expressions together in preview (#4026, #3713)
  .github/workflows/changelog.yml
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_keep_commented_expressions_together.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix long notebook magic assignments being wrapped in parentheses
  CHANGES.md
  src/black/handle_ipynb_magics.py
  tests/test_ipynb.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Don't remove backslash-newlines from raw strings in string_processing
  src/black/trans.py
  tests/data/cases/preview_long_strings__raw_backslash_continuation.py
Due: none

Add changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update contribution docs
  docs/contributing/issue_triage.md
  docs/contributing/the_basics.md
Due: check-version-in-the-basics-example

Fix changelog check
  .github/workflows/changelog.yml
Due: none

test changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

revert changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

reproofread contributing basics
  docs/contributing/the_basics.md
Due: check-version-in-the-basics-example

Update contributing guidlines (#5483)
  .github/workflows/changelog.yml
  docs/contributing/issue_triage.md
  docs/contributing/the_basics.md
Due: check-version-in-the-basics-example

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix GitHub Action crash on dependency-group includes (#5479)
  CHANGES.md
  action/main.py
  tests/test_github_action.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Avoid unnecessary parens for unbreakable RHS in assignments (#3954) (#5473)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  scripts/diff_shades_gha_helper.py
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_avoid_parens_for_unbreakable_rhs_in_assignments.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix long notebook magic assignments being wrapped in parentheses (#5481)
  CHANGES.md
  src/black/handle_ipynb_magics.py
  tests/test_ipynb.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Don't remove backslash-newlines from raw strings in string_processing (#5482)
  CHANGES.md
  src/black/trans.py
  tests/data/cases/preview_long_strings__raw_backslash_continuation.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix unnecessary line breaks for expressions with comments under preview (#4026, #3713) (#5455)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/lines.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_keep_commented_expressions_together.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add --cache-dir command-line option (#5433)
  CHANGES.md
  docs/usage_and_configuration/file_collection_and_discovery.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
  src/black/cache.py
  src/black/concurrency.py
  src/black/nodes.py
  src/black/resources/black.schema.json
  src/blib2to3/pgen2/driver.py
  src/blib2to3/pygram.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Put nested config fix in configuration changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Anchor exclusions to an explicit ancestor config
  README.md
  docs/usage_and_configuration/the_basics.md
  src/black/__init__.py
  tests/test_black.py
Due: check-version-in-the-basics-example

Document nested config root fix
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Place config guidance beside README documentation links
  README.md
Due: none

Fix line-range mapping for repeated unchanged lines
  README.md
  docs/usage_and_configuration/the_basics.md
  src/black/ranges.py
  tests/data/cases/line_ranges_diff_edge_case.py
  tests/test_black.py
  tests/test_ranges.py
Due: check-version-in-the-basics-example
