Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==6.0.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        exclude: ^(docs/conf.py|scripts/generate_schema.py)$
        args: []
        additional_dependencies: &mypy_deps
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - click >= 8.1.0, != 8.1.4, != 8.1.5
          - packaging >= 22.0
          - platformdirs >= 2.1.0
          - pytest
          - hypothesis
          - aiohttp >= 3.7.4
          - types-commonmark
          - urllib3
          - hypothesmith
      - id: mypy
        name: mypy (Python 3.10)
        files: scripts/generate_schema.py
        args: ["--python-version=3.10"]
        additional_dependencies: *mypy_deps

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: quarterly

Apply suggestions from code review
  docs/faq.md
  docs/guides/using_black_with_other_tools.md
  docs/the_black_code_style/current_style.md
Due: none

actually, black does not condense `pass`
  docs/guides/using_black_with_other_tools.md
Due: none

fix: other forgotten import
  src/black/linegen.py
Due: none

fix: minor issue with schemastore part of script (#4195)
  scripts/generate_schema.py
Due: none

Ignore pyproject.toml missing tool.black section
  docs/usage_and_configuration/the_basics.md
  src/black/files.py
  tests/test_black.py
Due: check-version-in-the-basics-example

changes
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Ignore pyproject.toml missing tool.black section (#4204)
  CHANGES.md
  docs/usage_and_configuration/the_basics.md
  src/black/files.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Apply suggestions from code review
  src/black/linegen.py
  src/black/nodes.py
Due: none

Move hug_parens_with_braces_and_square_brackets into the unstable style (#4198)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/mode.py
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets.py
  tests/data/cases/preview_hug_parens_with_braces_and_square_brackets_no_ll1.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: Refactor pycodestyle/Flake8 compatibility docs (#4194)
  .flake8
  docs/compatible_configs/flake8/.flake8
  docs/compatible_configs/flake8/setup.cfg
  docs/compatible_configs/flake8/tox.ini
  docs/compatible_configs/pycodestyle/.flake8
  docs/compatible_configs/pycodestyle/setup.cfg
  docs/compatible_configs/pycodestyle/tox.ini
  docs/faq.md
  docs/guides/using_black_with_other_tools.md
  docs/the_black_code_style/current_style.md
Due: none

Clearer error messages and handeling for different versions.
  src/black/parsing.py
Due: none

Update CHANGES.md to include the correct PR number, not the issue number it is trying to fix
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Move the change log to the unreleased section
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix a bug where the doublestar operation had inconsistent formatting.
  CHANGES.md
  src/black/trans.py
  tests/data/cases/power_op_spacing.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Move the changes comment into the preview section and remove the unnecessary boolean
  CHANGES.md
  src/black/trans.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update CHANGES.md from `/*/*` to `**`
  docs/the_black_code_style/future_style.md
Due: none

Apply suggestions from code review
  src/black/trans.py
Due: none

Update power_op_spacing.py
  tests/data/cases/power_op_spacing.py
Due: none

Add the newly updated is simple lookup function to the preview mode. Also update test case to use latin letters
  src/black/mode.py
  src/black/trans.py
  tests/data/cases/is_simple_lookup_for_doublestar_expression.py
  tests/data/cases/power_op_spacing.py
Due: none

Update trans.py docstring for handle_is_simple_look_up_prev
  src/black/trans.py
Due: none

Update trans.py
  src/black/trans.py
Due: none

Address comments in the revision to remove duplicate test case and fix grammer issue
  src/black/resources/black.schema.json
  src/black/trans.py
  tests/data/cases/is_simple_lookup_for_doublestar_expression.py
Due: none

fix unc path bug
  src/black/files.py
  tests/test_black.py
Due: none

Call resolve in get_sources function
  CHANGES.md
  src/black/__init__.py
  src/black/files.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: additional newline added to docstring when the previous line length is less than the line length limit minus 1 (#4185)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/docstring_newline_preview.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: bug where the doublestar operation had inconsistent formatting. (#4154)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/mode.py
  src/black/resources/black.schema.json
  src/black/trans.py
  tests/data/cases/is_simple_lookup_for_doublestar_expression.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

enable test for all python version
  tests/test_black.py
Due: none

fix pre-commit
  tests/test_black.py
Due: none

Remove redundant parentheses in `case` statement `if` guards:
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  tests/data/cases/remove_redundant_parens_in_case_guard.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Rebuild `black.schema.json`
  src/black/resources/black.schema.json
Due: none

Add more tests with comments
  tests/data/cases/remove_redundant_parens_in_case_guard.py
Due: none

Remove redundant parentheses in `case` statement `if` guards (#4214)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/linegen.py
  src/black/mode.py
  src/black/resources/black.schema.json
  tests/data/cases/remove_redundant_parens_in_case_guard.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: resolve symlinks when checking which files to format
  src/black/files.py
Due: none

Ensure pygram is initialized before use
  src/blib2to3/pytree.py
Due: none

Use W503 instead of E704 in examples
  docs/guides/using_black_with_other_tools.md
Due: none

fix: Don't remove comments along with parens
  CHANGES.md
  src/black/linegen.py
  tests/data/cases/comments_in_double_parens.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: Better approach
  CHANGES.md
  src/black/linegen.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Simplify check for symlinks that resolve outside root
  src/black/__init__.py
  src/black/files.py
  tests/test_black.py
Due: none

catch os.getcwd
  src/black/files.py
Due: none
