Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - commonmark==0.9.1
  - pyyaml==5.4.1
  - beautifulsoup4==4.9.3

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - commonmark==0.9.1
  - pyyaml==5.4.1
  - beautifulsoup4==4.9.3

changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

add conditional nested class
  tests/data/stub.pyi
Due: none

Treat blank lines in stubs the same inside top-level `if` statements (#2820)
  CHANGES.md
  src/black/lines.py
  tests/data/stub.pyi
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

torture test (#2815)
  tests/data/torture.py
  tests/test_format.py
Due: none

Formalise style preference description (#2818)
  docs/the_black_code_style/current_style.md
  docs/the_black_code_style/index.rst
Due: none

Fix arithmetic stability issue (#2817)
  CHANGES.md
  src/black/linegen.py
  src/black/nodes.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

test fixes
  tests/data/power_op_newline.py
  tests/data/torture.py
Due: none

format twice again
  src/black/__init__.py
Due: none

fix torture again
  tests/data/torture.py
Due: none

Fix instability due to trailing comma logic (#2572)
  CHANGES.md
  src/black/__init__.py
  src/black/linegen.py
  src/black/lines.py
  src/black/nodes.py
  tests/data/function_trailing_comma.py
  tests/data/long_strings_flag_disabled.py
  tests/data/torture.py
  tests/data/trailing_comma_optional_parens1.py
  tests/data/trailing_comma_optional_parens2.py
  tests/data/trailing_comma_optional_parens3.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add a test case to torture.py
  tests/data/torture.py
Due: none

Add a test case to torture.py (#2822)
  tests/data/torture.py
Due: none

Reword docs and changelog
  CHANGES.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update classifiers to reflect stable
  setup.py
Due: none

Update classifiers to reflect stable (#2823)
  setup.py
Due: none

Remove test suite from setup.py
  setup.py
Due: none

Remove test suite from setup.py (#2824)
  setup.py
Due: none

Fix changelog entries in the wrong release
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix changelog entries in the wrong release (#2825)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prepare docs for release 22.1.0
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prepare docs for release 22.1.0 (GH-2826)
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Soft comparison of --required-version
  src/black/__init__.py
Due: none

Add test
  tests/test_black.py
Due: none

Add entry in changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update CHANGES.md
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Adjust `--preview` documentation
  src/black/__init__.py
Due: none

Fix verification
  src/black/__init__.py
Due: none

Exclude __pypackages__ by default
  src/black/const.py
Due: none

Adjust `--preview` documentation (#2833)
  src/black/__init__.py
Due: none

Add test with different minor version
  tests/test_black.py
Due: none

Exclude __pypackages__ by default (GH-2836)
  CHANGES.md
  src/black/const.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add doc to the flag
  src/black/__init__.py
Due: none

Update src/black/__init__.py
  src/black/__init__.py
Due: none

release process: formalize the changelog template
  docs/contributing/release_process.md
Due: none

Update tests/test_black.py
  tests/test_black.py
Due: none

Soft comparison of --required-version (#2832)
  CHANGES.md
  src/black/__init__.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

document all the config options
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

prettier
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(src/blib2to3/|profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(src/blib2to3/|profiling/|tests/data/)
