Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in docs/integrations/source_version_control.md
exclude: ^(profiling/|tests/data/)
repos:
  - repo: local
    hooks:
      - id: check-pre-commit-rev-in-example
        name: Check pre-commit rev in example
        language: python
        entry: python -m scripts.check_pre_commit_rev_in_example
        files: '(CHANGES\.md|source_version_control\.md)$'
        additional_dependencies:
          &version_check_dependencies [
            commonmark==0.9.1,
            pyyaml==6.0.1,
            beautifulsoup4==4.9.3,
          ]

      - id: check-version-in-the-basics-example
        name: Check black version in the basics example
        language: python
        entry: python -m scripts.check_version_in_basics_example
        files: '(CHANGES\.md|the_basics\.md)$'
        additional_dependencies: *version_check_dependencies

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify
        exclude: ^src/blib2to3/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        exclude: ^(docs/conf.py|scripts/generate_schema.py)$
        args: []
        additional_dependencies: &mypy_deps
          - types-PyYAML
          - tomli >= 0.2.6, < 2.0.0
          - click >= 8.1.0, != 8.1.4, != 8.1.5
          - packaging >= 22.0
          - platformdirs >= 2.1.0
          - pytest
          - hypothesis
          - aiohttp >= 3.7.4
          - types-commonmark
          - urllib3
          - hypothesmith
      - id: mypy
        name: mypy (Python 3.10)
        files: scripts/generate_schema.py
        args: ["--python-version=3.10"]
        additional_dependencies: *mypy_deps

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        exclude: \.github/workflows/diff_shades\.yml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci:
  autoupdate_schedule: quarterly

fix: Enhace black efficiently to skip directories listed in .gitignore
  src/black/files.py
Due: none

tests: Add test for skip directories listed in .gitignore
  tests/data/ignore_directory_gitignore_tests/abc.py
  tests/data/ignore_directory_gitignore_tests/large_ignored_dir_two/a.py
  tests/data/ignore_directory_gitignore_tests/large_ignored_dir_two/inner/b.py
  tests/data/ignore_directory_gitignore_tests/large_ignored_dir_two/inner2/c.py
  tests/data/ignore_directory_gitignore_tests/large_ignored_dir_two/inner3/d.py
  tests/data/ignore_directory_gitignore_tests/z.py
  tests/test_black.py
Due: none

tests: Add test for skip directories listed in .gitignore
  tests/data/ignore_directory_gitignore_tests/.gitignore
Due: none

fix: formatting
  tests/test_black.py
Due: none

fix: respect braces better in f-string parsing
  src/blib2to3/pgen2/tokenize.py
  tests/data/cases/pep_701.py
Due: none

de-duplicate the two regexes
  src/blib2to3/pgen2/tokenize.py
Due: none

Fix incorrect linenos on fstring tokens with escaped newlines
  CHANGES.md
  src/blib2to3/pgen2/tokenize.py
  tests/test_tokenize.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

format
  tests/test_tokenize.py
Due: none

fix 3.8
  tests/test_tokenize.py
Due: none

fix the regex some more
  src/blib2to3/pgen2/tokenize.py
  tests/data/cases/pep_701.py
Due: none

newline at the end
  tests/data/cases/pep_701.py
Due: none

Add changelog entry
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

capitalization
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix incorrect linenos on fstring tokens with escaped newlines (#4423)
  CHANGES.md
  src/blib2to3/pgen2/tokenize.py
  tests/test_tokenize.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: respect braces better in f-string parsing (#4422)
  CHANGES.md
  src/blib2to3/pgen2/tokenize.py
  tests/data/cases/pep_701.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: Enhace black efficiently to skip directories listed in .gitignore (#4415)
  CHANGES.md
  src/black/files.py
  tests/data/ignore_directory_gitignore_tests/.gitignore
  tests/data/ignore_directory_gitignore_tests/abc.py
  tests/data/ignore_directory_gitignore_tests/large_ignored_dir_two/a.py
  tests/data/ignore_directory_gitignore_tests/large_ignored_dir_two/inner/b.py
  tests/data/ignore_directory_gitignore_tests/large_ignored_dir_two/inner2/c.py
  tests/data/ignore_directory_gitignore_tests/large_ignored_dir_two/inner3/d.py
  tests/data/ignore_directory_gitignore_tests/z.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prepare release 24.8.0
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Document find_project_root ignoring pyproject.toml w/o tool.black
  src/black/files.py
Due: none

Document `find_project_root` ignoring `pyproject.toml` without `[tool.black]` (#4425)
  src/black/files.py
Due: none

Prepare release 24.8.0 (#4426)
  CHANGES.md
  docs/integrations/source_version_control.md
  docs/usage_and_configuration/the_basics.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add new changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add default exclusions and inclusions to docs
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

Remove myself from docs dependency upgrade reviews
  .github/dependabot.yml
Due: none

Remove myself from docs dependency upgrade reviews (#4433)
  .github/dependabot.yml
Due: none

(fix): error message for plugin
  plugin/black.vim
Due: none

Fix type error in blackd
  src/blackd/middlewares.py
Due: none

.
  src/blackd/middlewares.py
Due: none

Fix type error in blackd (#4442)
  src/blackd/middlewares.py
Due: none

(refactor): define func only if checks fail
  plugin/black.vim
Due: none

fix: fix PEP 646 support of tuple unpacking
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/mode.py
  src/black/nodes.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_pep646_typed_star_arg_type_var_tuple.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

CI: Add Python 3.13 jobs to test matrices Enable Python 3.13 testing in the GitHub Action workflows by adding 3.13 jobs to the test matrices.
  .github/workflows/fuzz.yml
  .github/workflows/release_tests.yml
  .github/workflows/test.yml
Due: none

CI: Keep using Python 3.12 for PyPI test for now
  .github/workflows/pypi_upload.yml
Due: none

Add Python 3.13 classifier and changelog entry
  CHANGES.md
  pyproject.toml
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

CI: Build Python 3.13 wheel in matrix Update the "generate wheels matrix" to build Python 3.13 wheels, instead of 3.12, which is now the highest supported version
  .github/workflows/pypi_upload.yml
Due: none

fix: fix PEP 646 support of tuple unpacking (#4440)
  CHANGES.md
  docs/the_black_code_style/future_style.md
  src/black/mode.py
  src/black/nodes.py
  src/black/resources/black.schema.json
  tests/data/cases/preview_pep646_typed_star_arg_type_var_tuple.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fully support Python 3.13, including CI testing and wheel building (#4436)
  .github/workflows/fuzz.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/release_tests.yml
  .github/workflows/test.yml
  CHANGES.md
  pyproject.toml
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

(chore): improve branching
  plugin/black.vim
Due: none

handle single value return type with comments
  src/black/linegen.py
Due: none
