Repository psf/black: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pre-commit-rev-in-example, check-version-in-the-basics-example

check-pre-commit-rev-in-example:
  name: Check pre-commit rev in example
  language: python
  entry: python -m scripts.check_pre_commit_rev_in_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1
  - pyyaml==6.0.1

check-version-in-the-basics-example:
  name: Check black version in the basics example
  language: python
  entry: python -m scripts.check_version_in_basics_example
  additional_dependencies:
  - beautifulsoup4>=4.14.2
  - commonmark==0.9.1

Address review: improve heuristic and fix docs wording
  docs/the_black_code_style/future_style.md
  src/black/lines.py
  tests/data/cases/preview_prefer_rhs_split_indexed_assignment.py
Due: none

docs: update deprecated PEP URLs to peps.python.org
  docs/guides/using_black_with_other_tools.md
  docs/the_black_code_style/current_style.md
  docs/usage_and_configuration/the_basics.md
Due: check-version-in-the-basics-example

1.20.2
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(fmt: skip): respect skip directive on multi-line compound statements
  src/black/comments.py
Due: none

Upgrade mypy (#5071)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Fix #4730: honor fmt: skip in nested in-clause
  CHANGES.md
  src/black/comments.py
  tests/data/cases/fmtskip_in_clause.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

docs: update deprecated PEP URLs to peps.python.org
  docs/guides/using_black_with_other_tools.md
  docs/the_black_code_style/current_style.md
  docs/usage_and_configuration/the_basics.md
  src/black/strings.py
Due: check-version-in-the-basics-example

docs: update deprecated PEP URLs to peps.python.org (#5115)
  docs/guides/using_black_with_other_tools.md
  docs/the_black_code_style/current_style.md
  docs/usage_and_configuration/the_basics.md
  src/black/strings.py
Due: check-version-in-the-basics-example

Bump Sphinx and myst-parser
  pyproject.toml
Due: none

Bump Sphinx to latest
  pyproject.toml
Due: none

Change `intersphinx_mapping` key Sphinx was trying to use it as part of a cache file name It crashed on Windows because Windows doesn't allow `<``>` in file names
  docs/conf.py
Due: none

Fix RHS subscript chain split regression in _prefer_split_rhs_oop_over_rhs
  src/black/linegen.py
  tests/data/cases/prefer_rhs_split.py
  tests/data/cases/prefer_rhs_split_reformatted.py
Due: none

Reformat black's own source files after linegen change
  src/black/__init__.py
  src/black/_width_table.py
  src/black/trans.py
  tests/test_black.py
Due: none

Gate RHS subscript-chain guard behind preview flag
  src/black/linegen.py
Due: none

Revert self-reformatted source files to pre-self-formatting state
  src/black/__init__.py
  src/black/_width_table.py
  src/black/trans.py
  tests/test_black.py
Due: none

Fix two precision bugs in indexed-assignment formatting
  src/black/linegen.py
  src/black/lines.py
Due: none

Add changelog entries for SourceASTParseError and blackd error handling
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: edge case handling in diff shades helper
  scripts/diff_shades_gha_helper.py
Due: none

Fix blackd error handling: split SourceASTParseError from ASTSafetyError (#5080)
  CHANGES.md
  src/black/__init__.py
  src/black/parsing.py
  src/blackd/__init__.py
  tests/test_black.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Preserve multiline headers with fmt skip
  src/black/comments.py
  tests/data/cases/fmtskip_class_header.py
Due: none

Add changelog entry for fmt skip fix
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update README.md
  README.md
Due: none

Expand fmt skip multiline header tests
  tests/data/cases/fmtskip_class_header.py
Due: none

Fix fmt: skip failing to parse multiline case statements with backslash continuation
  src/black/comments.py
  tests/data/cases/fmtskip14.py
Due: none

Add changelog entry for #5123
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Update changelog entry with correct upstream PR number (#6774)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Fix changelog PR reference back to #5123 (psf/black PR number)
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

fix: V-002 security vulnerability
  autoload/black.vim
Due: none

Add CI coverage for Python 3.15
  .github/workflows/fuzz.yml
  .github/workflows/release_tests.yml
  .github/workflows/test.yml
  pyproject.toml
  tox.ini
Due: none

CHANGES
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

no fuzz no fuss
  .github/workflows/fuzz.yml
Due: none

mention wheels
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add more test cases from #5114 and #5123
  tests/data/cases/fmtskip_class_header.py
Due: none

Update comments.py
  src/black/comments.py
Due: none

Preserve multiline headers with fmt skip (#5117)
  CHANGES.md
  src/black/comments.py
  tests/data/cases/fmtskip_class_header.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add no_color
  src/black/output.py
  src/black/report.py
  tests/test_black.py
Due: none

Prepare release 26.5.0
  CHANGES.md
  docs/contributing/release_process.md
  docs/guides/using_black_with_jupyter_notebooks.md
  docs/integrations/editors.md
  docs/integrations/github_actions.md
  docs/integrations/source_version_control.md
  docs/the_black_code_style/index.md
  docs/usage_and_configuration/the_basics.md
  scripts/release.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Prepare release 26.5.0 (#5131)
  CHANGES.md
  docs/contributing/release_process.md
  docs/guides/using_black_with_jupyter_notebooks.md
  docs/integrations/editors.md
  docs/integrations/github_actions.md
  docs/integrations/source_version_control.md
  docs/the_black_code_style/index.md
  docs/usage_and_configuration/the_basics.md
  scripts/release.py
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Add new changelog
  CHANGES.md
Due: check-pre-commit-rev-in-example, check-version-in-the-basics-example

Path conditions:
  check-pre-commit-rev-in-example: any of: (CHANGES\.md|source_version_control\.md)$, but not: ^(profiling/|tests/data/)
  check-version-in-the-basics-example: any of: (CHANGES\.md|the_basics\.md)$, but not: ^(profiling/|tests/data/)
